doctype html
//
	Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
	Version: 4.7.5
	Author: KeenThemes
	Website: http://www.keenthemes.com/
	Contact: support@keenthemes.com
	Follow: www.twitter.com/keenthemes
	Dribbble: www.dribbble.com/keenthemes
	Like: www.facebook.com/keenthemes
	Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
	Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
	License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
//if IE 8
	html.ie8.no-js(lang='en')  
//if IE 9
	html.ie9.no-js(lang='en')  
// [if !IE] <!
html(lang='en')
	// <![endif]
	// BEGIN HEAD
	head
		meta(charset='utf-8')
		title Re-Tinta | Markdown & WYSIWYG Editors
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(content='width=device-width, initial-scale=1', name='viewport')
		meta(content='Preview page of Re-Tinta for bootstrap markdown & wysiwyg editors', name='description')
		meta(content='', name='author')
		// BEGIN GLOBAL MANDATORY STYLES
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
		// END GLOBAL MANDATORY STYLES
		// BEGIN PAGE LEVEL PLUGINS
		link(href='../../../public/assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/jquery-minicolors/jquery.minicolors.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/bootstrap-summernote/summernote.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/nouislider/nouislider.min.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/plugins/nouislider/nouislider.pips.css', rel='stylesheet', type='text/css')
		// END PAGE LEVEL PLUGINS
		// BEGIN THEME GLOBAL STYLES
		link#style_components(href='../../../public/assets/global/css/components-rounded.min.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/global/css/plugins.min.css', rel='stylesheet', type='text/css')
		// END THEME GLOBAL STYLES
		// BEGIN THEME LAYOUT STYLES
		link(href='../../../public/assets/layouts/layout2/css/layout.css', rel='stylesheet', type='text/css')
		link#style_color(href='../../../public/assets/layouts/layout2/css/themes/blue.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/layouts/layout2/css/custom.css', rel='stylesheet', type='text/css')
		// END THEME LAYOUT STYLES
		// BEGIN PAGE LEVEL STYLES
		link(href='../../../public/assets/pages/css/class.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/pages/css/star-rating.css', rel='stylesheet', type='text/css')
		link(href='../../../public/assets/pages/css/blog.min.css', rel='stylesheet', type='text/css')
		// END PAGE LEVEL STYLES
		link(rel='shortcut icon', href='\assets\global\img\favicon.ico')
	// END HEAD
	body.page-header-fixed.page-sidebar-closed-hide-logo.page-container-bg-solid
		// BEGIN HEADER
		.page-header.navbar.navbar-fixed-top
			// BEGIN HEADER INNER
			.page-header-inner
				// BEGIN LOGO
				.page-logo
					//
						<a href="index.html">
						<img src="../../../public/assets/layouts/layout2/img/logo-default.png" alt="logo" class="" /> </a>
					.menu-toggler.sidebar-toggler
						// DOC: Remove the above "hide" to enable the sidebar toggler button on header
				// END LOGO
				// BEGIN RESPONSIVE MENU TOGGLER
				a.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse',style='margin-bottom:22px;margin-top:24px;')  
				// END RESPONSIVE MENU TOGGLER
				// BEGIN PAGE ACTIONS
				// END PAGE ACTIONS
				// BEGIN PAGE TOP
				.page-top
					// BEGIN HEADER SEARCH BOX
					// DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box
					form.search-form.search-form-expanded(action='page_general_search_3.html', method='GET')
						.input-group
							input.form-control(type='text', placeholder='Buscar...', name='query')
							span.input-group-btn
								a.btn.submit(href='javascript:;')
									i.icon-magnifier
					// END HEADER SEARCH BOX
					// BEGIN TOP NAVIGATION MENU
					.top-menu
						ul.nav.navbar-nav.pull-right
							// BEGIN NOTIFICATION DROPDOWN
							// DOC: Apply "dropdown-dark" class below "dropdown-extended" to change the dropdown styte
							// DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode
							// DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class
							//- li#header_notification_bar.dropdown.dropdown-extended.dropdown-notification
								a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
									i.icon-bell
									span.badge.badge-default  7 
								ul.dropdown-menu
									li.external
										h3
											span.bold 12 pending
											|  notifications
										a(href='page_user_profile_1.html') view all
									li
										ul.dropdown-menu-list.scroller(style='height: 250px;', data-handle-color='#637283')
											li
												a(href='javascript:;')
													span.time just now
													span.details
														span.label.label-sm.label-icon.label-success
															i.fa.fa-plus
														|  New user registered.
											li
												a(href='javascript:;')
													span.time 3 mins
													span.details
														span.label.label-sm.label-icon.label-danger
															i.fa.fa-bolt
														|  Server #12 overloaded.
											li
												a(href='javascript:;')
													span.time 10 mins
													span.details
														span.label.label-sm.label-icon.label-warning
															i.fa.fa-bell-o
														|  Server #2 not responding.
											li
												a(href='javascript:;')
													span.time 14 hrs
													span.details
														span.label.label-sm.label-icon.label-info
															i.fa.fa-bullhorn
														|  Application error.
											li
												a(href='javascript:;')
													span.time 2 days
													span.details
														span.label.label-sm.label-icon.label-danger
															i.fa.fa-bolt
														|  Database overloaded 68%.
											li
												a(href='javascript:;')
													span.time 3 days
													span.details
														span.label.label-sm.label-icon.label-danger
															i.fa.fa-bolt
														|  A user IP blocked.
											li
												a(href='javascript:;')
													span.time 4 days
													span.details
														span.label.label-sm.label-icon.label-warning
															i.fa.fa-bell-o
														|  Storage Server #4 not responding dfdfdfd.
											li
												a(href='javascript:;')
													span.time 5 days
													span.details
														span.label.label-sm.label-icon.label-info
															i.fa.fa-bullhorn
														|  System Error.
											li
												a(href='javascript:;')
													span.time 9 days
													span.details
														span.label.label-sm.label-icon.label-danger
															i.fa.fa-bolt
														|  Storage server failed.
							// END NOTIFICATION DROPDOWN
							// BEGIN INBOX DROPDOWN
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							//- li#header_inbox_bar.dropdown.dropdown-extended.dropdown-inbox
								a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
									i.icon-envelope-open
									span.badge.badge-default  4 
								ul.dropdown-menu
									li.external
										h3
											| You have
											span.bold 7 New
											|  Messages
										a(href='app_inbox.html') view all
									li
										ul.dropdown-menu-list.scroller(style='height: 275px;', data-handle-color='#637283')
											li
												a(href='#')
													span.photo
														img.img-circle(src='../../../public/assets/layouts/layout3/img/avatar2.jpg', alt='')
													span.subject
														span.from  Lisa Wong 
														span.time Just Now 
													span.message
														| Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh.
											li
												a(href='#')
													span.photo
														img.img-circle(src='../../../public/assets/layouts/layout3/img/avatar3.jpg', alt='')
													span.subject
														span.from  Richard Doe 
														span.time 16 mins 
													span.message
														| Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh.
											li
												a(href='#')
													span.photo
														img.img-circle(src='../../../public/assets/layouts/layout3/img/avatar1.jpg', alt='')
													span.subject
														span.from  Bob Nilson 
														span.time 2 hrs 
													span.message
														| Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh.
											li
												a(href='#')
													span.photo
														img.img-circle(src='../../../public/assets/layouts/layout3/img/avatar2.jpg', alt='')
													span.subject
														span.from  Lisa Wong 
														span.time 40 mins 
													span.message  Vivamus sed auctor 40% nibh congue nibh. 
											li
												a(href='#')
													span.photo
														img.img-circle(src='../../../public/assets/layouts/layout3/img/avatar3.jpg', alt='')
													span.subject
														span.from  Richard Doe 
														span.time 46 mins 
													span.message
														| Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh.
							// END INBOX DROPDOWN
							// BEGIN TODO DROPDOWN
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							//- li#header_task_bar.dropdown.dropdown-extended.dropdown-tasks
								a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
									i.icon-calendar
									span.badge.badge-default  3 
								ul.dropdown-menu.extended.tasks
									li.external
										h3
											| You have
											span.bold 12 pending
											|  tasks
										a(href='app_todo.html') view all
									li
										ul.dropdown-menu-list.scroller(style='height: 275px;', data-handle-color='#637283')
											li
												a(href='javascript:;')
													span.task
														span.desc New release v1.2 
														span.percent 30%
													span.progress
														span.progress-bar.progress-bar-success(style='width: 40%;', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 40% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Application deployment
														span.percent 65%
													span.progress
														span.progress-bar.progress-bar-danger(style='width: 65%;', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 65% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Mobile app release
														span.percent 98%
													span.progress
														span.progress-bar.progress-bar-success(style='width: 98%;', aria-valuenow='98', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 98% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Database migration
														span.percent 10%
													span.progress
														span.progress-bar.progress-bar-warning(style='width: 10%;', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 10% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Web server upgrade
														span.percent 58%
													span.progress
														span.progress-bar.progress-bar-info(style='width: 58%;', aria-valuenow='58', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 58% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Mobile development
														span.percent 85%
													span.progress
														span.progress-bar.progress-bar-success(style='width: 85%;', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 85% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc New UI release
														span.percent 38%
													span.progress.progress-striped
														span.progress-bar.progress-bar-important(style='width: 38%;', aria-valuenow='18', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 38% Complete
							// END TODO DROPDOWN
							// BEGIN USER LOGIN DROPDOWN
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							li.dropdown.dropdown-user
								a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
									img.img-circle(alt='', src='../../../public/assets/layouts/layout2/img/avatar3_small.jpg')
									span.username.username-hide-on-mobile  Nick 
									i.fa.fa-angle-down
								ul.dropdown-menu.dropdown-menu-default
									li
										a(href='page_user_profile_1.html')
											i.icon-user
											|  Mis Clases
									li
										a(href='page_user_login_1.html')
											i.icon-key
											|  Log Out
							// END USER LOGIN DROPDOWN
							// BEGIN QUICK SIDEBAR TOGGLER
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							li.dropdown.dropdown-extended.quick-sidebar-toggler
								span.sr-only Toggle Quick Sidebar
								i.icon-logout
							// END QUICK SIDEBAR TOGGLER
					// END TOP NAVIGATION MENU
				// END PAGE TOP
			// END HEADER INNER
		// END HEADER
		// BEGIN HEADER & CONTENT DIVIDER
		.clearfix  
		// END HEADER & CONTENT DIVIDER
		// BEGIN CONTAINER
		.page-container
			// BEGIN SIDEBAR
			.page-sidebar-wrapper
				// END SIDEBAR
				// DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
				// DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
				.page-sidebar.navbar-collapse.collapse
					// BEGIN SIDEBAR MENU
					// DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
					// DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
					// DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
					// DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
					// DOC: Set data-keep-expand="true" to keep the submenues expanded
					// DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
					ul.page-sidebar-menu.page-header-fixed.page-sidebar-menu-hover-submenu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
						li.nav-item.start
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-home
								span.title Dashboard
								span.arrow
							ul.sub-menu
								li.nav-item.start
									a.nav-link(href='index.html')
										i.icon-bar-chart
										span.title Dashboard 1
								li.nav-item.start
									a.nav-link(href='dashboard_2.html')
										i.icon-bulb
										span.title Dashboard 2
										span.badge.badge-success 1
								li.nav-item.start
									a.nav-link(href='dashboard_3.html')
										i.icon-graph
										span.title Dashboard 3
										span.badge.badge-danger 5
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-diamond
								span.title UI Features
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='ui_metronic_grid.html')
										span.title Metronic Grid System
								li.nav-item
									a.nav-link(href='ui_colors.html')
										span.title Color Library
								li.nav-item
									a.nav-link(href='ui_general.html')
										span.title General Components
								li.nav-item
									a.nav-link(href='ui_buttons.html')
										span.title Buttons
								li.nav-item
									a.nav-link(href='ui_buttons_spinner.html')
										span.title Spinner Buttons
								li.nav-item
									a.nav-link(href='ui_confirmations.html')
										span.title Popover Confirmations
								li.nav-item
									a.nav-link(href='ui_sweetalert.html')
										span.title Bootstrap Sweet Alerts
								li.nav-item
									a.nav-link(href='ui_icons.html')
										span.title Font Icons
								li.nav-item
									a.nav-link(href='ui_socicons.html')
										span.title Social Icons
								li.nav-item
									a.nav-link(href='ui_typography.html')
										span.title Typography
								li.nav-item
									a.nav-link(href='ui_tabs_accordions_navs.html')
										span.title Tabs, Accordions & Navs
								li.nav-item
									a.nav-link(href='ui_timeline.html')
										span.title Timeline 1
								li.nav-item
									a.nav-link(href='ui_timeline_2.html')
										span.title Timeline 2
								li.nav-item
									a.nav-link(href='ui_timeline_horizontal.html')
										span.title Horizontal Timeline
								li.nav-item
									a.nav-link(href='ui_tree.html')
										span.title Tree View
								li.nav-item
									a.nav-link.nav-toggle(href='javascript:;')
										span.title Page Progress Bar
										span.arrow
									ul.sub-menu
										li.nav-item
											a.nav-link(href='ui_page_progress_style_1.html')  Flash 
										li.nav-item
											a.nav-link(href='ui_page_progress_style_2.html')  Big Counter 
								li.nav-item
									a.nav-link(href='ui_blockui.html')
										span.title Block UI
								li.nav-item
									a.nav-link(href='ui_bootstrap_growl.html')
										span.title Bootstrap Growl Notifications
								li.nav-item
									a.nav-link(href='ui_notific8.html')
										span.title Notific8 Notifications
								li.nav-item
									a.nav-link(href='ui_toastr.html')
										span.title Toastr Notifications
								li.nav-item
									a.nav-link(href='ui_bootbox.html')
										span.title Bootbox Dialogs
								li.nav-item
									a.nav-link(href='ui_alerts_api.html')
										span.title Metronic Alerts API
								li.nav-item
									a.nav-link(href='ui_session_timeout.html')
										span.title Session Timeout
								li.nav-item
									a.nav-link(href='ui_idle_timeout.html')
										span.title User Idle Timeout
								li.nav-item
									a.nav-link(href='ui_modals.html')
										span.title Modals
								li.nav-item
									a.nav-link(href='ui_extended_modals.html')
										span.title Extended Modals
								li.nav-item
									a.nav-link(href='ui_tiles.html')
										span.title Tiles
								li.nav-item
									a.nav-link(href='ui_datepaginator.html')
										span.title Date Paginator
								li.nav-item
									a.nav-link(href='ui_nestable.html')
										span.title Nestable List
						li.nav-item.active.open
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-puzzle
								span.title Components
								span.selected
								span.arrow.open
							ul.sub-menu
								li.nav-item
									a.nav-link(href='components_date_time_pickers.html')
										span.title Date & Time Pickers
								li.nav-item
									a.nav-link(href='components_color_pickers.html')
										span.title Color Pickers
										span.badge.badge-danger 2
								li.nav-item
									a.nav-link(href='components_select2.html')
										span.title Select2 Dropdowns
								li.nav-item
									a.nav-link(href='components_bootstrap_select.html')
										span.title Bootstrap Select
								li.nav-item
									a.nav-link(href='components_multi_select.html')
										span.title Bootstrap Multiple Select
								li.nav-item
									a.nav-link(href='components_bootstrap_multiselect_dropdown.html')
										span.title Bootstrap Multiselect Dropdowns
								li.nav-item
									a.nav-link(href='components_bootstrap_select_splitter.html')
										span.title Select Splitter
								li.nav-item
									a.nav-link(href='components_clipboard.html')
										span.title Clipboard
								li.nav-item
									a.nav-link(href='components_typeahead.html')
										span.title Typeahead Autocomplete
								li.nav-item
									a.nav-link(href='components_bootstrap_tagsinput.html')
										span.title Bootstrap Tagsinput
								li.nav-item
									a.nav-link(href='components_bootstrap_switch.html')
										span.title Bootstrap Switch
										span.badge.badge-success 6
								li.nav-item
									a.nav-link(href='components_bootstrap_maxlength.html')
										span.title Bootstrap Maxlength
								li.nav-item
									a.nav-link(href='components_bootstrap_fileinput.html')
										span.title Bootstrap File Input
								li.nav-item
									a.nav-link(href='components_bootstrap_touchspin.html')
										span.title Bootstrap Touchspin
								li.nav-item
									a.nav-link(href='components_form_tools.html')
										span.title Form Widgets & Tools
								li.nav-item
									a.nav-link(href='components_context_menu.html')
										span.title Context Menu
								li.nav-item.active.open
									a.nav-link(href='components_editors.html')
										span.title Markdown & WYSIWYG Editors
										span.selected
								li.nav-item
									a.nav-link(href='components_code_editors.html')
										span.title Code Editors
								li.nav-item
									a.nav-link(href='components_ion_sliders.html')
										span.title Ion Range Sliders
								li.nav-item
									a.nav-link(href='components_noui_sliders.html')
										span.title NoUI Range Sliders
								li.nav-item
									a.nav-link(href='components_knob_dials.html')
										span.title Knob Circle Dials
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-settings
								span.title Form Stuff
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='form_controls.html')
										span.title
											| Bootstrap Form
											br
											| Controls
								li.nav-item
									a.nav-link(href='form_controls_md.html')
										span.title
											| Material Design
											br
											| Form Controls
								li.nav-item
									a.nav-link(href='form_validation.html')
										span.title Form Validation
								li.nav-item
									a.nav-link(href='form_validation_states_md.html')
										span.title
											| Material Design
											br
											| Form Validation States
								li.nav-item
									a.nav-link(href='form_validation_md.html')
										span.title
											| Material Design
											br
											| Form Validation
								li.nav-item
									a.nav-link(href='form_layouts.html')
										span.title Form Layouts
								li.nav-item
									a.nav-link(href='form_repeater.html')
										span.title Form Repeater
								li.nav-item
									a.nav-link(href='form_input_mask.html')
										span.title Form Input Mask
								li.nav-item
									a.nav-link(href='form_editable.html')
										span.title Form X-editable
								li.nav-item
									a.nav-link(href='form_wizard.html')
										span.title Form Wizard
								li.nav-item
									a.nav-link(href='form_icheck.html')
										span.title iCheck Controls
								li.nav-item
									a.nav-link(href='form_image_crop.html')
										span.title Image Cropping
								li.nav-item
									a.nav-link(href='form_fileupload.html')
										span.title Multiple File Upload
								li.nav-item
									a.nav-link(href='form_dropzone.html')
										span.title Dropzone File Upload
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-bulb
								span.title Elements
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='elements_steps.html')
										span.title Steps
								li.nav-item
									a.nav-link(href='elements_lists.html')
										span.title Lists
								li.nav-item
									a.nav-link(href='elements_ribbons.html')
										span.title Ribbons
								li.nav-item
									a.nav-link(href='elements_overlay.html')
										span.title Overlays
								li.nav-item
									a.nav-link(href='elements_cards.html')
										span.title User Cards
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-briefcase
								span.title Tables
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='table_static_basic.html')
										span.title Basic Tables
								li.nav-item
									a.nav-link(href='table_static_responsive.html')
										span.title Responsive Tables
								li.nav-item
									a.nav-link(href='table_bootstrap.html')
										span.title Bootstrap Tables
								li.nav-item
									a.nav-link.nav-toggle(href='javascript:;')
										span.title Datatables
										span.arrow
									ul.sub-menu
										li.nav-item
											a.nav-link(href='table_datatables_managed.html')  Managed Datatables 
										li.nav-item
											a.nav-link(href='table_datatables_buttons.html')  Buttons Extension 
										li.nav-item
											a.nav-link(href='table_datatables_colreorder.html')  Colreorder Extension 
										li.nav-item
											a.nav-link(href='table_datatables_rowreorder.html')  Rowreorder Extension 
										li.nav-item
											a.nav-link(href='table_datatables_scroller.html')  Scroller Extension 
										li.nav-item
											a.nav-link(href='table_datatables_fixedheader.html')  FixedHeader Extension 
										li.nav-item
											a.nav-link(href='table_datatables_responsive.html')  Responsive Extension 
										li.nav-item
											a.nav-link(href='table_datatables_editable.html')  Editable Datatables 
										li.nav-item
											a.nav-link(href='table_datatables_ajax.html')  Ajax Datatables 
						li.nav-item
							a.nav-link.nav-toggle(href='?p=')
								i.icon-wallet
								span.title Portlets
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='portlet_boxed.html')
										span.title Boxed Portlets
								li.nav-item
									a.nav-link(href='portlet_light.html')
										span.title Light Portlets
								li.nav-item
									a.nav-link(href='portlet_solid.html')
										span.title Solid Portlets
								li.nav-item
									a.nav-link(href='portlet_ajax.html')
										span.title Ajax Portlets
								li.nav-item
									a.nav-link(href='portlet_draggable.html')
										span.title Draggable Portlets
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-bar-chart
								span.title Charts
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='charts_amcharts.html')
										span.title amChart
								li.nav-item
									a.nav-link(href='charts_flotcharts.html')
										span.title Flot Charts
								li.nav-item
									a.nav-link(href='charts_flowchart.html')
										span.title Flow Charts
								li.nav-item
									a.nav-link(href='charts_google.html')
										span.title Google Charts
								li.nav-item
									a.nav-link(href='charts_echarts.html')
										span.title eCharts
								li.nav-item
									a.nav-link(href='charts_morris.html')
										span.title Morris Charts
								li.nav-item
									a.nav-link.nav-toggle(href='javascript:;')
										span.title HighCharts
										span.arrow
									ul.sub-menu
										li.nav-item
											a.nav-link(href='charts_highcharts.html')  HighCharts 
										li.nav-item
											a.nav-link(href='charts_highstock.html')  HighStock 
										li.nav-item
											a.nav-link(href='charts_highmaps.html')  HighMaps 
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-pointer
								span.title Maps
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='maps_google.html')
										span.title Google Maps
								li.nav-item
									a.nav-link(href='maps_vector.html')
										span.title Vector Maps
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-layers
								span.title Page Layouts
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='layout_blank_page.html')
										span.title Blank Page
								li.nav-item
									a.nav-link(href='layout_language_bar.html')
										span.title Header Language Bar
								li.nav-item
									a.nav-link(href='layout_footer_fixed.html')
										span.title Fixed Footer
								li.nav-item
									a.nav-link(href='layout_boxed_page.html')
										span.title Boxed Page
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-feed
								span.title Sidebar Layouts
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='layout_sidebar_menu_accordion.html')
										span.title Sidebar Accordion Menu
								li.nav-item
									a.nav-link(href='layout_sidebar_menu_compact.html')
										span.title Sidebar Compact Menu
								li.nav-item
									a.nav-link(href='layout_sidebar_reversed.html')
										span.title Reversed Sidebar Page
								li.nav-item
									a.nav-link(href='layout_sidebar_fixed.html')
										span.title Fixed Sidebar Layout
								li.nav-item
									a.nav-link(href='layout_sidebar_closed.html')
										span.title Closed Sidebar Layout
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-wrench
								span.title Custom Layouts
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='layout_disabled_menu.html')
										span.title Disabled Menu Links
								li.nav-item
									a.nav-link(href='layout_full_height_portlet.html')
										span.title Full Height Portlet
								li.nav-item
									a.nav-link(href='layout_full_height_content.html')
										span.title Full Height Content
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-basket
								span.title eCommerce
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='ecommerce_index.html')
										i.icon-home
										span.title Dashboard
								li.nav-item
									a.nav-link(href='ecommerce_orders.html')
										i.icon-basket
										span.title Orders
								li.nav-item
									a.nav-link(href='ecommerce_orders_view.html')
										i.icon-tag
										span.title Order View
								li.nav-item
									a.nav-link(href='ecommerce_products.html')
										i.icon-graph
										span.title Products
								li.nav-item
									a.nav-link(href='ecommerce_products_edit.html')
										i.icon-graph
										span.title Product Edit
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-docs
								span.title Apps
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='app_todo.html')
										i.icon-clock
										span.title Todo 1
								li.nav-item
									a.nav-link(href='app_todo_2.html')
										i.icon-check
										span.title Todo 2
								li.nav-item
									a.nav-link(href='app_inbox.html')
										i.icon-envelope
										span.title Inbox
								li.nav-item
									a.nav-link(href='app_calendar.html')
										i.icon-calendar
										span.title Calendar
								li.nav-item
									a.nav-link(href='app_ticket.html')
										i.icon-notebook
										span.title Support
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-user
								span.title User
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='page_user_profile_1.html')
										i.icon-user
										span.title Profile 1
								li.nav-item
									a.nav-link(href='page_user_profile_1_account.html')
										i.icon-user-female
										span.title Profile 1 Account
								li.nav-item
									a.nav-link(href='page_user_profile_1_help.html')
										i.icon-user-following
										span.title Profile 1 Help
								li.nav-item
									a.nav-link(href='page_user_profile_2.html')
										i.icon-users
										span.title Profile 2
								li.nav-item
									a.nav-link.nav-toggle(href='javascript:;')
										i.icon-notebook
										span.title Login
										span.arrow
									ul.sub-menu
										li.nav-item
											a.nav-link(href='page_user_login_1.html', target='_blank')  Login Page 1 
										li.nav-item
											a.nav-link(href='page_user_login_2.html', target='_blank')  Login Page 2 
										li.nav-item
											a.nav-link(href='page_user_login_3.html', target='_blank')  Login Page 3 
										li.nav-item
											a.nav-link(href='page_user_login_4.html', target='_blank')  Login Page 4 
										li.nav-item
											a.nav-link(href='page_user_login_5.html', target='_blank')  Login Page 5 
										li.nav-item
											a.nav-link(href='page_user_login_6.html', target='_blank')  Login Page 6 
								li.nav-item
									a.nav-link(href='page_user_lock_1.html', target='_blank')
										i.icon-lock
										span.title Lock Screen 1
								li.nav-item
									a.nav-link(href='page_user_lock_2.html', target='_blank')
										i.icon-lock-open
										span.title Lock Screen 2
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-social-dribbble
								span.title General
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='page_general_about.html')
										i.icon-info
										span.title About
								li.nav-item
									a.nav-link(href='page_general_contact.html')
										i.icon-call-end
										span.title Contact
								li.nav-item
									a.nav-link.nav-toggle(href='javascript:;')
										i.icon-notebook
										span.title Portfolio
										span.arrow
									ul.sub-menu
										li.nav-item
											a.nav-link(href='page_general_portfolio_1.html')  Portfolio 1 
										li.nav-item
											a.nav-link(href='page_general_portfolio_2.html')  Portfolio 2 
										li.nav-item
											a.nav-link(href='page_general_portfolio_3.html')  Portfolio 3 
										li.nav-item
											a.nav-link(href='page_general_portfolio_4.html')  Portfolio 4 
								li.nav-item
									a.nav-link.nav-toggle(href='javascript:;')
										i.icon-magnifier
										span.title Search
										span.arrow
									ul.sub-menu
										li.nav-item
											a.nav-link(href='page_general_search.html')  Search 1 
										li.nav-item
											a.nav-link(href='page_general_search_2.html')  Search 2 
										li.nav-item
											a.nav-link(href='page_general_search_3.html')  Search 3 
										li.nav-item
											a.nav-link(href='page_general_search_4.html')  Search 4 
										li.nav-item
											a.nav-link(href='page_general_search_5.html')  Search 5 
								li.nav-item
									a.nav-link(href='page_general_pricing.html')
										i.icon-tag
										span.title Pricing
								li.nav-item
									a.nav-link(href='page_general_pricing_2.html')
										i.icon-tag
										span.title Pricing 2
								li.nav-item
									a.nav-link(href='page_general_faq.html')
										i.icon-wrench
										span.title FAQ
								li.nav-item
									a.nav-link(href='page_general_blog.html')
										i.icon-pencil
										span.title Blog
								li.nav-item
									a.nav-link(href='page_general_blog_post.html')
										i.icon-note
										span.title Blog Post
								li.nav-item
									a.nav-link(href='page_general_invoice.html')
										i.icon-envelope
										span.title Invoice
								li.nav-item
									a.nav-link(href='page_general_invoice_2.html')
										i.icon-envelope
										span.title Invoice 2
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-settings
								span.title System
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link(href='page_cookie_consent_1.html')
										span.title Cookie Consent 1
								li.nav-item
									a.nav-link(href='page_cookie_consent_2.html')
										span.title Cookie Consent 2
								li.nav-item
									a.nav-link(href='page_system_coming_soon.html', target='_blank')
										span.title Coming Soon
								li.nav-item
									a.nav-link(href='page_system_404_1.html')
										span.title 404 Page 1
								li.nav-item
									a.nav-link(href='page_system_404_2.html', target='_blank')
										span.title 404 Page 2
								li.nav-item
									a.nav-link(href='page_system_404_3.html', target='_blank')
										span.title 404 Page 3
								li.nav-item
									a.nav-link(href='page_system_500_1.html')
										span.title 500 Page 1
								li.nav-item
									a.nav-link(href='page_system_500_2.html', target='_blank')
										span.title 500 Page 2
						li.nav-item
							a.nav-link.nav-toggle(href='javascript:;')
								i.icon-folder
								span.title Multi Level Menu
								span.arrow
							ul.sub-menu
								li.nav-item
									a.nav-link.nav-toggle(href='javascript:;')
										i.icon-settings
										|  Item 1
										span.arrow
									ul.sub-menu
										li.nav-item
											a.nav-link(href='?p=dashboard-2', target='_blank')
												i.icon-user
												|  Arrow Toggle
												span.arrow.nav-toggle
											ul.sub-menu
												li.nav-item
													a.nav-link(href='#')
														i.icon-power
														|  Sample Link 1
												li.nav-item
													a.nav-link(href='#')
														i.icon-paper-plane
														|  Sample Link 1
												li.nav-item
													a.nav-link(href='#')
														i.icon-star
														|  Sample Link 1
										li.nav-item
											a.nav-link(href='#')
												i.icon-camera
												|  Sample Link 1
										li.nav-item
											a.nav-link(href='#')
												i.icon-link
												|  Sample Link 2
										li.nav-item
											a.nav-link(href='#')
												i.icon-pointer
												|  Sample Link 3
								li.nav-item
									a.nav-link(href='?p=dashboard-2', target='_blank')
										i.icon-globe
										|  Arrow Toggle
										span.arrow.nav-toggle
									ul.sub-menu
										li.nav-item
											a.nav-link(href='#')
												i.icon-tag
												|  Sample Link 1
										li.nav-item
											a.nav-link(href='#')
												i.icon-pencil
												|  Sample Link 1
										li.nav-item
											a.nav-link(href='#')
												i.icon-graph
												|  Sample Link 1
								li.nav-item
									a.nav-link(href='#')
										i.icon-bar-chart
										|  Item 3
					// END SIDEBAR MENU
				// END SIDEBAR
			// END SIDEBAR
			// BEGIN CONTENT
			.page-content-wrapper
				// BEGIN CONTENT BODY
				.page-content
					// BEGIN PAGE HEADER
					.page-bar
						ul.page-breadcrumb
							li
								i.icon-home
								a(href='index.html') Home
								i.fa.fa-angle-right
							li
								span Components
						.page-toolbar
							.btn-group.pull-right
								button.btn.btn-fit-height.grey-salt.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-delay='1000', data-close-others='true')
									| Actions
									i.fa.fa-angle-down
								ul.dropdown-menu.pull-right(role='menu')
									li
										a(href='#')
											i.icon-bell
											|  Action
									li
										a(href='#')
											i.icon-shield
											|  Another action
									li
										a(href='#')
											i.icon-user
											|  Something else here
									li.divider  
									li
										a(href='#')
											i.icon-bag
											|  Separated link
					h1.page-title
						| Clase en curso
					// END PAGE HEADER
					.row
						.col-md-12
							// BEGIN EXTRAS PORTLET
							.portlet.light.form-fit
								.portlet-title
									.caption
										i.icon-layers.font-green
										span.caption-subject.font-green.bold.uppercase Titulo de la clase
									.actions
										form(method='GET', action='/index')
											a.btn.btn-circle.btn-icon-only.btn-default(href='javascript:;')
												i.icon-cloud-upload
											// <a class="btn btn-outline red sbold" data-target="#static" data-toggle="modal"> Finalizar Clase </a>
											button#finishButton.btn.btn-circle.btn-icon-only.btn-default.red(type='submit')
												i.fa.fa-power-off.fa-inverse(aria-hidden='true')
								.portlet-body.form
									.form-horizontal.form-bordered
										.form-body
											.form-group.last
												// BEGIN BOARD
												.col-md-9
													#summernote_1(name='summernote')
													.form-group
														.col-md-1
															button#button.btn.green(type='button')
																i.fa.fa-play
														.col-md-10
															#demo2.noUi-success
														.col-md-1
															button#button2.btn(type='button')
																i.fa.fa-expand
												// END BOARD
												// BEGIN CHAT
												.col-md-3
													.mt-element-list
														#accordion1.mt-list-container.list-todo(role='tablist', aria-multiselectable='true')
															.list-todo-line
															ul
																li.mt-list-item
																	.list-todo-item.dark
																		// BEGIN CHAT HEAD
																		a.list-toggle-container(data-toggle='collapse', data-parent='#accordion1', onclick=' ', href='#task-1', aria-expanded='false')
																			.list-toggle.done.uppercase
																				.list-toggle-title.bold CHAT
																				.badge.badge-default.pull-right.bold 1
																		// END CHAT HEAD
																		#task-1.task-list.panel-collapse.collapse.in
																			// BEGIN MESSAGES
																			ul#chat
																				li.task-list-item.done(item-height='')
																			// END MESSAGES
																			// BEGIN NEW MESSAGE
																			.page-quick-sidebar-chat-user-form
																				.input-group
																					input#messageTextBox.form-control(type='text', placeholder='Escriba su mensaje aquí...')
																					.input-group-btn
																						button#messageSendButton.btn.green(type='button')
																							i.icon-arrow-up
																			// END NEW MESSAGE
												// END CHAT
												// BEGIN SHOW MESSENGE STATIC
												#static.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false')
													.modal-body.text-center
														h4.modal-title Por favor, valore esta clase.
														br
														span.rating
														p#value-star
														form#vote(method='POST', action='/classVote')
															input(type='text', name='_id')
															input(type='text', name='vote')
															button.btn.green(type='submit', style='display:none')
															input(type='hidden', name='_method', value='put')
												// END SHOW MESSENGE
												// BEGIN COMENNTS
												.blog-page.blog-content-2
													.row
														.col-lg-12
															.blog-single-content.bordered.blog-container
																.blog-comments
																	h3.sbold.blog-comments-title Comments(30)
																	.c-comment-list
																		.media
																			.media-left
																				a(href='#')
																					img.media-object(alt='', src='../../../public/assets/pages/img/avatars/team1.jpg')
																			.media-body
																				h4.media-heading
																					a(href='#') Sean
																					|  on
																					span.c-date 23 May 2015, 10:40AM
																				|  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
																		.media
																			.media-left
																				a(href='#')
																					img.media-object(alt='', src='../../../public/assets/pages/img/avatars/team3.jpg')
																			.media-body
																				h4.media-heading
																					a(href='#') Strong Strong
																					|  on
																					span.c-date 21 May 2015, 11:40AM
																				|  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
																				.media
																					.media-left
																						a(href='#')
																							img.media-object(alt='', src='../../../public/assets/pages/img/avatars/team4.jpg')
																					.media-body
																						h4.media-heading
																							a(href='#') Emma Stone
																							|  on
																							span.c-date 30 May 2015, 9:40PM
																						|  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
																		.media
																			.media-left
																				a(href='#')
																					img.media-object(alt='', src='../../../public/assets/pages/img/avatars/team7.jpg')
																			.media-body
																				h4.media-heading
																					a(href='#') Nick Nilson
																					|  on
																					span.c-date 30 May 2015, 9:40PM
																				|  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
																	h3.sbold.blog-comments-title Leave A Comment
																	form(action='#')
																		.form-group
																			input.form-control.c-square(type='text', placeholder='Your Name')
																		.form-group
																			input.form-control.c-square(type='text', placeholder='Your Email')
																		.form-group
																			input.form-control.c-square(type='text', placeholder='Your Website')
																		.form-group
																			textarea.form-control.c-square(rows='8', name='message', placeholder='Write comment here ...')
																		.form-group
																			button.btn.blue.uppercase.btn-md.sbold.btn-block(type='submit') Submit
												// END COMENNTS
							// END EXTRAS PORTLET
					// END CONTENT BODY
				// END CONTENT
			// END CONTAINER
			// BEGIN FOOTER
			.page-footer
				.page-footer-inner
					| 2016 © Metronic Theme By
					a(target='_blank', href='http://keenthemes.com') Keenthemes
					|   
					.scroll-to-top
						i.icon-arrow-up
		// END FOOTER
		// BEGIN QUICK NAV
		// END QUICK NAV
		//if lt IE 9
			script(src='../../../public/assets/global/plugins/respond.min.js')
			script(src='../../../public/assets/global/plugins/excanvas.min.js')
			script(src='../../../public/assets/global/plugins/ie8.fix.min.js')
		// BEGIN CORE PLUGINS
		script(src='../../../public/assets/global/plugins/jquery.min.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/bootstrap/js/bootstrap.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/js.cookie.min.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/jquery.blockui.min.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript')
		// END CORE PLUGINS
		// BEGIN PAGE LEVEL PLUGINS
		script(src='../../../public/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/nouislider/wNumb.min.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/nouislider/nouislider.min.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/webSocket.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/bootstrap-summernote/summernote.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js', type='text/javascript')
		script(src='../../../public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js', type='text/javascript')
		// END PAGE LEVEL PLUGINS
		// BEGIN THEME GLOBAL SCRIPTS
		script(src='../../../public/assets/global/scripts/app.min.js', type='text/javascript')
		// END THEME GLOBAL SCRIPTS
		// BEGIN PAGE LEVEL SCRIPTS
		script(src='../../../public/assets/pages/scripts/components-nouisliders.js', type='text/javascript')
		script(src='../../../public/assets/pages/scripts/components-color-pickers.min.js', type='text/javascript')
		script(src='../../../public/assets/pages/scripts/star-rating.js', type='text/javascript')
		script(src='../../../public/assets/pages/scripts/class.js', type='text/javascript')
		// END PAGE LEVEL SCRIPTS
		// BEGIN THEME LAYOUT SCRIPTS
		script(src='../../../public/assets/layouts/layout2/scripts/layout.min.js', type='text/javascript')
		script(src='../../../public/assets/layouts/layout2/scripts/demo.min.js', type='text/javascript')
		script(src='../../../public/assets/layouts/global/scripts/quick-sidebar.min.js', type='text/javascript')
		script(src='../../../public/assets/layouts/global/scripts/quick-nav.min.js', type='text/javascript')
		// END THEME LAYOUT SCRIPTS
		script.
			$(document).ready(function() {
			$('#clickmewow').click(
			function() {
			$('#radio1003')
			.attr(
			'checked',
			'checked'
			);
			});
			})
