/* Cubic Bezier Transition */


/***
Anout Us Page
***/


/* BEGIN HEADER */

.about-header {
    height: 500px;
    /* background-image: url("../media/bg/5.jpg"); */
    background-position: center;
    text-align: center;
    margin: -25px -20px;
}

.tit-header {
    /* height: 250px; */
    /* background-image: url("../media/bg/5.jpg"); */
    background-position: center;
    text-align: center;
    margin: 0 -20px;
}


/* esta usando el h1 y h2 del carousel por eso le cambie el nombre a la clase de about-header a tit-header */

.tit-header h1,
img {
    color: #272121;
    font-size: 40px;
    font-weight: 600;
    /* margin-top: 20px; */
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.tit-header h2 {
    color: #272121;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
}


/* END HEADER */


/* BEGIN CARD */

.card-icon {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.card-icon i {
    font-size: 50px;
    border: 1px solid #ecf0f4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 47px 30px;
    margin: 30px 0 30px 0;
}

.card-title {
    text-align: center;
}

.card-title span {
    font-size: 18px;
    font-weight: 600;
    color: #373d43;
}

.card-desc {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-desc span {
    font-size: 14px;
    font-weight: 400;
    color: #808a94;
}


/* END CARD */


/* BEGIN LINKS BLOCK */

.about-links-cont {
    background-color: #fff;
    margin: 0 -20px;
}

.about-links-cont .about-links {
    padding: 70px 0 70px 70px;
}

.about-links-cont .about-image {
    padding-left: 110px;
}

.about-links-cont .about-noseq {
    padding-left: 110px;
}

.about-links-item h4 {
    font-size: 18px;
    font-weight: 600;
    color: #373d43;
}

.about-links-item ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.about-links-item ul li {
    padding-top: 5px;
}

.about-links-item ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #4a8fba;
}

.about-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.about-noseq {
    background-repeat: no-repeat;
    background-size: cover;
}


/* END LINKS BLOCK */


/* BEGIN MEMBERS SUCCESS STORIES */

.stories-header {
    text-align: center;
}

.stories-header h1 {
    color: #373d43;
    font-size: 30px;
    font-weight: 600;
}

.stories-header h2 {
    color: #808a94;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;
}

.stories-cont .photo {
    width: 100%;
}

.stories-cont .photo img {
    margin: 30px auto;
    width: 130px;
    height: 130px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.stories-cont .title {
    text-align: center;
}

.stories-cont .title span {
    font-size: 18px;
    font-weight: 600;
    color: #373d43;
}

.stories-cont .desc {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.stories-cont .desc span {
    font-size: 14px;
    font-weight: 400;
    color: #808a94;
}

.stories-footer {
    text-align: center;
}


/* END MEMBERS SUCCESS STORIES */


/* BEGIN LOGO */

.about-logo {
    height: 100%;
    padding: 0 !important;
}

.about-logo>h4 {
    background-color: #d9534f;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding: 1em 20px;
    margin: 0;
}

.about-logo>h4>i {
    font-size: 24px !important;
    color: #fff;
}

.about-logo>p {
    color: #808a94;
}

.about-logo ul,
.about-logo>p,
.about-logo .about-quote {
    padding-left: 20px;
    padding-right: 20px;
}

.about-logo li {
    margin-bottom: 0.5em;
}

.about-logo .about-quote>h3 {
    border-left: 3px solid;
    border-color: #ccc;
    padding-left: 1em;
    font-style: italic;
    line-height: 1.3em;
}

.about-logo .about-quote>.about-author {
    text-align: right;
}


/* BEGIN ABOUt AND VIDEO */

.about-text {
    height: 100%;
    padding: 0 !important;
}

.about-text>h4 {
    background-color: #2e6d72;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding: 1em 20px;
    margin: 0;
}

.about-text>h4>i {
    font-size: 24px !important;
    color: #fff;
}

.about-text>p {
    color: #101111;
}

.about-text ul,
.about-text>p,
.about-text .about-quote {
    padding-left: 20px;
    padding-right: 20px;
}

.about-text li {
    margin-bottom: 0.5em;
}

.about-text .about-quote>h3 {
    border-left: 3px solid;
    border-color: #ccc;
    padding-left: 1em;
    font-style: italic;
    line-height: 1.3em;
}

.about-text .about-quote>.about-author {
    text-align: right;
}

.about-image {
    height: 545px;
}

.about-noseq {
    height: 345px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.about-links-item {
    margin-bottom: 2em;
}


/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/


/********************************/


/*       Fade Bs-carousel       */


/********************************/

.fade-carousel {
    position: relative;
    height: 100vh;
}

.fade-carousel .carousel-inner .item {
    height: 100vh;
}

.fade-carousel .carousel-indicators>li {
    margin: 0 2px;
    background-color: #2e6d72;
    border-color: #2e6d72;
    opacity: .5;
}

.fade-carousel .carousel-indicators>li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.btn-about {
    color: #fff;
    background-color: #2e6d72;
    border-color: #2e6d72;
    margin-top: 18px;
}


/********************************/


/*          Hero Headers        */


/********************************/

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.hero h1 {
    font-size: 3.6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}


/********************************/


/*            Overlay           */


/********************************/

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .5;
}


/********************************/


/*          Custom Buttons      */


/********************************/

.btn.btn-lg {
    padding: 10px 40px;
}

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}


/********************************/


/*       Slides backgrounds     */


/********************************/

.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
    background-image: url(../media/bg/image-1.jpg);
}

.fade-carousel .slides .slide-2 {
    background-image: url(../media/bg/image-2.jpg);
}

.fade-carousel .slides .slide-3 {
    background-image: url(../media/bg/image-3.jpg);
}


/********************************/


/*          Media Queries       */


/********************************/

@media screen and (min-width: 980px) {
    .hero {
        width: 820px;
    }
}

@media screen and (max-width: 640px) {
    .hero h1 {
        font-size: 2.5em;
    }
}


/* END ABOUt AND VIDEO */


/* BEGIN RESPONSIVE */

@media (max-width: 600px) {
    .about-text {
        height: auto;
        padding-bottom: 1.5em !important;
    }
    .about-image {
        margin: 0 -20px;
    }
    .about-noseq {
        margin: 10 -20px;
    }
}


/* text */

@media (min-width: 50px) {
    .about-text {
        font-size: 1.0em;
    }
}

@media (min-width: 100px) {
    .about-text {
        font-size: 0.5em;
    }
}

@media (min-width: 200px) {
    .about-text {
        font-size: 0.75em;
    }
}

@media (min-width: 300px) {
    .about-text {
        font-size: 0.85em;
    }
}

@media (min-width: 400px) {
    .about-text {
        font-size: 0.95em;
    }
}

@media (min-width: 500px) {
    .about-text {
        font-size: 1em;
    }
}

@media (min-width: 600px) {
    .about-text {
        font-size: 1.05em;
    }
}

@media (min-width: 700px) {
    .about-text {
        font-size: 1.13em;
    }
}

@media (min-width: 800px) {
    .about-text {
        font-size: 1.16em;
    }
}

@media (min-width: 900px) {
    .about-text {
        font-size: 1.17em;
    }
}

@media (min-width: 1000px) {
    .about-text {
        font-size: 1.12em;
    }
}

@media (min-width: 1100px) {
    .about-text {
        font-size: 1.12em;
    }
}

@media (min-width: 1200px) {
    .about-text {
        font-size: 1em;
    }
}

@media (min-width: 1300px) {
    .about-text {
        font-size: 1.06em;
    }
}

@media (min-width: 1400px) {
    .about-text {
        font-size: 1.08em;
    }
}

@media (min-width: 1500px) {
    .about-text {
        font-size: 1.11em;
    }
}

@media (min-width: 1500px) {
    .about-text {
        font-size: 1.116em;
    }
}

@media (min-width: 1600px) {
    .about-text {
        font-size: 1.121em;
    }
}

@media (min-width: 1700px) {
    .about-text {
        font-size: 1.16em;
    }
}


/* END RESPONSIVE */