canvas:-webkit-full-screen {
    position: fixed;
    top: 0;
    left: 0;
}

canvas:-moz-full-screen {
    background-color: rgba(255,255,255,0);
    position: fixed;
    top: 0;
    left: 0;
}

canvas:-ms-full-screen {
    position: fixed;
    top: 0;
    left: 0;
}

canvas:-o-full-screen {
    position: fixed;
    top: 0;
    left: 0;
}

canvas:full-screen {
    position: fixed;
    top: 0;
    left: 0;
}

.caption-subject {
    font-size: 18px;
}

.img-circle {
    margin-top: -8px;
    margin-right: 7px;
    height: 60px;
    display: inline-block;
}

.img-circle-chat {
    margin-top: -1px;
    margin-right: 7px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
}
.mt-comment-body {
    height: 100%;
    margin: 6px 0px;
    margin-left: 50px;
    position: relative;
}

.user-owner {
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
    margin-top: 4px;
    display: inline-block;
    margin-right: 5px;
}

.class-description {
    margin-top: -8px;
    margin-left: 12px;
    margin-right: 7px;
    margin-top: 3px;
    margin-top: 4px;
    display: inline-block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 50px;
  }
  
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
margin-top: 1.3em;
margin-bottom: .55em;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 0px;
bottom: 0px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}
  
.slider.round:before {
border-radius: 50%;
}

#answer-panel{
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 85vh;
}
#panelDesplegable{
    transition: color 1000ms ease;
    -webkit-transition: color 1000ms ease;
    -moz-transition: color 1000ms ease;
    -o-transition: color 1000ms ease;
}



/* .options-reproduction {
    overflow: hidden;
}

.play {
    float: left;
    width: 40px;
}

.full {
    float: right;
}
*/

