.caption-subject {
    font-size: 18px;
}

.img-circle {
    margin-top: -8px;
    margin-right: 7px;
    height: 60px;
    display: inline-block;
}

.mt-comment-body {
    height: 100%;
    margin: 6px 0px;
    margin-left: 50px;
    position: relative;
}

.user-owner {
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
    margin-top: 4px;
    display: inline-block;
    margin-right: 5px;
}

.class-description {
    margin-top: -8px;
    margin-left: 12px;
    margin-right: 7px;
    margin-top: 3px;
    margin-top: 4px;
    display: inline-block;
}

@media (min-width: 359px) {
    .caption-subject {
        font-size: 15px;
    }
}