<div>
  <center class="m_-7030107531443034302wrapper">
    <div>
      <table
        cellpadding="0"
        cellspacing="0"
        border="0"
        width="100%"
        class="m_-7030107531443034302wrapper"
        bgcolor="#F5F5F5"
      >
        <tbody>
          <tr>
            <td valign="top" bgcolor="#F5F5F5" width="100%">
              <table
                width="100%"
                role="content-container"
                align="center"
                cellpadding="0"
                cellspacing="0"
                border="0"
              >
                <tbody>
                  <tr>
                    <td width="100%">
                      <table
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td>
                              <table
                                width="100%"
                                cellpadding="0"
                                cellspacing="0"
                                border="0"
                                style="width: 100%; max-width: 600px;"
                                align="center"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      role="modules-container"
                                      style="
                                        padding: 0px 0px 0px 0px;
                                        color: #000000;
                                        text-align: left;
                                      "
                                      bgcolor="#ffffff"
                                      width="100%"
                                      align="left"
                                    >
                                      <table
                                        class="m_-7030107531443034302preheader"
                                        role="module"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="100%"
                                        style="
                                          display: none !important;
                                          opacity: 0;
                                          color: transparent;
                                          height: 0;
                                          width: 0;
                                        "
                                      >
                                        <tbody>
                                          <tr>
                                            <td role="module-content">
                                              <p>
                                                <span class="il">Verifica</span>
                                                tu correo electrónico y comienza
                                                a disfrutar de Re-tinta
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table
                                        class="m_-7030107531443034302wrapper"
                                        role="module"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="100%"
                                        style="table-layout: fixed;"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              style="
                                                font-size: 6px;
                                                line-height: 10px;
                                                padding: 20px 0px 20px 0px;
                                                background-color: #f5f5f5;
                                              "
                                              valign="top"
                                              align="center"
                                            >
                                              <img
                                                class="m_-7030107531443034302max-width CToWUd"
                                                border="0"
                                                style="
                                                  display: block;
                                                  color: #000000;
                                                  text-decoration: none;
                                                  font-family: Helvetica, arial,
                                                    sans-serif;
                                                  font-size: 16px;
                                                "
                                                width="100"
                                                height="100"
                                                src="https://lh3.google.com/u/0/d/1PGtvBK-n2DNbdXTuT4PkmnHJKNetMzD4=w1359-h695-iv1"
                                                alt="Logo Re-tinta"
                                              />
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        align="center"
                                        width="100%"
                                        role="module"
                                        style="
                                          padding: 0px 40px 0px 40px;
                                          box-sizing: border-box;
                                        "
                                        bgcolor=""
                                      >
                                        <tbody>
                                          <tr role="module-content">
                                            <td height="100%" valign="top">
                                              <table
                                                width="520.000"
                                                style="
                                                  width: 520px;
                                                  border-spacing: 0;
                                                  border-collapse: collapse;
                                                  margin: 0px 0px 0px 0px;
                                                "
                                                cellpadding="0"
                                                cellspacing="0"
                                                align="left"
                                                border="0"
                                                bgcolor=""
                                                class="m_-7030107531443034302column"
                                              >
                                                <tbody>
                                                  <tr>
                                                    <td
                                                      style="
                                                        padding: 0px;
                                                        margin: 0px;
                                                        border-spacing: 0;
                                                      "
                                                    >
                                                      <table
                                                        role="module"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        width="100%"
                                                        style="
                                                          table-layout: fixed;
                                                        "
                                                      >
                                                        <tbody>
                                                          <tr>
                                                            <td
                                                              style="
                                                                padding: 18px
                                                                  0px 18px 0px;
                                                                line-height: 22px;
                                                                text-align: inherit;
                                                              "
                                                              height="100%"
                                                              valign="top"
                                                              bgcolor=""
                                                            >
                                                              <h1>
                                                                ¡Hola&nbsp;` +
                                                                user.userName +
                                                                `
                                                                <img
                                                                  goomoji="1f60a"
                                                                  data-goomoji="1f60a"
                                                                  style="
                                                                    margin: 0
                                                                      0.2ex;
                                                                    vertical-align: middle;
                                                                    max-height: 24px;
                                                                  "
                                                                  alt="😊"
                                                                  src="https://mail.google.com/mail/e/1f60a"
                                                                  data-image-whitelisted=""
                                                                  class="CToWUd"
                                                                />!
                                                              </h1>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        align="center"
                                        width="100%"
                                        role="module"
                                        style="
                                          padding: 0px 40px 0px 40px;
                                          box-sizing: border-box;
                                        "
                                        bgcolor=""
                                      >
                                        <tbody>
                                          <tr role="module-content">
                                            <td height="100%" valign="top">
                                              <table
                                                width="520.000"
                                                style="
                                                  width: 520px;
                                                  border-spacing: 0;
                                                  border-collapse: collapse;
                                                  margin: 0px 0px 0px 0px;
                                                "
                                                cellpadding="0"
                                                cellspacing="0"
                                                align="left"
                                                border="0"
                                                bgcolor=""
                                                class="m_-7030107531443034302column"
                                              >
                                                <tbody>
                                                  <tr>
                                                    <td
                                                      style="
                                                        padding: 0px;
                                                        margin: 0px;
                                                        border-spacing: 0;
                                                      "
                                                    >
                                                      <table
                                                        role="module"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        width="100%"
                                                        style="
                                                          table-layout: fixed;
                                                        "
                                                      >
                                                        <tbody>
                                                          <tr>
                                                            <td
                                                              style="
                                                                padding: 18px
                                                                  0px 18px 0px;
                                                                line-height: 22px;
                                                                text-align: inherit;
                                                              "
                                                              height="100%"
                                                              valign="top"
                                                              bgcolor=""
                                                            >
                                                              <p>
                                                                Ingresa el
                                                                siguiente codigo
                                                                para verificar
                                                                tu email y poder
                                                                disfrutar de los
                                                                servicios de
                                                                Re-tinta.
                                                              </p>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                      <table
                                                        role="module"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        width="100%"
                                                        style="
                                                          table-layout: fixed;
                                                        "
                                                      >
                                                        <tbody>
                                                          <tr>
                                                            <td
                                                              style="
                                                                padding: 0px 0px
                                                                  30px 0px;
                                                              "
                                                              role="module-content"
                                                              bgcolor=""
                                                            ></td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                      <table
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        role="module"
                                                        style="
                                                          table-layout: fixed;
                                                        "
                                                        width="100%"
                                                      >
                                                        <tbody>
                                                          <tr>
                                                            <td
                                                              align="center"
                                                              style="
                                                                padding: 0px 0px
                                                                  0px 0px;
                                                              "
                                                            >
                                                              <table
                                                                border="0"
                                                                cellpadding="0"
                                                                cellspacing="0"
                                                                class="m_-7030107531443034302wrapper-mobile"
                                                                style="
                                                                  text-align: center;
                                                                "
                                                              >
                                                                <tbody>
                                                                  <tr>
                                                                    <td
                                                                      align="center"
                                                                      bgcolor="#333333"
                                                                      style="
                                                                        border-radius: 6px;
                                                                        font-size: 16px;
                                                                        text-align: center;
                                                                        background-color: inherit;
                                                                      "
                                                                    >
                                                                      <a
                                                                        style="
                                                                          background-color: #333333;
                                                                          border: 1px
                                                                            solid
                                                                            #333333;
                                                                          border-color: #333333;
                                                                          border-radius: 6px;
                                                                          border-width: 1px;
                                                                          color: #ffffff;
                                                                          display: inline-block;
                                                                          font-family: arial,
                                                                            helvetica,
                                                                            sans-serif;
                                                                          font-size: 16px;
                                                                          font-weight: normal;
                                                                          letter-spacing: 0px;
                                                                          line-height: 16px;
                                                                          padding: 12px
                                                                            18px
                                                                            12px
                                                                            18px;
                                                                          text-align: center;
                                                                          text-decoration: none;
                                                                        "
                                                                        class="m_-7030107531443034302main"
                                                                        target="_blank"
                                                                        >Codigo:
                                                                        ` +
                                                                        user.userVerificationNumber
                                                                        + `</a
                                                                      >
                                                                    </td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                      <br />
                                                      <table
                                                        role="module"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        width="100%"
                                                        style="
                                                          table-layout: fixed;
                                                        "
                                                      >
                                                        <tbody>
                                                          <tr>
                                                            <td
                                                              style="
                                                                padding: 0px 0px
                                                                  30px 0px;
                                                              "
                                                              role="module-content"
                                                              bgcolor=""
                                                            ></td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table
                                        role="module"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="100%"
                                        style="table-layout: fixed;"
                                      >
                                        <tbody>
                                          <tr>
                                            <td height="100%" valign="top">
                                              <table
                                                bgcolor="#303336"
                                                border="0"
                                                cellpadding="0"
                                                cellspacing="0"
                                                align="center"
                                                width="100%"
                                              >
                                                <tbody>
                                                  <tr>
                                                    <td height="40"></td>
                                                  </tr>
                                                  <tr>
                                                    <td width="40"></td>
                                                    <td>
                                                      <p
                                                        style="
                                                          color: #e6e6e6;
                                                          font-size: 18px;
                                                          letter-spacing: -0.5;
                                                          font-weight: 300;
                                                          margin-bottom: 5px;
                                                        "
                                                      >
                                                        Equipo Re-Tinta
                                                      </p>
                                                    </td>
                                                    <td width="40"></td>
                                                  </tr>
                                                  <tr>
                                                    <td height="20"></td>
                                                  </tr>
                                                  <tr>
                                                    <td width="40"></td>
                                                    <td>
                                                      <hr
                                                        style="
                                                          border: none;
                                                          border-top: 1px solid
                                                            #45474a;
                                                        "
                                                      />
                                                    </td>
                                                    <td width="40"></td>
                                                  </tr>

                                                  <tr>
                                                    <td width="40"></td>
                                                    <td>
                                                      <h6
                                                        style="
                                                          color: #e6e6e6;
                                                          font-size: 12px;
                                                          line-height: 22px;
                                                          font-weight: 200;
                                                          margin-bottom: 5px;
                                                        "
                                                      >
                                                        Si tienes alguna duda o
                                                        queja, contáctanos a
                                                        traves de nuestro mail:
                                                        retintateam@gmail.com
                                                        <br />
                                                      </h6>
                                                    </td>
                                                    <td width="40"></td>
                                                  </tr>
                                                  <tr>
                                                    <td height="40"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td height="40"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </center>
</div>
