extends master.pug

block header
	title Re-Tinta | Estadísticas

block content
	.page-content-wrapper
		// BEGIN CONTENT BODY
		.page-content
			// BEGIN PAGE HEADER
			// BEGIN THEME PANEL
			// END THEME PANEL
			h1.page-title
				.row
					.col-sm-12
						| Gráficos de Clase: "#{data.classTitle}"
				.row
					#vistas.col-sm-4
				//small 19/10/2012
			// END PAGE HEADER
			// BEGIN : ECHARTS
			span#span-E(style='display:none') #{data.classCantE}					
			span#span-MB(style='display:none') #{data.classCantMB}					
			span#span-B(style='display:none') #{data.classCantB}					
			span#span-R(style='display:none') #{data.classCantR}
			span#span-M(style='display:none') #{data.classCantM}
			span#span-questionnaire(style='display:none') #{JSON.stringify(data.classQuestionnaires)}
			.row
				#mensaje.col-lg-12.col-xs-12.col-sm-12.text-center.text-danger(style="display:none;")
					h3 No hay Gráficos Disponibles para esta Clase
				.col-lg-6.col-xs-12.col-sm-12
					.portlet.light
						#echarts_pie(style='height:500px;')
				.col-lg-6.col-xs-12.col-sm-12
					.portlet.light
						#echarts_bar(style='height:500px;')
				.col-lg-6.col-xs-12.col-sm-12
					.portlet.light
						#echarts_pieVotantes(style='height:500px;')
				.col-lg-6.col-xs-12.col-sm-12
					.portlet.light
						#echarts_piePermanencia(style='height:500px;')
				.col-lg-6.col-xs-12.col-sm-12
					.portlet.light
						#pieQuestionnaireGlobalAccuracy(style='height:500px;')
				.col-lg-6.col-xs-12.col-sm-12
					.portlet.light
						#pieQuestionnaireGlobalRespond(style='height:500px;')
			-var number = 1
			while number <= data.classQuestionnaires.length
				if ( (++number ) % 2 == 0)
					if number > data.classQuestionnaires.length
						.row
							.col-lg-3
							.col-lg-6.col-xs-12.col-sm-12
								.portlet.light
									div( id = 'customQuestionnaire'+(number-1) , style='height:500px;overflow:auto;')
					else
						.row
							.col-lg-6.col-xs-12.col-sm-12
								.portlet.light
									div( id = 'customQuestionnaire'+(number-1) , style='height:500px;overflow:auto;')
							if  number <= data.classQuestionnaires.length
								.col-lg-6.col-xs-12.col-sm-12
									.portlet.light
										div( id = 'customQuestionnaire'+number , style='height:500px;overflow:auto;')

block scripts
	// BEGIN PAGE LEVEL PLUGINS
	script(src='/assets/global/plugins/echarts/echarts.js', type='text/javascript')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/charts-echarts.js', type='text/javascript')
	script(src='/assets/pages/scripts/charts-questionnaires.js', type='text/javascript')
	// END PAGE LEVEL SCRIPTS