extends master.pug

block header
	title Re-Tinta | Class upload page
	// BEGIN PAGE LEVEL PLUGINS
	link(href='/assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/jquery-minicolors/jquery.minicolors.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-summernote/summernote.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/nouislider/nouislider.min.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/nouislider/nouislider.pips.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-toastr/toastr.min.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL STYLES
	link(href='/assets/pages/css/class.css', rel='stylesheet', type='text/css')
	link(href='/assets/pages/css/star-rating.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/dropzone/dropzone.min.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/dropzone/basic.min.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/dropzone/class-carousel.css', type='text/html')
	link(href='/assets/pages/css/chat-style.css', rel= 'stylesheet', type='text/css')
	link(href='/assets/pages/css/blog.min.css', rel='stylesheet', type='text/css')
	link(href='/assets/pages/css/hide-inner-components.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL STYLES

block content
	.page-content-wrapper
		// BEGIN CONTENT BODY
		.page-content
			// BEGIN PAGE HEADER
			// BEGIN QUICK SIDEBAR
			a.page-quick-sidebar-toggler(href='javascript:;', style='width: 580px;')
				i.icon-login
			.page-quick-sidebar-wrapper(data-close-on-body-click='false' style='background-color:white')
				.page-quick-sidebar
					ul#sideTab.nav.nav-tabs(style="background-color: #26344b")
						//if data.classOwner == dataUser.id
						li.active
							a(href='javascript:;', data-target='#moduloChat', data-toggle='tab')
								| Chat
					.tab-content
						#moduloChat.tab-pane.active.page-quick-sidebar-chat
							.panel(data-rail-color='#ddd', data-wrapper-class='page-quick-sidebar-list')
								//Nuevo CHAT
								.div
									.panel-body(style='padding-bottom: 0px;padding-right: 0px;padding-left: 0px;padding-top: 0px;')
										#accordion.panel
											#collapseOne.panel
												.panel-body.myChat(aria-expanded="true", style='height: 650px;')
													// BEGIN MESSAGE
													ul#chat.chat
													//END MESSAGE				
											//Fin nuevo CHAT	

			// END QUICK SIDEBAR				
			// END PAGE HEADER
			.row
				.col-md-12
					// BEGIN EXTRAS PORTLET
					.portlet.light.form-fit
						.portlet-title
							.caption
								//- 	i.icon-layers.font-green
								//- 	span.caption-subject.font-green.bold.uppercase #{data.classTitle} 
								//- 	span#label-id(style='display:none') #{data.id}
								.mt-comments
									.mt-comment
										.mt-comment-img
											img.img-circle.user-owner(src=dataOwner.userAvatar, alt='/avatarsProfile/avatarUnknown.jpg')
										.mt-comment-body
											.mt-comment-info
												a.caption-subject.font-green.bold.uppercase(href=`/class/${data.id}`)  #{data.classTitle} 
												//- span.mt-comment-date 10 Dec, 09:20 AM
											.mt-comment-text
												| Dictada por&nbsp;
												a(href='/myClasses:'+dataOwner.userMail, target="_blank", rel="noopener noreferrer") #{dataOwner.userName}
							if data.classOwner == dataUser.id	
								.actions
									i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Salir')
										button#finishButton.btn.btn-circle.btn-icon-only.btn-default.red(type='button')
											i.fa.fa-power-off.fa-inverse(aria-hidden='true')
									i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Copiar URL')
										button.btn.btn-circle.btn-icon-only.btn-default(type='button', id='shareButton')
											i.icon-share
									input(type='hidden', name='_id', value=''+data.id, id="class-id")
									i
										li#startChat.dropdown.dropdown-extended.quick-sidebar-toggler.nav.btn.btn-circle.btn-icon-only.btn-default.tooltips(data-toggle='tooltip', data-placement='top', title='', data-original-title='Abrir chat')
											i.fa.fa-wechat
								input(type='hidden', id='isEnable', value='true')
							else	
								.actions(style="display:inline")
									i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Salir')
										button#finishButton.btn.btn-circle.btn-icon-only.btn-default.red(type='button')
											i.fa.fa-power-off.fa-inverse(aria-hidden='true')
									i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Votar')
										button#voteStart.btn.btn-circle.btn-icon-only.btn-default(type='button')
											i.fa.fa-star(aria-hidden='true')
									i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Copiar URL')
										button.btn.btn-circle.btn-icon-only.btn-default(type='button', id='shareButton')
											i.icon-share
									i
										li#startChat.dropdown.dropdown-extended.quick-sidebar-toggler.nav.btn.btn-circle.btn-icon-only.btn-default.tooltips(data-toggle='tooltip', data-placement='top', title='', data-original-title='Abrir chat')
											i.fa.fa-wechat
						.portlet-body.form
							.form-horizontal.form-bordered
								.form-body
									.form-group.last
										.row
											// BEGIN BOARD
											#canvasColumn.col-md-12.text-center
												canvas#canvas
											// END BOARD
											//.col-md-3
												// BEGIN CHAT
												//.row
													.mt-element-list
														#accordion1.mt-list-container.list-todo(role='tablist', aria-multiselectable='true')
															.list-todo-line
															ul
																li.mt-list-item
																	.list-todo-item.dark
																		// BEGIN CHAT HEAD
																		a.list-toggle-container(data-toggle='collapse', data-parent='#accordion1', onclick=' ', href='#task-1', aria-expanded='false')
																			.list-toggle.done.uppercase
																				.list-toggle-title.bold CHAT
																				.badge.badge-default.pull-right.bold 1
																		// END CHAT HEAD
																		#task-1.task-list.panel-collapse.collapse.in
																			// BEGIN MESSAGES
																			ul#chat
																				li.task-list-item.done(item-height='')
																			// END MESSAGES
																			// BEGIN NEW MESSAGE
																			.page-quick-sidebar-chat-user-form
																				.input-group
																					input#messageTextBox.form-control(type='text', placeholder='Escriba su mensaje aquí...')
																					.input-group-btn
																						button#messageSendButton.btn.green(type='button')
																							i.icon-arrow-up
																			// END NEW MESSAGE
												// END CHAT
											//- .col-md-12
											//- 	label Comparte la clase con este link:
											//- 	a(href=("window.location.origin/class/"+data.id)) window.location.origin/class/#{data.id}
										.row
											.col-sm-12.text-center
												audio#audio(src="/audios/"+dataOwner._id+"/"+data._id+"/audio.wav" controls="true")
										.row
											.blog-page.blog-content-2
												.row
													.col-md-12
														.blog-single-content.bordered.blog-container
															.blog-comments
																if dataComments.length > 0
																	h3#cantComm.sbold.blog-comments-title Comentarios (#{dataComments.length})
																else
																	h3#cantComm.sbold.blog-comments-title Comentarios (0)
																#commentList.c-comment-list
																	each c in dataComments
																		.media
																			.media-left
																				a(href='#')
																					img.media-object(onerror="this.src='/avatarsProfile/avatarUnknownSquare.jpg'", src="/avatarsProfile/"+c.ownerId)
																			.media-body
																				h4.media-heading
																					a(href='/myClasses:'+c.ownerMail, target="_blank", rel="noopener noreferrer") #{c.ownerName}
																					span.c-date   #{c.time}
																				p #{c.text}					
										.row
											.col-sm-12
												h3.sbold.blog-comments-title Escriba su comentario
												form(method='POST', action='/CommentClassUpload')
													.form-group
														input.form-control.c-square( id = 'comment-ownerName', name='ownerName', style='display:none',  value=`${dataUser.userName}`)
													.form-group
														textarea.form-control.c-square(rows='8', id = 'comment-text', name='text', placeholder='Escriba su comentario aquí...')
													.form-group
														input.form-control.c-square(id = 'comment-idClass', name='idClass', style='display:none', value=`${data.id}`)
													.form-group
														input.form-control.c-squareid(id = 'comment-ownerId', name='ownerId',style='display:none', value=`${dataUser._id}`)
													.form-group
														button.btn.blue.uppercase.btn-md.sbold(id= 'sendComment', type='button') Enviar						
											// END COMENNTS
											#popover_content_wrapper(style='display: none')
												a(href=("window.location.origin/class/"+data.id)) window.location.origin/class/#{data.id}
											// BEGIN SHOW MESSENGE STATIC
											if data.classOwner != dataUser.id	
												#static.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false')
													.modal-body.text-center
														h4.modal-title Por favor, valore esta clase.
														br
														span.rating
														p#value-star
														div#vote
															input(type='text', id="class-id", name='_id', value=''+data.id, style='display:none')
															input(type='text', id="input-vote", name='vote',style='display:none')
															input(type='text',id='voteOrigin', name='origin',style='display:none;', value='saved')
															button.btn.green(type='button', id='voteButton', style='display:none')
															input(type='hidden', id='voteMethod', name='_method', value='PUT')
												// END SHOW MESSENGE
					// END EXTRAS PORTLET
			// END CONTENT BODY
			.row(style='display:none')
				.col-md-12
					.portlet.light
						//input#title.form-control(type='text', value='Error en Clase Almacenada', placeholder='')
						textarea#message.form-control(rows='3', placeholder='')
						input#toastTypeGroup.form-control(type='text', value='', placeholder='')
						// success info warning error
						.col-md-12
							button#showtoast.btn.green(type='button ') Show Toast
			.row(style='display:none')
				.col-sm-12
					input#classId(type="text", name="classId", value=data._id )
block scripts
	// BEGIN PAGE LEVEL PLUGINS
	script(src='/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js', type='text/javascript')
	script(src='/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js', type='text/javascript')
	//script(src='/assets/global/plugins/nouislider/wNumb.min.js', type='text/javascript')
	//script(src='/assets/global/plugins/nouislider/nouislider.js', type='text/javascript')
	//script(src='/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.js', type='text/javascript')
	//script(src='/assets/global/plugins/webSocket.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-summernote/summernote.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js', type='text/javascript')
	script(src='/assets/global/plugins/dropzone/dropzone.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-growl/bootstrap-notify.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-toastr/toastr.min.js', type='text/javascript')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL SCRIPTS
	//script(src='/assets/pages/scripts/components-nouisliders.js', type='text/javascript')
	script(src='/assets/pages/scripts/audio-synchronizer.js', type='text/javascript')
	script(src='/assets/pages/scripts/class-upload-chat.js', type='text/javascript')
	script(src='/assets/pages/scripts/components-color-pickers.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/ui-toastr.js', type='text/javascript')
	script(src='/assets/pages/scripts/class-upload.js', type='text/javascript')
	script(src='/assets/pages/scripts/class-upload-ajax.js', type='text/javascript')
	script(src='/assets/pages/scripts/star-rating.js', type='text/javascript')
	script(src='/assets/pages/scripts/rel-popover.js', type='text/javascript')
	script(src='/assets/pages/scripts/form-dropzone.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/components-clipboard.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/ui-confirmations.min.js', type='text/javascript')
	// END PAGE LEVEL SCRIPTS