extends master.pug

block header
	title Re-Tinta | Clases Almacenadas
	// BEGIN PAGE LEVEL PLUGINS
	link(href='/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL STYLES
	link(href='/assets/pages/css/classes-inprogres.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL STYLES

block content
	.page-content-wrapper
		// BEGIN CONTENT BODY
		.page-content(style='overflow: hidden;')
			// BEGIN PAGE HEADER
			// BEGIN THEME PANEL
			// END THEME PANEL
			h1.page-title
				| Clases Almacenadas
				//- small Nose si poner un subtitulo o cual
			// END PAGE HEADER
			// BEGIN : OVERLAY
			.row
				.col-sm-12
					.panel.panel-info
						.panel-body.text-center
							.row
								.col-sm-4
									h5 Nombre Clase: 
									input#className.form-control(type="text",name="className",placeholder="ej: El Universo")
								.col-sm-4
									h5 Profesor: 
									input#classOwner.form-control(type="text",name="classOwner",placeholder="ej: Juan Perez")
								.col-sm-4
									h5 Categoría: 
									select#classCategory.form-control(name="classCategory")
										option(value="0") Todos
										option(value="1") Arte
										option(value="2") Ciencias Básicas
										option(value="3") Tecnología
										option(value="4") Salud
										option(value="5") Diseño
										option(value="6") Ciencias Sociales
										option(value="7") Idioma
										option(value="8") Otro
			.row#classes
				br
				each c, i in dataClassesInprogres
					.col-lg-3.col-md-4.col-sm-6.col-xs-12
						.portlet.light.portlet-fit
							.portlet-title(style="word-wrap:break-word; display:block")
								.row
									.mt-comments
										.mt-comment
											.mt-comment-img
												if dataOwners[i].userAvatar == null
													img.img-circle.user-owner(src='/avatarsProfile/avatarUnknownSquare.jpg')
												else
													img.img-circle.user-owner(src=dataOwners[i].userAvatar)
											.mt-comment-body(style="word-wrap:break-word; display:block")
												.mt-comment-info(style="word-wrap:break-word; display:block")
													a.caption-subject.font-green.bold.uppercase(href=`/classRec/${c._id}`) #{c.classTitle}
													//- span.mt-comment-date 10 Dec, 09:20 AM
												.mt-comment-text(style="word-wrap:break-word; display:block")
													| Dictada por&nbsp;
													a(href='/myClasses:'+dataOwners[i].userMail, target="_blank", rel="noopener noreferrer") #{dataOwners[i].userName}
										//- .div-user
										//- 	img.img-circle.user-owner(src='/avatarsProfile/upload_71ce26799ca95f770cf204c86e9ca246.jpg', alt='/avatarsProfile/avatarUnknown.jpg')
										//- 	a.caption-subject.font-green.bold.uppercase(href=`/class/${c._id}`) #{c.classTitle} #{i}
										//- 		c.caption-desc.font-grey-cascade Dictada por: Mario Rodriguez
								.row
									.caption-desc.font-grey-cascade.class-description(style="word-wrap:break-word; display:block")
										p #{c.classDescription}
							.portlet-body
								.mt-element-overlay
									.row
										.col-md-12
											.mt-overlay-1
												img(src=c.classImg)
												.mt-overlay
													ul.mt-info
														li
															i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Ingresar')
																a.btn.default.btn-outline.tooltips.ingresar(href=`/classRec/${c._id}`)
																	i.icon-login
														li
															i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Copiar URL')
																a.btn.default.btn-outline.compartir()
																	i.icon-share
				if(dataClassesInprogres.length == 0)
					h4.text-center
						| No se encontraron Clases en Almacenadas
						br
						br
						br
			-var n = 1;
			.col-sm-12.text-center#paginator
				if page && pages
					nav
						ul.pagination
							while n <= pages
								if(n==page)
									li.page-item.active
										a.page-link.pages=n++
								else
									li.page-item
										a.page-link.pages=n++
block scripts
	
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/finder.js',saved="1",type='text/javascript')
	// END PAGE LEVEL SCRIPTS
		
