extends master.pug

block header
	title Re-Tinta | Clase Online
	// BEGIN PAGE LEVEL PLUGINS
	link(href='/assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/jquery-minicolors/jquery.minicolors.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-summernote/summernote.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-toastr/toastr.min.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL STYLES
	link(href='/assets/pages/css/class.css', rel='stylesheet', type='text/css')
	link(href='/assets/pages/css/star-rating.css', rel='stylesheet', type='text/css')
	link(href='/assets/pages/css/chat-style.css', rel= 'stylesheet', type='text/css')
	link(href='/assets/global/plugins/dropzone/dropzone.min.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/dropzone/basic.min.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/dropzone/class-carousel.css', type='text/html')
	link(href='/assets/pages/css/hide-inner-components.css', type='text/html')
	
	// END PAGE LEVEL STYLES

block content
	.page-content-wrapper
		// BEGIN CONTENT BODY
		.page-content
			// BEGIN PAGE HEADER
			// BEGIN QUICK SIDEBAR TOGGLER
			// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
			//li.dropdown.dropdown-extended.quick-sidebar-toggler.nav.btn.btn-circle.btn-icon-only.btn-default.tooltips(data-toggle='tooltip', data-placement='right', title='', data-original-title='Abrir chat')
				span.sr-only Toggle Quick Sidebar
				i.fa.fa-wechat
			// END QUICK SIDEBAR TOGGLER
			.row
				.col-sm-12
					// BEGIN QUICK SIDEBAR
					a.page-quick-sidebar-toggler(href='javascript:;' style='width: 580px;')
						i.icon-login
					.page-quick-sidebar-wrapper(data-close-on-body-click='false' style='background-color:white')
						.page-quick-sidebar
							ul#sideTab.nav.nav-tabs(style="background-color: #26344b")
								//if data.classOwner == dataUser.id
								li.active
									a(href='javascript:;', data-target='#moduloChat', data-toggle='tab')
										| Chat
										span#numStudents.badge.badge-default.pull-right.bold.tooltips(data-toggle='tooltip', data-placement='left', title='', data-original-title='Alumnos conectados') 0
									//li
										a(href='javascript:;', data-target='#moduloActividades', data-toggle='tab')
											| Resultados
											span.badge.badge-success
								//else 
									li.active
										a(href='javascript:;', data-target='#moduloChat', data-toggle='tab')
											| Chat
											span#numStudents.badge.badge-default.pull-right.bold.tooltips(data-toggle='tooltip', data-placement='left', title='', data-original-title='Alumnos conectados') 0
							.tab-content
								if data.classOwner == dataUser.id
									#moduloChat.tab-pane.active.page-quick-sidebar-chat
										.panel(data-rail-color='#ddd', data-wrapper-class='page-quick-sidebar-list')
											//Nuevo CHAT
											.div
												.panel-body(style='padding-bottom: 0px;padding-right: 0px;padding-left: 0px;padding-top: 0px;')
														#accordion.panel
															//#panelDesplegable.panel-heading(data-toggle='collapse', data-parent='#accordion', onclick=' ', href='#collapseOne', aria-expanded=(data.classOwner != dataUser.id)?"true":"false" style="background-color: #2f353b")
															#collapseOne.panel
																.panel-body.myChat(aria-expanded="true")
																	// BEGIN MESSAGE
																	ul#chat.chat
																		li.left.clearfix(item-height='')
																	//END MESSAGE				
																.panel-footer.chat-footer
																	.input-group
																		ul.nav.btn.btn-info.btn-sm.input-group-addon
																			li#Emoji-icon.dropdown.dropdown-extended.dropdown-notification.dropdown-dark.dropup
																				div.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true', aria-expanded='false')
																					i.fa.fa-smile-o(style='font-size:20px;text-align:right')
																				ul.dropdown-menu(style='-webkit-box-shadow:none;text-align:center;background-color:transparent;border:none')
																					li
																						.slimScrollDiv
																							ul.dropdown-menu-list.scroller
																								li
																									div#AreaTable
																										table#IconTable.table.table-responsive(style='border:0')
																											tbody
																												tr
																													td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más bajo',style="border:1px solid black;")
																														| &#x1F509
																													td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más fuerte',style="border:1px solid black;")
																														| &#x1F50A
																													td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Tengo una pregunta',style="border:1px solid black;")
																														| &#9995;
																												tr
																													td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más lento',style="border:1px solid black;")
																														| &#x1F40C
																													td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más rápido',style="border:1px solid black;")
																														| &#x1F407
																		input#messageTextBox.form-control.input-sm(type='text', placeholder='Escribe aquí tu mensaje...')
																		span.input-group-btn
																			button#messageSendButton.btn.btn-info.btn-sm
																				i.fa.fa-send.fa-1(aria-hidden='true')
											//Fin nuevo CHAT
									#moduloActividades.tab-pane.page-quick-sidebar-alerts
										.panel(data-rail-color='#ddd', data-wrapper-class='page-quick-sidebar-list')
											.div
												.div
													#answer-panel
														.panel-body
															.row
																.col-sm-12
																	.form-group
																		span.input-group-addon Sin Responder
																		#option-sinresp.progress-bar.progress-bar-warning.active(role='progressbar', style='width: 100%', aria-valuenow='100.00', aria-valuemin='0', aria-valuemax='100')
																			| 100.00%
															.row
																.col-sm-12
																	.form-group
																		span.input-group-addon Correctos
																		#option-correct.progress-bar.progress-bar-success.active(role='progressbar', style='width: 20%', aria-valuenow='0.00', aria-valuemin='0', aria-valuemax='100')
																			| 0.00%
															.row
																.col-sm-12
																	.form-group
																		span.input-group-addon Incorrectos
																		#option-incorrect.progress-bar.progress-bar-danger.active(role='progressbar', style='width: 20%', aria-valuenow='0.00', aria-valuemin='0', aria-valuemax='100')
																			| 0.00%
														.panel-body
															.row
																.col-sm-12
																	.form-group
																		span.input-group-addon Respuesta 1
																		#option-11.progress-bar.progress-bar-default(role='progressbar', style='width: 20%', aria-valuenow='0.00', aria-valuemin='0', aria-valuemax='100')
																			| 0.00%
															.row
																.col-sm-12
																	.form-group
																		span.input-group-addon Respuesta 2
																		#option-22.progress-bar.progress-bar-default(role='progressbar', style='width: 20%', aria-valuenow='0.00', aria-valuemin='0', aria-valuemax='100')
																			| 0.00%
															#endR
														.panel-body
															button#end-answers.btn.btn-success.btn-block(type='button') Finalizar encuesta
														.modal.fade(tabindex='-1' role='dialog')
															div(role='document')
															.modal-content
																	.modal-header
																		button.close(type='button', data-dismiss='modal', aria-label='Close')
																			span.glyphicon.glyphicon-remove
																		button.close.modalMinimize(type='button', arial-label='close')
																			span.glyphicon.glyphicon-minus
																		h3#AnswerModalLabel.modal-title Resultados
																			i.fa.fa-bar-chart.font-yellow-casablanca.theme-font
																	.modal-body
																	//progreso cuestionario	online
																	.modal-footer
																		button.btn.btn-primary(type='button') Finalizar
																		button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
								else
									#moduloChat.tab-pane.active.page-quick-sidebar-chat
										.panel(data-rail-color='#ddd', data-wrapper-class='page-quick-sidebar-list')
											//Nuevo CHAT
											.div
												.panel-body(style='padding-bottom: 0px;padding-right: 0px;padding-left: 0px;padding-top: 0px;')
													#accordion.panel
														//#panelDesplegable.panel-heading(data-toggle='collapse', data-parent='#accordion', onclick=' ', href='#collapseOne', aria-expanded=(data.classOwner != dataUser.id)?"true":"false" style="background-color: #2f353b")
														#collapseOne.panel
															.panel-body.myChat
																// BEGIN MESSAGE
																ul#chat.chat
																	li.left.clearfix(item-height='')

																//END MESSAGE				
															.panel-footer.chat-footer
																.input-group
																	ul.nav.btn.btn-info.btn-sm.input-group-addon
																		li#Emoji-icon.dropdown.dropdown-extended.dropdown-notification.dropdown-dark.dropup
																			div.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true', aria-expanded='false')
																				i.fa.fa-smile-o(style='font-size:20px;text-align:right')
																			ul.dropdown-menu(style='-webkit-box-shadow:none;text-align:center;background-color:transparent;border:none')
																				li
																					.slimScrollDiv
																						ul.dropdown-menu-list.scroller
																							li
																								div#AreaTable
																									table#IconTable.table.table-responsive(style='border:0')
																										tbody
																											tr
																												td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-dark.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más bajo')
																													| &#x1F509
																												td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-dark.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más fuerte')
																													| &#x1F50A
																												td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-dark.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Tengo una pregunta')
																													| &#9995;
																											tr
																												td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-dark.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más lento')
																													| &#x1F40C
																												td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-dark.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más rápido')
																													| &#x1F407
																	input#messageTextBox.form-control.input-sm(type='text', placeholder='Escribe aquí tu mensaje...')
																	span.input-group-btn
																		button#messageSendButton.btn.btn-info.btn-sm
																			i.fa.fa-send.fa-1(aria-hidden='true')
														//Fin nuevo CHAT	

					// END QUICK SIDEBAR

			// END PAGE HEADER
			.row
				.col-md-12
					// BEGIN EXTRAS PORTLET
					.portlet.light.form-fit
						.portlet-title
							.caption
								//- 	i.icon-layers.font-green
								//- 	span.caption-subject.font-green.bold.uppercase #{data.classTitle}
								span#user-id(style='display:none') #{dataUser.id}
								.mt-comments
									.mt-comment
										.mt-comment-img
											img.img-circle.user-owner(src=dataOwner.userAvatar, alt='/avatarsProfile/avatarUnknown.jpg')
										.mt-comment-body
											.mt-comment-info
												span.caption-subject.font-green.bold.uppercase(href=`/class/${data.id}`)  #{data.classTitle} 
												//- span.mt-comment-date 10 Dec, 09:20 AM
											.mt-comment-text
												| Dictada por&nbsp;
												a(href='/myClasses:'+dataOwner.userMail, target="_blank", rel="noopener noreferrer") #{dataOwner.userName}
												input(type='hidden', id='inputOwnerId', value=`${data.classOwner}`)
							if data.classOwner == dataUser.id	
								.actions
									form(id='formEndClass', method='POST', action='/EndClass')
										i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Salir')
											button#finishButton.btn.btn-circle.btn-icon-only.btn-default.red(type='button')
												i.fa.fa-power-off.fa-inverse(aria-hidden='true')
										//a.btn.btn-circle.btn-icon-only.btn-default(href='javascript:;')
											i.icon-cloud-upload
										input(type='hidden', name='_id', value=''+data.id, id="class-id")
										input(type='hidden', name='duration', value='0', id="duration")
										input(type='hidden', name='_method', value='PUT')
										i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Copiar URL')
											button.btn.btn-circle.btn-icon-only.btn-default(type='button', id='shareButton')
												i.icon-share
										i
											li#startChat.dropdown.dropdown-extended.quick-sidebar-toggler.nav.btn.btn-circle.btn-icon-only.btn-default.tooltips(data-toggle='tooltip', data-placement='top', title='', data-original-title='Abrir chat')
												i.fa.fa-wechat
										i
											button#startResults.dropdown.dropdown-extended.quick-sidebar-toggler.nav.btn.btn-circle.btn-icon-only.btn-default.tooltips(type='button', style="display:none;",data-toggle='tooltip', data-placement='top', data-original-title='Ver Resultados')
												span.fa.fa-check(aria-hidden="true")
										i
											button#startSurvey.btn.btn-circle.btn-icon-only.btn-default.tooltips.noInicio(type='button',style="display:none;", data-toggle='modal', data-target='#modal-question', data-placement='top', data-original-title='Crear cuestionario' )
												i.glyphicon.glyphicon-tasks
										//button#startSurvey.btn.btn-circle.btn-icon-only.btn-default.tooltips(type='button', aria-expanded='true', data-placement='left', title='', data-original-title='Iniciar cuestionario', data-toggle='modal', data-target='#modal-question')
											i.fa.fa-question-circle
										i
											button#muteMic.btn.btn-circle.btn-icon-only.btn-default.tooltips.blue(type='button', style="display:none;",data-toggle='tooltip', data-placement='top', data-original-title='Micrófono encendido')
												span.icon-microphone.fa-inverse(aria-hidden="true")
										input(type='hidden', id='isEnable', value='true')

							else
								.actions
									i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Salir')
										button#finishButton.btn.btn-circle.btn-icon-only.btn-default.red(type='button')
											i.fa.fa-power-off.fa-inverse(aria-hidden='true')
									input(type='hidden', id='isEnable', value='false')
									i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Votar')
										button#voteStart.btn.btn-circle.btn-icon-only.btn-default(type='button')
											i.fa.fa-star(aria-hidden='true')
									i.tooltips(data-toggle='tooltip', data-placement='top', title='', data-title='Copiar URL')
										button.btn.btn-circle.btn-icon-only.btn-default(type='button', id='shareButton')
											i.icon-share
									i
										li#startChat.dropdown.dropdown-extended.quick-sidebar-toggler.nav.btn.btn-circle.btn-icon-only.btn-default.tooltips(data-toggle='tooltip', data-placement='top', title='', data-original-title='Abrir chat')
											i.fa.fa-wechat
						.portlet-body.form
							.form-horizontal.form-bordered
								.form-body
									.form-group.last
										.row(style="padding-top:0px;")
											if data.classOwner == dataUser.id
												.col-sm-12.text-center
													.row
														.col-sm-2
														.col-sm-8
															#beginningMessage.portlet.light
																.portlet-body
																	br
																	br
																	.row
																		.col-sm-3
																		.col-sm-6
																			button#startClass.btn.btn-block.btn-primary(type='button', data-dismiss='modal') Empecemos!
																	br
																	br
																	#portlet_comments_1
																		// BEGIN: Comments
																		.mt-comments
																			.mt-comment
																				.mt-comment-img
																					i.fa.fa-wechat.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Chat
																					.mt-comment-text  Utilice nuestro servicio de mensajería instantánea para comunicarse con sus oyontes.
																			.mt-comment
																				.mt-comment-img
																					i.icon-share.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Comparte
																					.mt-comment-text Comparte el acceso a tu clase con tus alumnos mediante un link url.
																			.mt-comment
																				.mt-comment-img
																					span.icon-microphone.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Transmisión de Voz
																					.mt-comment-text
																						| Activa y desactiva la transmision de voz en función de tus necesidades.
																			.mt-comment
																				.mt-comment-img
																					i.glyphicon.glyphicon-tasks.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Crea cuestionarios online
																					.mt-comment-text
																						| Durante tu clase puedes enviar  en tiempo real cuestionrios chois de opsion simple y multiple para tus oyentes
																			.mt-comment
																				.mt-comment-img
																					spam.fa.fa-check.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Ve los resultados
																					.mt-comment-text
																						| Sigue los resultados de tus encuentas en tiempo real,con metricas de cantidad de asiertos y participacion.
																			.mt-comment
																				.mt-comment-img
																					i.note-icon-pencil.note-recent-color-1.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Dibuja / Escribe en la pizarra
																					.mt-comment-text
																						| Realiza dibujos en tu pizarra, escribe para complementar mejor tus clases.
																			.mt-comment
																				.mt-comment-img
																					i.fa.fa-lg.fa-floppy-o.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Guardar pizarra
																					.mt-comment-text
																						| Almacena todo, en lugar de simplemente borrar tu pizarra virtual, guardando este contenido para poder ser consultado en cualquier momento.
																			.mt-comment
																				.mt-comment-img
																					i.fa.fa-eye.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Ver pizarras guardadas
																					.mt-comment-text
																						| Tanto tu como tus alumnos pueden consultar las pizarras guardadas en cualquier momento.
																			.mt-comment
																				.mt-comment-img
																					i.fa.fa-power-off.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Salir
																					.mt-comment-text
																						| Mediante este boton no solo finalizas la clase si no que le permite al sistema,para enviar un pedido de valoración de la clase a tus oyentes.
																		// END: Comments
															//- #beginningMessage.panel.panel-primary
																.panel-heading
																	h4.modal-title.text-center BIENVENIDO A SU CLASE!!
																.panel-body
																	.row
																		.col-sm-12
																			p.text-center
																				|  Si sale de la clase la misma se dará por terminada. Además
																				|  recuerde aceptar los permisos de acceso al micrófono. Si no desea transmitir su voz, posteriomente
																				|  puede silenciar la clase.
																.panel-footer
																	.row
																		.col-sm-3
																		.col-sm-6
																			button#startClass.btn.btn-block.btn-primary(type='button', data-dismiss='modal') Empecemos!
											else
												#beginningMessageAlumno.col-sm-12.text-center(style='display:none')
													.row
														.col-sm-2
														.col-sm-8
															.portlet.light
																.portlet-body
																	.row
																		.col-sm-3
																		.col-sm-6
																			h4 Usted se encuentra en sala de espera.
																			h5 Aguarde hasta que el profesor inicie la clase
																	br
																	br
																	#portlet_comments_1
																		// BEGIN: Comments
																		.mt-comments
																			.mt-comment
																				.mt-comment-img
																					i.fa.fa-wechat.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Chat
																					.mt-comment-text  Utilice nuestro servicio de mensajería instantánea para comunicarse con su profesor y sus compañeros.
																			.mt-comment
																				.mt-comment-img
																					i.icon-share.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Comparte
																					.mt-comment-text Comparte el acceso a la clase mediante un link url.
																			.mt-comment
																				.mt-comment-img
																					i.glyphicon.glyphicon-volume-up.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Audio
																					.mt-comment-text
																						| Regula el volumen de la voz de tu profesor
																			.mt-comment
																				.mt-comment-img
																					i.fa.fa-star.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Valora la clase
																					.mt-comment-text
																						| En cualquier punto de la clase, valora la misma mediante ent funcionalidad.
																			.mt-comment
																				.mt-comment-img
																					i.fa.fa-eye.fa-3x
																				.mt-comment-body
																					.mt-comment-info
																						span.mt-comment-author Ver pizarras guardadas
																					.mt-comment-text
																						| Puedes consultar las pizarras guardadas en cualquier momento.
											if data.classOwner != dataUser.id
												#canvasColumn.col-sm-12.noInicio.text-center(style='display:none')
													.row
														#summernote_1(name='summernote')
													if data.classOwner != dataUser.id
														.row
															.col-sm-12(style="float:none;margin: 0 auto;")
																audio(autoplay="true")
											else
												#canvasColumn.col-sm-12.noInicio.text-center
													.row
														#summernote_1(name='summernote')
												// END BOARD
												// BEGIN CHAT
												//Nuevo CHAT
												//.row
													.row
														.col-md-12
															#accordion.panel.panel-primary
																#panelDesplegable.panel-heading(data-toggle='collapse', data-parent='#accordion', onclick=' ', href='#collapseOne', aria-expanded=(data.classOwner != dataUser.id)?"true":"false" style="background-color: #2f353b")
																	span.glyphicon.glyphicon-comment
																	|   Chat
																	#numStudents.badge.badge-default.pull-right.bold.tooltips(data-toggle='tooltip', data-placement='top', title='Alumnos conectados') 0
																#collapseOne(class=(data.classOwner != dataUser.id)?"panel-collapse collapse in":"panel-collapse collapse")
																	.panel-body.myChat
																		// BEGIN MESSAGE
																		ul#chat.chat
																			li.left.clearfix(item-height='')
																				//span.chat-img.pull-left
																					img.img-circle-chat(src='http://placehold.it/50/55C1E7/fff&text=U', alt='User Avatar')
																				//.chat-body.clearfix
																					.header
																						strong.primary-font Jack Sparrow
																						small.pull-right.text-muted
																							span.glyphicon.glyphicon-time
																							| 12 mins ago
																					p
																						| Lorem ipsum dolor sit amet
																						| &#x1F590
																		//END MESSAGE				
																	.panel-footer
																		.input-group
																			ul.nav.btn.btn-info.btn-sm.input-group-addon
																				li#Emoji-icon.dropdown.dropdown-extended.dropdown-notification.dropdown-dark.dropup
																					div.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true', aria-expanded='false')
																						i.fa.fa-smile-o(style='font-size:20px;text-align:right')
																					ul.dropdown-menu(style='-webkit-box-shadow:none;text-align:center;background-color:transparent;border:none')
																						li
																							.slimScrollDiv
																								ul.dropdown-menu-list.scroller
																									li
																										div#AreaTable
																											table#IconTable.table.table-responsive(style='border:0')
																												tbody
																													tr
																														td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-dark.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más bajo')
																															| &#x1F509
																														td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-dark.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más fuerte')
																															| &#x1F50A
																														td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-dark.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Tengo una pregunta')
																															| &#9995;
																													tr
																														td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-dark.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más lento')
																															| &#x1F40C
																														td.icon.socicon-btn.socicon-btn-circle.socicon-solid.bg-dark.bg-hover-grey-salsa.tooltips(data-toggle='tooltip', data-placement='top', title='Hable más rápido')
																															| &#x1F407
																			input#messageTextBox.form-control.input-sm(type='text', placeholder='Escribe aquí tu mensaje...')
																			span.input-group-btn
																				button#messageSendButton.btn.btn-info.btn-sm
																					i.fa.fa-send.fa-1(aria-hidden='true')
												//Fin nuevo CHAT
										if data.classOwner == dataUser.id
											.row
												.col-sm-12
													.wrapper
														#chart
												// BEGIN Questionnaire
										.row
											.panel-body
												if data.classOwner == dataUser.id
													//button#startSurvey.btn.btn-primary.btn-block.noInicio(type='button', data-toggle='modal', data-target='#modal-question') Iniciar Encuesta
													#modal-question.modal.fade(tabindex='-1', role='dialog', data-keyboard='false', data-backdrop='static')
														div(role='document')
															.modal-content
																.modal-header
																	h3#QuestionModalLabel.modal-title Nuevo Cuestionario&nbsp;
																		i.fa.fa-comments-o.font-purple-plum.theme-font
																	input#question-name.form-control.form-control-lg(type='text', placeholder='Ingrese su pregunta...')
																.modal-body(style="padding-bottom: 4px;")
																	#addOption.row
																		.col-sm-10
																			.input-group
																				span.input-group-addon 1)
																				input#option1.form-control(type='text', placeholder='Escriba su respuesta aqui')
																		.col-sm-2
																			input#checkOption1.form-control(type="checkbox", name="correctAnswer",value="1")
																		.col-sm-10
																			.input-group
																				span.input-group-addon 2)
																				input#option2.form-control(type='text', placeholder='Escriba su respuesta aqui')
																		.col-sm-2
																			input#checkOption2.form-control(type="checkbox", name="correctAnswer",value="2")
																	.row#plusSimbol
																		.col-sm-6
																		.col-sm-2(style="padding-right: 0px;")
																			button#btnAddQuestion.btn.btn-default.btn-block(type="button")
																				span.glyphicon.glyphicon-plus(aria-hidden="true")
																		.col-sm-2(style="padding-left: 0px;")
																			button#btnRemoveQuestion.btn.btn-default.btn-block(type="button")
																				span.glyphicon.glyphicon-minus(aria-hidden="true")
																.modal-footer
																	.row
																		.col-sm-12
																			h6 Si usted marca un check, está estableciendo la opción como correcta
																	.row
																		.col-sm-6
																		.col-sm-3(style="padding-right:2px;")
																			button#begin-questions.btn.btn-block.btn-primary(type="button", data-toggle="tooltip", data-placement="left", data-original-title="") Publicar
																		.col-sm-3(style="padding-left:2px;")
																			button#cancelQuestionnaire.btn.btn-block.btn-secondary(type="button", data-dismiss="modal") Cancelar
													//#answer-panel.panel.panel-primary(style="display:none")
														.panel-heading Resultados
														.panel-body
															.form-group
																span.input-group-addon Sin Responder
																#option-sinresp.progress-bar.progress-bar-striped.progress-bar-warning.active(role='progressbar', style='width: 100%', aria-valuenow='100.00', aria-valuemin='0', aria-valuemax='100')
																	| 100.00%
															.form-group
																span.input-group-addon Correctos
																#option-correct.progress-bar.progress-bar-striped.progress-bar-info.active(role='progressbar', style='width: 20%', aria-valuenow='0.00', aria-valuemin='0', aria-valuemax='100')
																	| 0.00%
															.form-group
																span.input-group-addon Incorrectos
																#option-incorrect.progress-bar.progress-bar-striped.progress-bar-danger.active(role='progressbar', style='width: 20%', aria-valuenow='0.00', aria-valuemin='0', aria-valuemax='100')
																	| 0.00%
															.form-group
																span.input-group-addon Respuesta 1
																#option-11.progress-bar.progress-bar-striped.progress-bar-success.active(role='progressbar', style='width: 20%', aria-valuenow='0.00', aria-valuemin='0', aria-valuemax='100')
																	| 0.00%
															.form-group
																span.input-group-addon Respuesta 2
																#option-22.progress-bar.progress-bar-striped.progress-bar-success.active(role='progressbar', style='width: 20%', aria-valuenow='0.00', aria-valuemin='0', aria-valuemax='100')
																	| 0.00%
															#endR
														.panel-footer
															button#end-answers.btn.btn-success.btn-block(type='button') Finalizar encuesta
														.modal.fade(tabindex='-1' role='dialog')
															div(role='document')
															.modal-content
																	.modal-header
																		button.close(type='button', data-dismiss='modal', aria-label='Close')
																			span.glyphicon.glyphicon-remove
																		button.close.modalMinimize(type='button', arial-label='close')
																			span.glyphicon.glyphicon-minus
																		h3#AnswerModalLabel.modal-title Resultados
																			i.fa.fa-bar-chart.font-yellow-casablanca.theme-font
																	.modal-body
																	//progreso cuestionario	online
																	.modal-footer
																		button.btn.btn-primary(type='button') Finalizar
																		button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
												else
													#modal-answer.modal.fade(tabindex='-1', role='dialog', data-keyboard='false', data-backdrop='static')
														div(role='document')
															.modal-content
																#questionTitle.modal-header
																	h3#QuestionModalLabel1.modal-title Cuestionario Enviado&nbsp;
																		i.fa.fa-comments-o.font-purple-plum.theme-font
																	br
																#options.modal-body(style="padding-bottom: 4px;")
																.modal-footer
																	button#answer.btn.btn-primary(type='button', data-toggle="tooltip", data-placement="left", data-original-title="") Enviar Respuesta
													#modal-result.modal.fade(tabindex='-1', role='dialog', data-keyboard='false', data-backdrop='static')
														div(role='document')
															.modal-content
																.modal-body.text-center
																	h3#result
																.modal-footer
																	button.btn.btn-primary(type='button', data-dismiss='modal') Aceptar			
											// END Questionnaire
											//- .col-md-12
											//- 	label Comparte la clase con este link:
											//- 	a(href=("window.location.origin/class/"+data.id)) window.location.origin/class/#{data.id}
										#popover_content_wrapper(style='display: none')
											a(href=("window.location.origin/class/"+data.id)) window.location.origin/class/#{data.id}
										if data.classOwner != dataUser.id
											// BEGIN SHOW MESSENGE STATIC
											#static.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false')
												.modal-body.text-center
													h4.modal-title Por favor, valore esta clase.
													br
													span.rating
													p#value-star
													div#vote
														input(type='text', id="class-id", name='_id', value=''+data.id, style='display:none')
														input(type='text', id="input-vote", name='vote',style='display:none')
														input(type='text',id='voteOrigin', name='origin',style='display:none;', value='online')
														button.btn.green(type='button', id='voteButton', style='display:none')
														input(type='hidden', id='voteMethod', name='_method', value='PUT')
										.row(style='display:none')
											.col-md-12
												.portlet.light
													//input#title.form-control(type='text', value='Error en Clase en Vivo', placeholder='')
													textarea#message.form-control(rows='3', placeholder='')
													input#toastTypeGroup.form-control(type='text', value='', placeholder='')
													// success info warning error
													.col-md-12
														button#showtoast.btn.green(type='button ') Show Toast
											// END SHOW MESSENGE

					// END EXTRAS PORTLET

block scripts
	// BEGIN PAGE LEVEL PLUGINS
	script(src='/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js', type='text/javascript')
	script(src='/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js', type='text/javascript')
	script(src='/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.js', type='text/javascript')
	script(src='/assets/global/plugins/webSocket.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-summernote/summernote.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js', type='text/javascript')
	script(src='/assets/global/plugins/dropzone/dropzone.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-growl/bootstrap-notify.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-toastr/toastr.min.js', type='text/javascript')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/socket.io/socket.io.js')
	script(src='/assets/pages/scripts/components-color-pickers.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/ui-toastr.js', type='text/javascript')
	script(src='/assets/pages/scripts/plotly.js', type='text/javascript')
	script(src='/assets/pages/scripts/class.js', type='text/javascript')
	script(src='/assets/pages/scripts/star-rating.js', type='text/javascript')
	script(src='/assets/pages/scripts/form-dropzone.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/components-clipboard.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/ui-confirmations.min.js', type='text/javascript')
	//script(src='/assets/pages/scripts/class-stream-audio.js') 
	// END PAGE LEVEL SCRIPTS
	script.
		$(document).ready(function() {
			$("#AreaTable table tr td").click(function() {
				var celda = $(this);
				//console.log(celda.html());
				document.getElementById("messageTextBox").value = celda.html();
			});
		});
