extends master.pug

block header
	title Re-Tinta | Estadísticas

	//BEGIN PAGE LEVEL STYLES
	link(href='/assets/global/plugins/icheck/skins/all.css', rel='stylesheet', type='text/css')


block content
	.page-content-wrapper
		// BEGIN CONTENT BODY
		.page-content
			// BEGIN PAGE HEADER
			// BEGIN THEME PANEL
			// END THEME PANEL
			h1.page-title
				.row
					.col-sm-12
						| Gráficos Totalizadores de Clases
					//small 19/10/2012
				.row
					#vistas.col-sm-4
					.col-sm-4
					.col-sm-4.text-right
						//- button.btn.btn-fit-height.grey-salt.dropdown-toggle(type='button', data-toggle='modal', data-target='#modal-AllClases')
						button#btnAddClass.btn.btn-fit-height.grey-salt(type='button')
							| Seleccione las clases
			// END PAGE HEADER
			// BEGIN : ECHARTS
			input(type='hidden', id='inputOwnerId', value= dataUser._id)
			.row
				#mensaje.col-lg-12.col-xs-12.col-sm-12.text-center.text-danger(style='display:none;')
					h3 No hay Gráficos Disponibles para las Clases Seleccionadas
				.col-lg-6.col-xs-12.col-sm-12
					.portlet.light
						#echarts_pie(style='height:500px;')
				.col-lg-6.col-xs-12.col-sm-12
					.portlet.light
						#echarts_bar(style='height:500px;')
				.col-lg-6.col-xs-12.col-sm-12
					.portlet.light
						#echarts_pieVotantes(style='height:500px;')
				.col-lg-6.col-xs-12.col-sm-12
					.portlet.light
						#echarts_piePermanencia(style='height:500px;')
				.col-lg-6.col-xs-12.col-sm-12
					.portlet.light
						#echarts_pieResponds(style='height:500px;')
			.row
				.col-lg-6.col-xs-12.col-sm-12
					#modal-AllClases.modal.fade(data-backdrop='false')
						div.modal-dialog
							.modal-content
								.modal-header.text-center
									h3#MyClasses.modal-title Seleccione las clases&nbsp;
									//- input#FilterBy.form-control.form-control-lg(type='text', placeholder='Fechas...')
								.modal-body
									//- ul#checkbox
									#checkbox.form-group
										//label Seleccione las clases
										//- .input-group
										//- 	.icheck-list
										//- 		label
										//- 			.icheckbox_minimal-grey(style='position: relative;')
										//- 				input.icheck(type='checkbox' style='position: absolute; opacity: 0;')
										//- 			|  Clase 1
								.modal-footer
									.row
										.col-sm-3(style="padding-right:2px;")
											button#btnAgregarClase.btn.btn-block.btn-primary(type="button", data-toggle="tooltip", data-placement="left", data-original-title="" data-dismiss="modal") Aceptar
										.col-sm-3(style="padding-left:2px;")
											button#btnCancel.btn.btn-block.btn-secondary(type="button", data-dismiss="modal") Cancelar				
block scripts
	// BEGIN PAGE LEVEL PLUGINS
	script(src='/assets/global/plugins/echarts/echarts.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js', type='text/javascript')
	script(src='/assets/global/plugins/icheck/icheck.min.js', type='text/javascript')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/class_reports_ajax.js', type='text/javascript')
	// END PAGE LEVEL SCRIPTS