doctype html
//
	Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
	Version: 4.7.5
	Author: KeenThemes
	Website: http://www.keenthemes.com/
	Contact: support@keenthemes.com
	Follow: www.twitter.com/keenthemes
	Dribbble: www.dribbble.com/keenthemes
	Like: www.facebook.com/keenthemes
	Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
	Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
	License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
html
	// BEGIN HEAD
	head
		meta(charset='utf-8')
		title Re-Tinta | Clase Online
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(content='width=device-width, initial-scale=1', name='viewport')
		meta(content='Class online page - Re-Tinta', name='description')
		meta(content='', name='Re-Tinta Team')
		// BEGIN GLOBAL MANDATORY STYLES
		link(href='/assets/global/plugins/googlefonts/pagefonts.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
		// END GLOBAL MANDATORY STYLES
		// BEGIN PAGE LEVEL PLUGINS
		link(href='/assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/jquery-minicolors/jquery.minicolors.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/bootstrap-summernote/summernote.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css', rel='stylesheet', type='text/css')
		// END PAGE LEVEL PLUGINS
		// BEGIN THEME GLOBAL STYLES
		link#style_components(href='/assets/global/css/components-rounded.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/css/plugins.min.css', rel='stylesheet', type='text/css')
		// END THEME GLOBAL STYLES
		// BEGIN THEME LAYOUT STYLES
		link(href='/assets/layouts/layout2/css/layout.css', rel='stylesheet', type='text/css')
		link#style_color(href='/assets/layouts/layout2/css/themes/blue.css', rel='stylesheet', type='text/css')
		link(href='/assets/layouts/layout2/css/custom.css', rel='stylesheet', type='text/css')
		// END THEME LAYOUT STYLES
		// BEGIN PAGE LEVEL STYLES
		link(href='/assets/pages/css/class.css', rel='stylesheet', type='text/css')
		link(href='/assets/pages/css/star-rating.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/dropzone/dropzone.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/dropzone/basic.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/dropzone/class-carousel.css', type='text/html')
		// END PAGE LEVEL STYLES
		
		link(rel='shortcut icon', href='/assets/global/img/favicon.ico')
	// END HEAD
	body.page-header-fixed.page-sidebar-closed-hide-logo.page-container-bg-solid.page-sidebar-closed
		// BEGIN HEADER
		.page-header.navbar.navbar-fixed-top
			// BEGIN HEADER INNER
			.page-header-inner
				// BEGIN LOGO
				.page-logo
					a(href='index.html')
						img.logo-default(src='/assets/layouts/layout2/img/logo-default.png', alt='logo')
					.menu-toggler.sidebar-toggler
						// DOC: Remove the above "hide" to enable the sidebar toggler button on header
				// END LOGO
				// BEGIN RESPONSIVE MENU TOGGLER
				a.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')  
				// END RESPONSIVE MENU TOGGLER
				// BEGIN PAGE ACTIONS
					
				// END PAGE ACTIONS
				// BEGIN PAGE TOP
				.page-top
					// BEGIN HEADER SEARCH BOX
					// DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box
					// END HEADER SEARCH BOX
					// BEGIN TOP NAVIGATION MENU
					.top-menu
						ul.nav.navbar-nav.pull-right
							// BEGIN NOTIFICATION DROPDOWN
							// DOC: Apply "dropdown-dark" class below "dropdown-extended" to change the dropdown styte
							// DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode
							// DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class
							li#header_notification_bar.dropdown.dropdown-extended.dropdown-notification
								a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
									i.icon-bell
									span.badge.badge-default  7 
								ul.dropdown-menu
									li.external
										h3
											span.bold 12 pending
											|  notifications
										a(href='page_user_profile_1.html') view all
									li
										ul.dropdown-menu-list.scroller(style='height: 250px;', data-handle-color='#637283')
											li
												a(href='javascript:;')
													span.time just now
													span.details
														span.label.label-sm.label-icon.label-success
															i.fa.fa-plus
														|  New user registered.
											li
												a(href='javascript:;')
													span.time 3 mins
													span.details
														span.label.label-sm.label-icon.label-danger
															i.fa.fa-bolt
														|  Server #12 overloaded.
											li
												a(href='javascript:;')
													span.time 10 mins
													span.details
														span.label.label-sm.label-icon.label-warning
															i.fa.fa-bell-o
														|  Server #2 not responding.
											li
												a(href='javascript:;')
													span.time 14 hrs
													span.details
														span.label.label-sm.label-icon.label-info
															i.fa.fa-bullhorn
														|  Application error.
											li
												a(href='javascript:;')
													span.time 2 days
													span.details
														span.label.label-sm.label-icon.label-danger
															i.fa.fa-bolt
														|  Database overloaded 68%.
											li
												a(href='javascript:;')
													span.time 3 days
													span.details
														span.label.label-sm.label-icon.label-danger
															i.fa.fa-bolt
														|  A user IP blocked.
											li
												a(href='javascript:;')
													span.time 4 days
													span.details
														span.label.label-sm.label-icon.label-warning
															i.fa.fa-bell-o
														|  Storage Server #4 not responding dfdfdfd.
											li
												a(href='javascript:;')
													span.time 5 days
													span.details
														span.label.label-sm.label-icon.label-info
															i.fa.fa-bullhorn
														|  System Error.
											li
												a(href='javascript:;')
													span.time 9 days
													span.details
														span.label.label-sm.label-icon.label-danger
															i.fa.fa-bolt
														|  Storage server failed.
							// END NOTIFICATION DROPDOWN
							// BEGIN INBOX DROPDOWN
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							li#header_inbox_bar.dropdown.dropdown-extended.dropdown-inbox
								a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
									i.icon-envelope-open
									span.badge.badge-default  4 
								ul.dropdown-menu
									li.external
										h3
											| You have
											span.bold 7 New
											|  Messages
										a(href='app_inbox.html') view all
									li
										ul.dropdown-menu-list.scroller(style='height: 275px;', data-handle-color='#637283')
											li
												a(href='#')
													span.photo
														img.img-circle(src='/assets/layouts/layout3/img/avatar2.jpg', alt='')
													span.subject
														span.from  Lisa Wong 
														span.time Just Now 
													span.message
														| Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh.
											li
												a(href='#')
													span.photo
														img.img-circle(src='/assets/layouts/layout3/img/avatar3.jpg', alt='')
													span.subject
														span.from  Richard Doe 
														span.time 16 mins 
													span.message
														| Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh.
											li
												a(href='#')
													span.photo
														img.img-circle(src='/assets/layouts/layout3/img/avatar1.jpg', alt='')
													span.subject
														span.from  Bob Nilson 
														span.time 2 hrs 
													span.message
														| Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh.
											li
												a(href='#')
													span.photo
														img.img-circle(src='/assets/layouts/layout3/img/avatar2.jpg', alt='')
													span.subject
														span.from  Lisa Wong 
														span.time 40 mins 
													span.message  Vivamus sed auctor 40% nibh congue nibh. 
											li
												a(href='#')
													span.photo
														img.img-circle(src='/assets/layouts/layout3/img/avatar3.jpg', alt='')
													span.subject
														span.from  Richard Doe 
														span.time 46 mins 
													span.message
														| Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh.
							// END INBOX DROPDOWN
							// BEGIN TODO DROPDOWN
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							li#header_task_bar.dropdown.dropdown-extended.dropdown-tasks
								a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
									i.icon-calendar
									span.badge.badge-default  3 
								ul.dropdown-menu.extended.tasks
									li.external
										h3
											| You have
											span.bold 12 pending
											|  tasks
										a(href='app_todo.html') view all
									li
										ul.dropdown-menu-list.scroller(style='height: 275px;', data-handle-color='#637283')
											li
												a(href='javascript:;')
													span.task
														span.desc New release v1.2 
														span.percent 30%
													span.progress
														span.progress-bar.progress-bar-success(style='width: 40%;', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 40% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Application deployment
														span.percent 65%
													span.progress
														span.progress-bar.progress-bar-danger(style='width: 65%;', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 65% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Mobile app release
														span.percent 98%
													span.progress
														span.progress-bar.progress-bar-success(style='width: 98%;', aria-valuenow='98', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 98% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Database migration
														span.percent 10%
													span.progress
														span.progress-bar.progress-bar-warning(style='width: 10%;', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 10% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Web server upgrade
														span.percent 58%
													span.progress
														span.progress-bar.progress-bar-info(style='width: 58%;', aria-valuenow='58', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 58% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Mobile development
														span.percent 85%
													span.progress
														span.progress-bar.progress-bar-success(style='width: 85%;', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 85% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc New UI release
														span.percent 38%
													span.progress.progress-striped
														span.progress-bar.progress-bar-important(style='width: 38%;', aria-valuenow='18', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 38% Complete
							// END TODO DROPDOWN
							// BEGIN USER LOGIN DROPDOWN
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							li.dropdown.dropdown-user
								a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
									img.img-circle(alt='', src=dataUser.userAvatar)
									span.username.username-hide-on-mobile  #{dataUser.userName} 
									i.fa.fa-angle-down
								ul.dropdown-menu.dropdown-menu-default
									li
										- var url=dataUser.userName
										a(href=`/profile:${url}`)
											i.icon-user
											|  Mi Perfil
									li
										a(href='')
											i.icon-calendar
											|  Mi Calendario
									li
										a(href='')
											i.icon-envelope-open
											|  Mi Correo
											span.badge.badge-danger  3 
									li
										a(href='')
											i.icon-rocket
											|  Mis Tareas
											span.badge.badge-success  7 
									li.divider  
									li
										a(href='')
											i.icon-lock
											|  Lock Screen
									li
										a(href='/logout')
											i.icon-key
											|  Log Out
							// END USER LOGIN DROPDOWN
							// BEGIN QUICK SIDEBAR TOGGLER
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							li.dropdown.dropdown-extended.quick-sidebar-toggler
								span.sr-only Toggle Quick Sidebar
								i.icon-logout
							// END QUICK SIDEBAR TOGGLER
					// END TOP NAVIGATION MENU
				// END PAGE TOP
			// END HEADER INNER
		// END HEADER
		// BEGIN HEADER & CONTENT DIVIDER
		.clearfix  
		// END HEADER & CONTENT DIVIDER
		// BEGIN CONTAINER
		.page-container
			// BEGIN SIDEBAR
			.page-sidebar-wrapper
				// END SIDEBAR
				// DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
				// DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
				.page-sidebar.navbar-collapse.collapse
					// BEGIN SIDEBAR MENU
					// DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
					// DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
					// DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
					// DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
					// DOC: Set data-keep-expand="true" to keep the submenues expanded
					// DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
					.page-sidebar.navbar-collapse.collapse
						// BEGIN SIDEBAR MENU
						// DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
						// DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
						// DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
						// DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
						// DOC: Set data-keep-expand="true" to keep the submenues expanded
						// DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
						ul.page-sidebar-menu.page-header-fixed.page-sidebar-menu-hover-submenu.page-sidebar-menu-closed(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
							li.nav-item
								a.nav-link.nav-toggle(href='/')
									img(src='/assets/global/img/sidebar-icons/ios10/home.ico', alt='')
									span.title Home
									span.arrow
							li.nav-item
								a.nav-link.nav-toggle(href='javascript:;')
									img(src='/assets/global/img/sidebar-icons/ios10/classroom.ico', alt='')
									span.title Clases en Curso
									span.arrow
								ul.sub-menu
									li.nav-item
										a.nav-link(href='/classesOnline')
											img(src='/assets/global/img/sidebar-icons/dusk/classroom.ico', alt='')
											span.title Clases Online
									li.nav-item
										a.nav-link(href='/classesRec')
											img(src='/assets/global/img/sidebar-icons/dusk/classroom.ico', alt='')
											span.title Clases Almacenadas
							li.nav-item
								a.nav-link.nav-toggle(href='/profile')
									img(src='/assets/global/img/sidebar-icons/ios10/user-menu.ico', alt='')
									span.title Perfil
									span.arrow
								ul.sub-menu
									li.nav-item
										a.nav-link(href='/myClasses')
											img(src='/assets/global/img/sidebar-icons/dusk/class.ico', alt='')
											span.title Mis Clases
									li.nav-item
										a.nav-link(href='/account')
											img(src='/assets/global/img/sidebar-icons/dusk/user-info.ico', alt='')
											span.title Mis Datos
									//li.nav-item
										a.nav-link(href='/account')
											img(src='/assets/global/img/sidebar-icons/dusk/user-edit.ico', alt='')
											span.title Editar Datos
							li.nav-item
								a.nav-link.nav-toggle(href='javascript:;')
									img(src='/assets/global/img/sidebar-icons/ios10/key.ico', alt='')
									span.title Cuenta
									span.arrow
								ul.sub-menu
									li.nav-item
										a.nav-link(href='/login')
											img(src='/assets/global/img/sidebar-icons/dusk/login.ico', alt='')
											span.title Acceder
									li.nav-item
										a.nav-link(href='/logout')
											img(src='/assets/global/img/sidebar-icons/dusk/logout.ico', alt='')
											span.title Salir
						// END SIDEBAR MENU
				// END SIDEBAR
			// END SIDEBAR
			// BEGIN CONTENT
			.page-content-wrapper
				// BEGIN CONTENT BODY
				.page-content
					// BEGIN PAGE HEADER
					// END PAGE HEADER
					.row
						.col-md-12
							// BEGIN EXTRAS PORTLET
							.portlet.light.form-fit
								.portlet-title
									.caption
										//- 	i.icon-layers.font-green
										//- 	span.caption-subject.font-green.bold.uppercase #{data.classTitle} 
										//- 	span#label-id(style='display:none') #{data.id}
										.mt-comments
											.mt-comment
												.mt-comment-img
													img.img-circle.user-owner(src=dataOwner.userAvatar, alt='/avatarsProfile/avatarUnknown.jpg')
												.mt-comment-body
													.mt-comment-info
														span.caption-subject.font-green.bold.uppercase(href=`/class/${data.id}`)  #{data.classTitle} 
														//- span.mt-comment-date 10 Dec, 09:20 AM
													.mt-comment-text
														| Dictada por #{dataOwner.userName}
														input(type='hidden', id='inputOwnerId', value=`${data.classOwner}`)
									if data.classOwner == dataUser.id	
										.actions
											form(method='POST', action='/EndClass')
												button#finishButton.btn.btn-circle.btn-icon-only.btn-default.red(type='submit', data-toggle='confirmation', data-title='¿Desea finalizar esta clase?', data-placement='left')
													i.fa.fa-power-off.fa-inverse(aria-hidden='true')
												a.btn.btn-circle.btn-icon-only.btn-default(href='javascript:;')
													i.icon-cloud-upload
												button.btn.btn-circle.btn-icon-only.btn-default.mt-clipboard(type='button', id='shareButton', aria-expanded='true', data-clipboard-action='copy', data-clipboard-text='Error al copiar URL')
													i.icon-share
												input(type='hidden', name='_id', value=''+data.id, id="class-id")
												input(type='hidden', name='_method', value='PUT')
											input(type='hidden', id='isEnable', value='true')
									else
										button#finishButton.btn.btn-circle.btn-icon-only.btn-default.red(type='submit',style='display:none')
										input(type='hidden', id='isEnable', value='flase')
								.portlet-body.form
									.form-horizontal.form-bordered
										.form-body
											.form-group.last
												.row
													.col-md-12
														audio(src="",autoplay=true)
														p#audioStreamState
													// BEGIN BOARD
													.col-md-9
															#summernote_1(name='summernote')
															input(type='file', id='canvasImg', accept='image/*')
													// END BOARD
													.col-md-3
														// BEGIN CHAT
														.row
															.mt-element-list
																#accordion1.mt-list-container.list-todo(role='tablist', aria-multiselectable='true')
																	.list-todo-line
																	ul
																		li.mt-list-item
																			.list-todo-item.dark
																				// BEGIN CHAT HEAD
																				a.list-toggle-container(data-toggle='collapse', data-parent='#accordion1', onclick=' ', href='#task-1', aria-expanded='false')
																					.list-toggle.done.uppercase
																						.list-toggle-title.bold CHAT
																						.badge.badge-default.pull-right.bold 1
																				// END CHAT HEAD
																				#task-1.task-list.panel-collapse.collapse.in
																					// BEGIN MESSAGES
																					ul#chat
																						li.task-list-item.done(item-height='')
																					// END MESSAGES
																					// BEGIN NEW MESSAGE
																					.page-quick-sidebar-chat-user-form
																						.input-group
																							input#messageTextBox.form-control(type='text', placeholder='Escriba su mensaje aquí...')
																							.input-group-btn
																								button#messageSendButton.btn.green(type='button')
																									i.icon-arrow-up
																					// END NEW MESSAGE
														// END CHAT
														//BEGIN DROPZONE FILES
													

														.row
															.panel-body
																form#my-dropzone.dropzone.dropzone-file-area(action='/assets/global/plugins/dropzone/upload.php', style='width: 100%; margin-left: 10px; min-height: 190px;')
																	br
																	p.font-grey-cascade Suelta los archivos aquí o haz clic para cargar
																	p.font-grey-cascade (PROXIMAMENTE)
														//END DROPZONE FILES
														//BEGIN QUESTIONS	
				
														.row
															.panel-body
																if data.classOwner == dataUser.id
																	button#startSurvey.btn.btn-primary(type='button', data-toggle='modal', data-target='#modal-question') Iniciar Encuesta
																	#modal-question.modal.fade(tabindex='-1', role='dialog', data-keyboard='false', data-backdrop='static')
																		div(role='document')
																			.modal-content
																				.modal-header
																					button.close(type='button', data-dismiss='modal', aria-label='Close')
																						span(aria-hidden='true') ×
																					h3#QuestionModalLabel.modal-title Nuevo Cuestionario
																						i.fa.fa-comments-o.font-purple-plum.theme-font
																					input#question-name.form-control.form-control-lg(type='text', placeholder='Ingrese su pregunta...')
																				.modal-body
																						.form-group
																							.input-group
																								span#option-a.input-group-addon A)
																								input#optionA.form-control(type='text', placeholder='Escriba su respuesta aqui')
																						.form-group
																							.input-group
																								span#option-b.input-group-addon B)
																								input#optionB.form-control(type='text', placeholder='Escriba su respuesta aqui')
																						.form-group
																							.input-group
																								span#option-a.input-group-addon C)
																								input#optionC.form-control(type='text', placeholder='Escriba su respuesta aqui')
																						.form-group
																							.input-group
																								span#option-c.input-group-addon D)
																								input#optionD.form-control(type='text', placeholder='Escriba su respuesta aqui')
																				.modal-footer
																					button#begin-questions.btn.btn-primary(type='button') Publicar
																					button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
																	
																	#answer-panel.panel.panel-primary(style="display:none")
																		.panel-heading Resultados
																			.panel-body
																				.form-group
																					span.input-group-addon Sin Responder
																					#option-sinresp.progress-bar.progress-bar-striped.progress-bar-danger(role='progressbar', style='width: 100%', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
																						| 100%
																				.form-group
																					span.input-group-addon Respuesta A
																					#option-aa.progress-bar.progress-bar-striped.progress-bar-success(role='progressbar', style='width: 10%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
																						| 0%
																				.form-group
																					span.input-group-addon Respuesta B
																					#option-bb.progress-bar.progress-bar-striped.progress-bar-success(role='progressbar', style='width: 10%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
																						| 0%
																				.form-group
																					span.input-group-addon Respuesta C
																					#option-cc.progress-bar.progress-bar-striped.progress-bar-success(role='progressbar', style='width: 10%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
																						| 0%
																				.form-group
																					span.input-group-addon Respuesta D
																					#option-dd.progress-bar.progress-bar-striped.progress-bar-success(role='progressbar', style='width: 10%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
																						| 0%
																		.panel-footer
																			button#end-answers.btn.btn-success.btn-block(type='button') Finalizar encuesta
																		.modal.fade(tabindex='-1' role='dialog')
																			div(role='document')
																			.modal-content
																					.modal-header
																						button.close(type='button', data-dismiss='modal', aria-label='Close')
																							span.glyphicon.glyphicon-remove
																						button.close.modalMinimize(type='button', arial-label='close')
																							span.glyphicon.glyphicon-minus
																						h3#AnswerModalLabel.modal-title Resultados
																							i.fa.fa-bar-chart.font-yellow-casablanca.theme-font
																					.modal-body
																					//progreso cuestionario	online
																					.modal-footer
																						button.btn.btn-primary(type='button') Finalizar
																						button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
																else
																	#modal-answer.modal.fade(tabindex='-1', role='dialog', data-keyboard='false', data-backdrop='static')
																		div(role='document')
																			.modal-content
																				#questionTitle.modal-header
																					button.close(type='button', data-dismiss='modal', aria-label='Close')
																						span(aria-hidden='true') ×
																					h3#QuestionModalLabel1.modal-title Cuestionario Enviado
																						i.fa.fa-comments-o.font-purple-plum.theme-font
																					br
																				#options.modal-body
																				.modal-footer
																					button#answer.btn.btn-primary(type='button') Enviar Respuesta				
														//- .col-md-12
														//- label Comparte la clase con este link:
														//- a(href=("window.location.origin/class/"+data.id)) window.location.origin/class/#{data.id}
													#popover_content_wrapper(style='display: none')
														a(href=("window.location.origin/class/"+data.id)) window.location.origin/class/#{data.id}


													// BEGIN SHOW MESSENGE STATIC
													#static.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false')
														.modal-body.text-center
															h4.modal-title Por favor, valore esta clase.
															br
															span.rating
															p#value-star
															form#vote(method='POST', action='/classVote')
																input(type='text', name='_id', value=''+data.id, id="class-id", style='display:none')
																input(type='text', name='vote', id="input-vote", style='display:none')
																button.btn.green(type='submit', style='display:none')
																input(type='hidden', name='_method', value='PUT')
													
													// END SHOW MESSENGE
							// END EXTRAS PORTLET
					// END CONTENT BODY
				// END CONTENT
			// END CONTAINER			
			// BEGIN FOOTER
			.page-footer
				.page-footer-inner
					| 2018 © Re-Tinta
					|   
					.scroll-to-top
						i.icon-arrow-up
		// END FOOTER
		// BEGIN QUICK NAV
		// END QUICK NAV
		// BEGIN CORE PLUGINS
		script(src='/assets/global/plugins/jquery.min.js', type='text/javascript')
		script(src='/assets/global/plugins/bootstrap/js/bootstrap.js', type='text/javascript')
		script(src='/assets/global/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
		script(src='/assets/global/plugins/js.cookie.min.js', type='text/javascript')
		script(src='/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
		script(src='/assets/global/plugins/jquery.blockui.min.js', type='text/javascript')
		script(src='/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript')
		// END CORE PLUGINS
		// BEGIN PAGE LEVEL PLUGINS
		script(src='/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js', type='text/javascript')
		script(src='/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js', type='text/javascript')
		script(src='/assets/global/plugins/jquery-ui/jquery-ui.min.js', type='text/javascript')
		script(src='/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.js', type='text/javascript')
		script(src='/assets/global/plugins/webSocket.js', type='text/javascript')
		script(src='/assets/global/plugins/bootstrap-summernote/summernote.js', type='text/javascript')
		script(src='/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js', type='text/javascript')
		script(src='/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js', type='text/javascript')
		script(src='/assets/global/plugins/dropzone/dropzone.min.js', type='text/javascript')
		script(src='/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js', type='text/javascript')
		script(src='/assets/global/plugins/bootstrap-growl/bootstrap-notify.min.js', type='text/javascript')
		// END PAGE LEVEL PLUGINS
		// BEGIN THEME GLOBAL SCRIPTS
		script(src='/assets/global/scripts/app.min.js', type='text/javascript')
		// END THEME GLOBAL SCRIPTS
		// BEGIN PAGE LEVEL SCRIPTS
		script(src='/socket.io/socket.io.js')
		script(src='/assets/pages/scripts/components-color-pickers.min.js', type='text/javascript')
		script(src='/assets/pages/scripts/class.js', type='text/javascript')
		script(src='/assets/pages/scripts/star-rating.js', type='text/javascript')
		script(src='/assets/pages/scripts/form-dropzone.min.js', type='text/javascript')
		script(src='/assets/pages/scripts/components-clipboard.min.js', type='text/javascript')
		script(src='/assets/pages/scripts/ui-confirmations.min.js', type='text/javascript')
		//script(src='/assets/pages/scripts/class-stream-audio.js') 
		// END PAGE LEVEL SCRIPTS
		// BEGIN THEME LAYOUT SCRIPTS
		script(src='/assets/layouts/layout2/scripts/layout.min.js', type='text/javascript')
		script(src='/assets/layouts/layout2/scripts/demo.min.js', type='text/javascript')
		script(src='/assets/layouts/global/scripts/quick-sidebar.min.js', type='text/javascript')
		script(src='/assets/layouts/global/scripts/quick-nav.min.js', type='text/javascript')
		// END THEME LAYOUT SCRIPTS
		