extends master.pug

block header
	title Re-Tinta | Crear Clase
	// BEGIN PAGE LEVEL PLUGINS
	link(href='/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/select2/css/select2.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/select2/css/select2-bootstrap.min.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL STYLES
	link(href='/assets/pages/css/hide-inner-components.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL STYLES

block content
	.page-content-wrapper
		// BEGIN CONTENT BODY
		.page-content(style='min-height: 489px;')
			// BEGIN PAGE HEADER
			.page-bar
				ul.page-breadcrumb
					li
						i.icon-home
						a(href='index.html') Home
						i.fa.fa-angle-right
					li
						span Crear Clase
			// END PAGE HEADER
			h1.page-title
				| Crear Clase Online
			.row
				.col-md-6
					// BEGIN VALIDATION STATES
					// END VALIDATION STATES
			.row
				.col-md-12
					// BEGIN VALIDATION STATES
					.portlet.light.portlet-fit.portlet-form
						.portlet-title
							.caption
								i.icon-layers.font-green
								span.caption-subject.font-green.sbold.uppercase Información de la clase
						.portlet-body
							// BEGIN FORM
							form.class-register(action='/saveClass', method='POST', enctype='multipart/form-data')
								.form-body
									.form-group.form-md-line-input.form-md-floating-label
										input#form_control_1.form-control(type='text', name='title')
										label(for='form_control_1') Título
										span.help-block Escribe un título para tu clase.
									.form-group.form-md-line-input.form-md-floating-label
										textarea.form-control(name='description', rows='2')
										label(for='form_control_1') Descripción
										span.help-block Escribe de qué tratará la clase.
									.form-group.form-md-line-input.form-md-floating-label
										select.form-control(name='porcentaje_de_asistencia')
											option(value=50) 50%
											option(value=60) 60%
											option(value=70) 70%
											option(value=75, selected) 75%
											option(value=80) 80%
											option(value=85) 85%
											option(value=90) 90%
											option(value=95) 95%
											option(value=100) 100%
										label(for='form_control_1') Porcentaje de permanencia
										span.help-block Tiempo de permanencia porcentual para registrar asistencia.
									.form-group.form-md-line-input.form-md-floating-label
										select.form-control(name='category')
											option(value='')
											option(value='1') Arte
											option(value='2') Ciencias Básicas
											option(value='3') Tecnología
											option(value='4') Salud
											option(value='5') Diseño
											option(value='6') Ciencias Sociales
											option(value='7') Idioma
											option(value='8') Otro
										label(for='form_control_1') Categoría
										span.help-block Selecciona una de las categorías. Si no se encuentra la tuya selecciona "Otro".
									br
									.form-group
										.fileinput.fileinput-new(data-provides='fileinput')
											.fileinput-new.thumbnail(style='width: 200px; height: 150px;')
												img(src='/assets/global/img/noimage.png', alt='')
											.fileinput-preview.fileinput-exists.thumbnail(style='max-width: 200px; max-height: 150px; line-height: 10px;')
											div
												span.btn.default.btn-file
													span.fileinput-new  Selecciona una imagen 
													span.fileinput-exists  Cambiar 
													input(type='hidden')
													input(type='file', name='img')
												a.btn.default.fileinput-exists(href='javascript:;', data-dismiss='fileinput')  Remover 
									br
									.md-checkbox.form-md-checkboxes
										label Esta clase es privada
										span
											input#checkbox1_1.md-check(type='checkbox', name='isPrivate',value='private', onclick='ch()')
											label(for='checkbox1_1')
												span.inc
												span.check
												span.box
									.form-group.form-md-line-input.form-md-floating-label
										input#contra123.form-control(type='password', name='password', disabled='false')
										label(for='form_control_1') Contraseña:
										span.help-block Escribe una contraseña entre 8 a 16 caracteres.
									.form-actions
										.row
											.col-md-12(style="padding-left: 0px")
												button.btn.blue(type='submit',data-toggle='confirmation', data-btn-ok-label='Continuar', data-btn-ok-icon='glyphicon glyphicon-share-alt', data-btn-ok-class='btn-success', data-btn-cancel-label='Cancelar' data-btn-cancel-icon='glyphicon glyphicon-ban-circle', data-btn-cancel-class='btn-danger', data-title='¿Desea crear la clase?') Crear

block scripts
	// BEGIN PAGE LEVEL PLUGINS
	script(src='/assets/global/plugins/jquery-validation/js/jquery.validate.js', type='text/javascript')
	script(src='/assets/global/plugins/jquery-validation/js/additional-methods.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js', type='text/javascript')
	script(src='/assets/global/plugins/select2/js/select2.full.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js', type='text/javascript')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/components-select2M.js', type='text/javascript')
	script(src='/assets/pages/scripts/form-validation-md.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/class-validator.js', type='text/javascript')
	script(src='/assets/pages/scripts/ui-confirmations.min.js', type='text/javascript')
	// END PAGE LEVEL SCRIPTS
	
