extends master.pug

block header
	title Re-Tinta | Clase Privada
	// BEGIN PAGE LEVEL PLUGINS
	link(href='/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/select2/css/select2.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/select2/css/select2-bootstrap.min.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-toastr/toastr.min.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL PLUGINS

block content
	.page-content-wrapper
		// BEGIN CONTENT BODY
		.page-content(style='min-height: 489px;')
			// BEGIN PAGE HEADER
			.page-bar
				ul.page-breadcrumb
					li
						i.icon-home
						a(href='index.html') Home
						i.fa.fa-angle-right
					li
						span Crear Clase
			.row
				.col-sm-12.text-center
					.row
					.col-sm-4
					.col-sm-4
						.panel.panel-primary
							form#private(method='POST', action=`/${classType}/${data._id}`)
								.panel-heading
									h4.modal-title.text-center CLASE PRIVADA, POR FAVOR INGRESE SU CONTRASEÑA
								.panel-body
									.row
										.col-sm-12
											input(type='hidden', name='_id', value='', id='_id')
											input.form-control(type='password', name='password', value='', id="input-password")
								.panel-footer
									.row
										.col-sm-3
										.col-sm-6
											button.btn.btn-block.btn-primary(type='submit') Ingresar 
			.row(style='display:none')
				.col-md-12
					.portlet.light
						input#title.form-control(type='text', value=''+dataMsj.title, placeholder='')
						textarea#message.form-control(rows='3', placeholder='') #{dataMsj.message}
						input#toastTypeGroup.form-control(type='text', value=''+dataMsj.type, placeholder='')
						// success info warning error
						.col-md-12
							button#showtoast.btn.green(type='button ') Show Toast						

block scripts
	// BEGIN PAGE LEVEL PLUGINS
	script(src='/assets/global/plugins/jquery-validation/js/jquery.validate.js', type='text/javascript')
	script(src='/assets/global/plugins/jquery-validation/js/additional-methods.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js', type='text/javascript')
	script(src='/assets/global/plugins/select2/js/select2.full.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-toastr/toastr.min.js', type='text/javascript')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/components-select2M.js', type='text/javascript')
	script(src='/assets/pages/scripts/form-validation-md.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/class-validator.js', type='text/javascript')
	script(src='/assets/pages/scripts/ui-confirmations.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/ui-toastr.js', type='text/javascript')
	// END PAGE LEVEL SCRIPTS
