extends master-empty.pug

block headerMaster
	title Re-Tinta | Registro
	// BEGIN PAGE LEVEL PLUGINS
	link(href='/assets/global/plugins/select2/css/select2.min.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/select2/css/select2-bootstrap.min.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-toastr/toastr.min.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL STYLES
	link(href='/assets/pages/css/login.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL STYLES

block contentMaster
	body.login
		// BEGIN LOGO
		.logo
			a(href='index.html')
				img(src='/assets/pages/img/logoRT.png', alt='')
		// END LOGO
		// BEGIN LOGIN
		.content
			// BEGIN LOGIN FORM
			form.login-form(action='/doLogin', method='POST')
				h3.form-title.font-green Ingresar
				.form-group
					// ie8, ie9 does not support html5 placeholder, so we just show field title for that
					input.form-control.form-control-solid.placeholder-no-fix(type='email', autocomplete='on', placeholder='Email', name='userMail')
				.form-group
					input.form-control.form-control-solid.placeholder-no-fix(type='password', autocomplete='on', placeholder='Password', name='userPassword')
				.alert.alert-danger.display-hide(style='padding: 4px;')
					button.close(data-close='alert')
					span  Ingrese su e-mail correctamente. 
				if dataError
					.alert.alert-danger(style='padding: 4px;')
						button.close(data-close='alert')
						span #{dataError}
				.form-actions
					button.btn.green.uppercase(type='submit') Login
					//label.rememberme.check.mt-checkbox.mt-checkbox-outline
						input(type='checkbox', name='remember', value='1', id='remember')
						| Recordar
						span
					//a#forget-password.forget-password(href='javascript:;') ¿Olvidó su contraseña?
				//.login-options
					h4 O puedes ingresar con:
					ul.social-icons
						li
							a.social-icon-color.facebook(data-original-title='facebook', href='javascript:;')
						li
							a.social-icon-color.twitter(data-original-title='Twitter', href='javascript:;')
						li
							a.social-icon-color.googleplus(data-original-title='Goole Plus', href='javascript:;')
						li
							a.social-icon-color.linkedin(data-original-title='Linkedin', href='javascript:;')
				.create-account
					p
						a#register-btn.uppercase(href='javascript:;') Crea una Cuenta
			// END LOGIN FORM
			// BEGIN FORGOT PASSWORD FORM
			form.forget-form(action='index.html', method='post')
				h3.font-green ¿Olvidó su contraseña?
				p
					| Introduzca su dirección de correo electrónico a continuación para restablecer su contraseña.
				.form-group
					input.form-control.placeholder-no-fix(type='text', autocomplete='off', placeholder='Email', name='email')
				.alert.alert-danger.display-hide(style='padding: 4px;')
					button.close(data-close='alert')
					span  Ingrese un mail válido. 
				if dataError
					.alert.alert-danger(style='padding: 4px;')
						button.close(data-close='alert')
						span #{dataError}
				.form-actions
					button#back-btn.btn.green.btn-outline(type='button') Atras
					button.btn.btn-success.uppercase.pull-right(type='submit') Enviar
			// END FORGOT PASSWORD FORM
			.row(style='display:none')
				.col-md-12
					.portlet.light
						input#title.form-control(type='text', value=''+dataMsj.title, placeholder='')
						textarea#message.form-control(rows='3', placeholder='') #{dataMsj.message}
						input#toastTypeGroup.form-control(type='text', value=''+dataMsj.type, placeholder='')
						// success info warning error
						.col-md-12
							button#showtoast.btn.green(type='button ') Show Toast
			//end MESSAGE TRIGGER
			// BEGIN REGISTRATION FORM
			form.register-form(action='/signup', method='POST')
				.form-body
					h3.font-green Registro
					p.hint  Introduzca sus datos personales a continuación: 
					.form-group
						input.form-control.placeholder-no-fix(type='text', placeholder='Nombre', name='fullname')
					.form-group
						input.form-control.placeholder-no-fix(type='text', placeholder='Apellido', name='lastname')
					.form-group
						input.form-control.placeholder-no-fix(type='text', placeholder='Ciudad / Pueblo', name='city')
					.form-group
						select.form-control(name='country')
							option(value='') Elija su país
							option(value='Afghanistan') Afghanistan
							option(value='Albania') Albania
							option(value='Algeria') Algeria
							option(value='American Samoa') American Samoa
							option(value='Andorra') Andorra
							option(value='Angola') Angola
							option(value='Anguilla') Anguilla
							option(value='Argentina') Argentina
							option(value='Armenia') Armenia
							option(value='Aruba') Aruba
							option(value='Australia') Australia
							option(value='Austria') Austria
							option(value='Azerbaijan') Azerbaijan
							option(value='Bahamas') Bahamas
							option(value='Bahrain') Bahrain
							option(value='Bangladesh') Bangladesh
							option(value='Barbados') Barbados
							option(value='Belarus') Belarus
							option(value='Belgium') Belgium
							option(value='Belize') Belize
							option(value='Benin') Benin
							option(value='Bermuda') Bermuda
							option(value='Bhutan') Bhutan
							option(value='Bolivia') Bolivia
							option(value='Bosnia and Herzegowina') Bosnia and Herzegowina
							option(value='Botswana') Botswana
							option(value='Bouvet Island') Bouvet Island
							option(value='Brazil') Brazil
							option(value='British Indian Ocean Territory') British Indian Ocean Territory
							option(value='Brunei Darussalam') Brunei Darussalam
							option(value='Bulgaria') Bulgaria
							option(value='Burkina Faso') Burkina Faso
							option(value='Burundi') Burundi
							option(value='Cambodia') Cambodia
							option(value='Cameroon') Cameroon
							option(value='Canada') Canada
							option(value='Cape Verde') Cape Verde
							option(value='Cayman Islands') Cayman Islands
							option(value='Central African Republic') Central African Republic
							option(value='Chad') Chad
							option(value='Chile') Chile
							option(value='China') China
							option(value='Christmas Island') Christmas Island
							option(value='Cocos (Keeling) Islands') Cocos (Keeling) Islands
							option(value='Colombia') Colombia
							option(value='Comoros') Comoros
							option(value='Congo') Congo
							option(value='The Democratic Republic of the Congo') The Democratic Republic of the Congo
							option(value='Cook Islands') Cook Islands
							option(value='Costa Rica') Costa Rica
							option(value="Cote d'Ivoire") Cote d'Ivoire
							option(value='Croatia (Hrvatska)') Croatia (Hrvatska)
							option(value='Cuba') Cuba
							option(value='Cyprus') Cyprus
							option(value='Czech Republic') Czech Republic
							option(value='Denmark') Denmark
							option(value='Djibouti') Djibouti
							option(value='Dominica') Dominica
							option(value='Dominican Republic') Dominican Republic
							option(value='Ecuador') Ecuador
							option(value='Egypt') Egypt
							option(value='El Salvador') El Salvador
							option(value='Equatorial Guinea') Equatorial Guinea
							option(value='Eritrea') Eritrea
							option(value='Estonia') Estonia
							option(value='Ethiopia') Ethiopia
							option(value='Falkland Islands (Malvinas)') Falkland Islands (Malvinas)
							option(value='Faroe Islands') Faroe Islands
							option(value='Fiji') Fiji
							option(value='Finland') Finland
							option(value='France') France
							option(value='French Guiana') French Guiana
							option(value='French Polynesia') French Polynesia
							option(value='French Southern Territories') French Southern Territories
							option(value='Gabon') Gabon
							option(value='Gambia') Gambia
							option(value='Georgia') Georgia
							option(value='Germany') Germany
							option(value='Ghana') Ghana
							option(value='Gibraltar') Gibraltar
							option(value='Greece') Greece
							option(value='Greenland') Greenland
							option(value='Grenada') Grenada
							option(value='Guadeloupe') Guadeloupe
							option(value='Guam') Guam
							option(value='Guatemala') Guatemala
							option(value='Guinea') Guinea
							option(value='Guinea-Bissau') Guinea-Bissau
							option(value='Guyana') Guyana
							option(value='Haiti') Haiti
							option(value='Heard and Mc Donald Islands') Heard and Mc Donald Islands
							option(value='Holy See (Vatican City State)') Holy See (Vatican City State)
							option(value='Honduras') Honduras
							option(value='Hong Kong') Hong Kong
							option(value='Hungary') Hungary
							option(value='Iceland') Iceland
							option(value='India') India
							option(value='Indonesia') Indonesia
							option(value='Iran') Iran
							option(value='Iraq') Iraq
							option(value='Ireland') Ireland
							option(value='Israel') Israel
							option(value='Italy') Italy
							option(value='Jamaica') Jamaica
							option(value='Japan') Japan
							option(value='Jordan') Jordan
							option(value='Kazakhstan') Kazakhstan
							option(value='Kenya') Kenya
							option(value='Kiribati') Kiribati
							option(value="Democratic People's Republic of Korea") Democratic People's Republic of Korea
							option(value='Republic of Korea') Republic of Korea
							option(value='Kuwait') Kuwait
							option(value='Kyrgyzstan') Kyrgyzstan
							option(value="Lao People's Democratic Republic") Lao People's Democratic Republic
							option(value='Latvia') Latvia
							option(value='Lebanon') Lebanon
							option(value='Lesotho') Lesotho
							option(value='Liberia') Liberia
							option(value='Libyan Arab Jamahiriya') Libyan Arab Jamahiriya
							option(value='Liechtenstein') Liechtenstein
							option(value='Lithuania') Lithuania
							option(value='Luxembourg') Luxembourg
							option(value='Macau') Macau
							option(value='Macedonia') Macedonia
							option(value='Madagascar') Madagascar
							option(value='Malawi') Malawi
							option(value='Malaysia') Malaysia
							option(value='Maldives') Maldives
							option(value='Mali') Mali
							option(value='Malta') Malta
							option(value='Marshall Islands') Marshall Islands
							option(value='Martinique') Martinique
							option(value='Mauritania') Mauritania
							option(value='Mauritius') Mauritius
							option(value='Mayotte') Mayotte
							option(value='Mexico') Mexico
							option(value='Micronesia') Micronesia
							option(value='Moldova') Moldova
							option(value='Monaco') Monaco
							option(value='Mongolia') Mongolia
							option(value='Montserrat') Montserrat
							option(value='Morocco') Morocco
							option(value='Mozambique') Mozambique
							option(value='Myanmar') Myanmar
							option(value='Namibia') Namibia
							option(value='Nauru') Nauru
							option(value='Nepal') Nepal
							option(value='Netherlands') Netherlands
							option(value='Netherlands Antilles') Netherlands Antilles
							option(value='New Caledonia') New Caledonia
							option(value='New Zealand') New Zealand
							option(value='Nicaragua') Nicaragua
							option(value='Niger') Niger
							option(value='Nigeria') Nigeria
							option(value='Niue') Niue
							option(value='Norfolk Island') Norfolk Island
							option(value='Northern Mariana Islands') Northern Mariana Islands
							option(value='Norway') Norway
							option(value='Oman') Oman
							option(value='Pakistan') Pakistan
							option(value='Palau') Palau
							option(value='Panama') Panama
							option(value='Papua New Guinea') Papua New Guinea
							option(value='Paraguay') Paraguay
							option(value='Peru') Peru
							option(value='Philippines') Philippines
							option(value='Pitcairn') Pitcairn
							option(value='Poland') Poland
							option(value='Portugal') Portugal
							option(value='Puerto Rico') Puerto Rico
							option(value='Qatar') Qatar
							option(value='Reunion') Reunion
							option(value='Romania') Romania
							option(value='Russian Federation') Russian Federation
							option(value='Rwanda') Rwanda
							option(value='Saint Kitts and Nevis') Saint Kitts and Nevis
							option(value='Saint Lucy') Saint Lucy
							option(value='Saint Vincent and the Grenadines') Saint Vincent and the Grenadines
							option(value='Samoa') Samoa
							option(value='San Marino') San Marino
							option(value='Sao Tome and Principe') Sao Tome and Principe
							option(value='Saudi Arabia') Saudi Arabia
							option(value='Senegal') Senegal
							option(value='Seychelles') Seychelles
							option(value='Sierra Leone') Sierra Leone
							option(value='Singapore') Singapore
							option(value='Slovakia (Slovak Republic)') Slovakia (Slovak Republic)
							option(value='Slovenia') Slovenia
							option(value='Solomon Islands') Solomon Islands
							option(value='Somalia') Somalia
							option(value='South Africa') South Africa
							option(value='South Georgia and the South Sandwich Islands') South Georgia and the South Sandwich Islands
							option(value='Spain') Spain
							option(value='Sri Lanka') Sri Lanka
							option(value='St. Helena') St. Helena
							option(value='St. Pierre and Miquelon') St. Pierre and Miquelon
							option(value='Sudan') Sudan
							option(value='Suriname') Suriname
							option(value='Svalbard and Jan Mayen Islands') Svalbard and Jan Mayen Islands
							option(value='Swaziland') Swaziland
							option(value='Sweden') Sweden
							option(value='Switzerland') Switzerland
							option(value='Syrian Arab Republic') Syrian Arab Republic
							option(value='Taiwan') Taiwan
							option(value='Tajikistan') Tajikistan
							option(value='Tanzania') Tanzania
							option(value='Thailand') Thailand
							option(value='Togo') Togo
							option(value='Tokelau') Tokelau
							option(value='Tonga') Tonga
							option(value='Trinidad and Tobago') Trinidad and Tobago
							option(value='Tunisia') Tunisia
							option(value='Turkey') Turkey
							option(value='Turkmenistan') Turkmenistan
							option(value='Turks and Caicos Islands') Turks and Caicos Islands
							option(value='Tuvalu') Tuvalu
							option(value='Uganda') Uganda
							option(value='Ukraine') Ukraine
							option(value='United Arab Emirates') United Arab Emirates
							option(value='United Kingdom') United Kingdom
							option(value='United States') United States
							option(value='United States Minor Outlying Islands') United States Minor Outlying Islands
							option(value='Uruguay') Uruguay
							option(value='Uzbekistan') Uzbekistan
							option(value='Vanuatu') Vanuatu
							option(value='Venezuela') Venezuela
							option(value='Vietnam') Vietnam
							option(value='Virgin Islands (British)') Virgin Islands (British)
							option(value='Virgin Islands (U.S.)') Virgin Islands (U.S.)
							option(value='Wallis and Futuna Islands') Wallis and Futuna Islands
							option(value='Western Sahara') Western Sahara
							option(value='Yemen') Yemen
							option(value='Zambia') Zambia
							option(value='Zimbabwe') Zimbabwe
							option(value='Otro País') Otro País
					p.hint Ingrese los detalles de su cuenta a continuación: 
					.form-group
						// ie8, ie9 does not support html5 placeholder, so we just show field title for that
						input#myEmail.form-control.placeholder-no-fix(type='email', placeholder='Email', name='userMail')
					.form-group
						input#register_password.form-control.placeholder-no-fix(type='password', autocomplete='off', placeholder='Contraseña', name='userPassword')
					.form-group
						input.form-control.placeholder-no-fix(type='password', autocomplete='off', placeholder='Reescribe tu contraseña', name='rpassword')
					.form-group.margin-top-20.margin-bottom-20
						label.mt-checkbox.mt-checkbox-outline
							input(type='checkbox',required, name='tnc')
							|  Estoy de acuerdo con:
							a(href='javascript:;') Términos de Servicios
							|  &
							a(href='javascript:;') Política de Privacidad
							span
						#register_tnc_error  
					.form-actions
						button#register-back-btn.btn.green.btn-outline(type='button') Atrás
						button#register-submit-btn.btn.btn-success.uppercase.pull-right(type='submit') Enviar
			// END REGISTRATION FORM
		.copyright  2020 © Re-Tinta.

block scriptsMaster
	// BEGIN PAGE LEVEL PLUGINS
	script(src='/assets/global/plugins/jquery-validation/js/jquery.validate.js', type='text/javascript')
	script(src='/assets/global/plugins/jquery-validation/js/additional-methods.js', type='text/javascript')
	script(src='/assets/global/plugins/select2/js/select2.full.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-toastr/toastr.min.js', type='text/javascript')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/login-4.js', type='text/javascript')
	script(src='/assets/pages/scripts/ui-toastr.js', type='text/javascript')
	// END PAGE LEVEL SCRIPTS
		
