extends master.pug

block header
	title Re-Tinta
	// BEGIN PAGE LEVEL STYLES
	link(href='/assets/pages/css/about.css', rel='stylesheet', type='text/css')
	link(href='/assets/pages/css/hide-inner-components.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL STYLES

block content
	.page-content-wrapper
		// BEGIN CONTENT BODY
		.page-content
			.row
				.col-sm-3
					br
					br
				.col-sm-6
					.portlet.light.form-fit
							.portlet-title
								.row
									.col-sm-12
										h2.text-center Gracias por Unirte a Re-Tinta!!
							.portlet-body.form
								.row
									br
									br
									
									.col-sm-12.text-center
										form
											.row
												.col-sm-1
												.col-sm-10
													.row
														.col-sm-6
															label.col-form-label(for='codigo')
																h4 Código de Verificación
														.col-sm-6
															input#codigo.form-control(name='codigo', type='text', data-toggle='tooltip', data-placement="left", title='')
												.col-sm-1
											.row
												br
												.col-sm-6
													.row
														.col-sm-2
														.col-sm-10
															input#verificar.btn.btn-block.btn-success(name='verificar', value='Verificar', type='button')
													br
													br
												.col-sm-6
													.row
														.col-sm-10
															input#reenviar.btn.btn-block.btn-danger(name='reenviar', value='Reenviar a mail', type='button')
														.col-sm-2
													br
													br
block scripts		
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/ui-general.js', type='text/javascript')
	script(src='/assets/pages/scripts/index.js', type='text/javascript')
	script(type='text/javascript').
		$(document).ready(function() {
			$('#codigo').tooltip({trigger:'manual'});

			function showTooltip(mensaje)
			{
				var codigo = $('#codigo');
				codigo.attr('data-original-title',mensaje);
				codigo.tooltip('show');
				setTimeout(function(){codigo.tooltip('hide')},2000);
			};
			$.post('/mailValidation', {
					codigo: '-1'
				}, function(data) {
					if (!data.respuesta && data.intentos != 7) {
						var codigo = $('#codigo');
						codigo.val('')
						var cantidad = 7 - parseInt(data.intentos);
						var mens = 'Usted posee ' + cantidad + ' intento'+((cantidad > 1)?'s.':'.');
						showTooltip(mens);
					} else if (data.intentos >= 7) {
						$('#codigo').prop('disabled', true);
						$('#verificar').prop('disabled', true);
						$('#reenviar').prop('disabled', true);
						showTooltip('Usuario Bloqueado.');
					}
				});
			
			function verifyCode() {
				$.post('/mailValidation', {
					codigo: $('#codigo').val()
				}, function(data) {
					if (data.respuesta) {
						window.location.href = '/profile:' + data.user;
					} else if (!data.respuesta && data.intentos <= 7) {
						$('#codigo').val('')
						var cantidad = 7 - parseInt(data.intentos);
						var mens = 'Usted posee ' + cantidad + ' intento'+((cantidad > 1)?'s más.':' más.');
						showTooltip(mens);
					} else if (!data.respuesta && data.intentos >= 7) {
						var codigo = $('#codigo');
						codigo.prop('disabled', true);
						codigo.val('')
						$('#verificar').prop('disabled', true);
						$('#reenviar').prop('disabled', true);
						showTooltip('Usuario Bloqueado.');
					}
				})
			}
			$('#codigo').keypress(function(e){
				if(e.keyCode == 13){
					verifyCode()
				}
			})
			$('#verificar').click(function(){
				verifyCode()
			});

			$('#reenviar').click(function() {
				$.post('/resendMail', {}, function(data) {
					if (data) {
						showTooltip('Código enviado a su mail.');
					} else {
						showTooltip('Error, inténtelo más tarde.');
					}
				});
			});
		});
	// END PAGE LEVEL SCRIPTS