extends master-empty.pug

block headerMaster
	block header

block contentMaster
	body#body.page-header-fixed.page-sidebar-closed-hide-logo.page-container-bg-solid.page-sidebar-closed
		// BEGIN HEADER
		.page-header.navbar.navbar-fixed-top
			// BEGIN HEADER INNER
			.page-header-inner
				// BEGIN LOGO
				.page-logo
					a(href='index.html')
						img.logo-default(src='/assets/layouts/layout2/img/logo-default.png', alt='logo')
					.menu-toggler.sidebar-toggler
						// DOC: Remove the above "hide" to enable the sidebar toggler button on header
				// END LOGO
				// BEGIN RESPONSIVE MENU TOGGLER
				a#menuBtn.btn-lg.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse',style='margin-bottom:22px;margin-top:24px;float:right;')  
				// END RESPONSIVE MENU TOGGLER
				// BEGIN PAGE ACTIONS
				// DOC: Remove "hide" class to enable the page header actions
				#btnNewClass.page-actions
					.btn-group
						a.btn.btn-circle.blue.dropdown-toggle(href='/createClass')
							i.fa.fa-plus
							span &nbsp; Nueva Clase
				// END PAGE ACTIONS
				// BEGIN PAGE TOP
				#pageTop.page-top
					// BEGIN HEADER SEARCH BOX
					// DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box
					//form#searchBox.search-form.search-form-expanded(action='page_general_search_3.html', method='GET')
						.input-group
							input.form-control(type='text', placeholder='Buscar...', name='query')
							span.input-group-btn
								a.btn.submit(href='javascript:;')
									i.icon-magnifier
					// END HEADER SEARCH BOX
					// BEGIN TOP NAVIGATION MENU
					.top-menu
						ul.nav.navbar-nav.pull-right
							// BEGIN NOTIFICATION DROPDOWN
							// DOC: Apply "dropdown-dark" class below "dropdown-extended" to change the dropdown styte
							// DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode
							// DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class
							//- li#header_notification_bar.dropdown.dropdown-extended.dropdown-notification
							//- 	a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
							//- 		i.icon-bell
							//- 		span.badge.badge-default  7 
							//- 	ul.dropdown-menu
							//- 		li.external
							//- 			h3
							//- 				span.bold 12 pendientes
							//- 				|  notificaciones
							//- 			a(href='page_user_profile_1.html') view all
							//- 		li
							//- 			ul.dropdown-menu-list.scroller(style='height: 250px;', data-handle-color='#637283')
							//- 				li
							//- 					a(href='javascript:;')
							//- 						span.time Justo ahora
							//- 						span.details
							//- 							span.label.label-sm.label-icon.label-success
							//- 								i.fa.fa-plus
							//- 							|  Nuevo usuario registrado
							//- 				li
							//- 					a(href='javascript:;')
							//- 						span.time 3 mins
							//- 						span.details
							//- 							span.label.label-sm.label-icon.label-danger
							//- 								i.fa.fa-bolt
							//- 							|  Server #12 overloaded.
							//- 				li
							//- 					a(href='javascript:;')
							//- 						span.time 10 mins
							//- 						span.details
							//- 							span.label.label-sm.label-icon.label-warning
							//- 								i.fa.fa-bell-o
							//- 							|  Server #2 not responding.
							//- 				li
							//- 					a(href='javascript:;')
							//- 						span.time 14 hrs
							//- 						span.details
							//- 							span.label.label-sm.label-icon.label-info
							//- 								i.fa.fa-bullhorn
							//- 							|  Application error.
							//- 				li
							//- 					a(href='javascript:;')
							//- 						span.time 2 days
							//- 						span.details
							//- 							span.label.label-sm.label-icon.label-danger
							//- 								i.fa.fa-bolt
							//- 							|  Database overloaded 68%.
							//- 				li
							//- 					a(href='javascript:;')
							//- 						span.time 3 days
							//- 						span.details
							//- 							span.label.label-sm.label-icon.label-danger
							//- 								i.fa.fa-bolt
							//- 							|  A user IP blocked.
							//- 				li
							//- 					a(href='javascript:;')
							//- 						span.time 4 days
							//- 						span.details
							//- 							span.label.label-sm.label-icon.label-warning
							//- 								i.fa.fa-bell-o
							//- 							|  Storage Server #4 not responding dfdfdfd.
							//- 				li
							//- 					a(href='javascript:;')
							//- 						span.time 5 days
							//- 						span.details
							//- 							span.label.label-sm.label-icon.label-info
							//- 								i.fa.fa-bullhorn
							//- 							|  System Error.
							//- 				li
							//- 					a(href='javascript:;')
							//- 						span.time 9 days
							//- 						span.details
							//- 							span.label.label-sm.label-icon.label-danger
							//- 								i.fa.fa-bolt
							//- 							|  Storage server failed.
							// END NOTIFICATION DROPDOWN
							// BEGIN INBOX DROPDOWN
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							//- li#header_inbox_bar.dropdown.dropdown-extended.dropdown-inbox
								a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
									i.icon-envelope-open
									span.badge.badge-default  4 
								ul.dropdown-menu
									li.external
										h3
											| You have
											span.bold 7 New
											|  Messages
										a(href='app_inbox.html') view all
									li
										ul.dropdown-menu-list.scroller(style='height: 275px;', data-handle-color='#637283')
											li
												a(href='#')
													span.photo
														img.img-circle(src='/assets/layouts/layout3/img/avatar2.jpg', alt='')
													span.subject
														span.from  Lisa Wong 
														span.time Just Now 
													span.message  Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... 
											li
												a(href='#')
													span.photo
														img.img-circle(src='/assets/layouts/layout3/img/avatar3.jpg', alt='')
													span.subject
														span.from  Richard Doe 
														span.time 16 mins 
													span.message  Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... 
											li
												a(href='#')
													span.photo
														img.img-circle(src='/assets/layouts/layout3/img/avatar1.jpg', alt='')
													span.subject
														span.from  Bob Nilson 
														span.time 2 hrs 
													span.message  Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh... 
											li
												a(href='#')
													span.photo
														img.img-circle(src='/assets/layouts/layout3/img/avatar2.jpg', alt='')
													span.subject
														span.from  Lisa Wong 
														span.time 40 mins 
													span.message  Vivamus sed auctor 40% nibh congue nibh... 
											li
												a(href='#')
													span.photo
														img.img-circle(src='/assets/layouts/layout3/img/avatar3.jpg', alt='')
													span.subject
														span.from  Richard Doe 
														span.time 46 mins 
													span.message  Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... 
							// END INBOX DROPDOWN
							// BEGIN TODO DROPDOWN
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							//- li#header_task_bar.dropdown.dropdown-extended.dropdown-tasks
								a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
									i.icon-calendar
									span.badge.badge-default  3 
								ul.dropdown-menu.extended.tasks
									li.external
										h3
											| You have
											span.bold 12 pending
											|  TAREAS
										a(href='app_todo.html') view all
									li
										ul.dropdown-menu-list.scroller(style='height: 275px;', data-handle-color='#637283')
											li
												a(href='javascript:;')
													span.task
														span.desc New release v1.2 
														span.percent 30%
													span.progress
														span.progress-bar.progress-bar-success(style='width: 40%;', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 40% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Application deployment
														span.percent 65%
													span.progress
														span.progress-bar.progress-bar-danger(style='width: 65%;', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 65% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Mobile app release
														span.percent 98%
													span.progress
														span.progress-bar.progress-bar-success(style='width: 98%;', aria-valuenow='98', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 98% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Database migration
														span.percent 10%
													span.progress
														span.progress-bar.progress-bar-warning(style='width: 10%;', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 10% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Web server upgrade
														span.percent 58%
													span.progress
														span.progress-bar.progress-bar-info(style='width: 58%;', aria-valuenow='58', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 58% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc Mobile development
														span.percent 85%
													span.progress
														span.progress-bar.progress-bar-success(style='width: 85%;', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 85% Complete
											li
												a(href='javascript:;')
													span.task
														span.desc New UI release
														span.percent 38%
													span.progress.progress-striped
														span.progress-bar.progress-bar-important(style='width: 38%;', aria-valuenow='18', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 38% Complete
							// END TODO DROPDOWN
							// BEGIN USER LOGIN DROPDOWN
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							li.dropdown.dropdown-user
								a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
									if(dataUser)
										img.img-circle(src=dataUser.userAvatar)
										span.username.username-hide-on-mobile  #{dataUser.userName} 
									else
										img.img-circle(src='/avatarsProfile/avatarUnknownSquare.jpg')
										span.username.username-hide-on-mobile Anónimo
									i.fa.fa-angle-down
								ul.dropdown-menu.dropdown-menu-default
									li
										- var url=(dataUser)?dataUser.userName:'Anónimo'
										a(href=`/profile:${url}`)
											i.icon-home
											|  Mis Clases
									li
										a(href='/logout')
											i.icon-key
											|  Log Out
							// END USER LOGIN DROPDOWN
							// BEGIN QUICK SIDEBAR TOGGLER
							// DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
							//li.dropdown.dropdown-extended.quick-sidebar-toggler
								span.sr-only Toggle Quick Sidebar
								i.icon-logout
							// END QUICK SIDEBAR TOGGLER
					// END TOP NAVIGATION MENU
				// END PAGE TOP
			// END HEADER INNER
		// END HEADER
		// BEGIN HEADER & CONTENT DIVIDER
		.clearfix
		// END HEADER & CONTENT DIVIDER
		// BEGIN CONTAINER
		.page-container
			// BEGIN SIDEBAR
			.page-sidebar-wrapper
				// END SIDEBAR
				// DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
				// DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
				.page-sidebar.navbar-collapse.collapse
					// BEGIN SIDEBAR MENU
					// DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
					// DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
					// DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
					// DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
					// DOC: Set data-keep-expand="true" to keep the submenues expanded
					// DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
					.page-sidebar.navbar-collapse.collapse
						// BEGIN SIDEBAR MENU
						// DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
						// DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
						// DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
						// DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
						// DOC: Set data-keep-expand="true" to keep the submenues expanded
						// DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
						ul.page-sidebar-menu.page-header-fixed.page-sidebar-menu-hover-submenu.page-sidebar-menu-closed(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
							li.nav-item
								a.nav-link.nav-toggle(href='/')
									img(src='/assets/global/img/sidebar-icons/ios10/home.ico', alt='')
									span.title &nbsp;Home
									span.arrow
							li.nav-item
								a.nav-link.nav-toggle(href='javascript:;')
									img(src='/assets/global/img/sidebar-icons/ios10/classroom.ico', alt='')
									span.title &nbsp;Clases en Curso
									span.arrow
								ul.sub-menu
									li.nav-item
										a.nav-link(href='/classesOnline')
											img(src='/assets/global/img/sidebar-icons/dusk/classroom.ico', alt='')
											span.title &nbsp;Clases Online
									li.nav-item
										a.nav-link(href='/classesRec')
											img(src='/assets/global/img/sidebar-icons/dusk/classroom.ico', alt='')
											span.title &nbsp;Clases Almacenadas
							li.nav-item
								a.nav-link.nav-toggle(href='/profile')
									img(src='/assets/global/img/sidebar-icons/ios10/user-menu.ico', alt='')
									span.title &nbsp;Perfil
									span.arrow
								ul.sub-menu
									li.nav-item
										a.nav-link(href='/account')
											img(src='/assets/global/img/sidebar-icons/dusk/user-info.ico', alt='')
											span.title &nbsp;Mis Datos
									li.nav-item
										a.nav-link(href='/myClasses')
											img(src='/assets/global/img/sidebar-icons/dusk/class.ico', alt='')
											span.title &nbsp;Mis Clases
									li.nav-item
										a.nav-link(href='/charts')
											img(src='/assets/global/img/sidebar-icons/dusk/chart-icon.ico', alt='')
											span.title &nbsp;Ver Gráficos
							li.nav-item
								a.nav-link.nav-toggle(href='javascript:;')
									img(src='/assets/global/img/sidebar-icons/ios10/key.ico', alt='')
									span.title &nbsp;Cuenta
									span.arrow
								ul.sub-menu
									li.nav-item
										a.nav-link(href='/login')
											img(src='/assets/global/img/sidebar-icons/dusk/login.ico', alt='')
											span.title &nbsp;Acceder
									li.nav-item
										a.nav-link(href='/logout')
											img(src='/assets/global/img/sidebar-icons/dusk/logout.ico', alt='')
											span.title &nbsp;Salir
						// END SIDEBAR MENU
				// END SIDEBAR
			// END SIDEBAR
			// BEGIN CONTENT
			block content
			// END CONTENT
			// BEGIN QUICK SIDEBAR
			//a.page-quick-sidebar-toggler(href='javascript:;')
				i.icon-login
			//.page-quick-sidebar-wrapper(data-close-on-body-click='false')
				.page-quick-sidebar
					ul.nav.nav-tabs
						li.active
							a(href='javascript:;', data-target='#quick_sidebar_tab_1', data-toggle='tab')
								| Users
								span.badge.badge-danger 2
						li
							a(href='javascript:;', data-target='#quick_sidebar_tab_2', data-toggle='tab')
								| Alerts
								span.badge.badge-success 7
						li.dropdown
							a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
								| More
								i.fa.fa-angle-down
							ul.dropdown-menu.pull-right
								li
									a(href='javascript:;', data-target='#quick_sidebar_tab_3', data-toggle='tab')
										i.icon-bell
										|  Alerts
								li
									a(href='javascript:;', data-target='#quick_sidebar_tab_3', data-toggle='tab')
										i.icon-info
										|  Notifications
								li
									a(href='javascript:;', data-target='#quick_sidebar_tab_3', data-toggle='tab')
										i.icon-speech
										|  Activities
								li.divider
								li
									a(href='javascript:;', data-target='#quick_sidebar_tab_3', data-toggle='tab')
										i.icon-settings
										|  Settings
					.tab-content
						#quick_sidebar_tab_1.tab-pane.active.page-quick-sidebar-chat
							.page-quick-sidebar-chat-users(data-rail-color='#ddd', data-wrapper-class='page-quick-sidebar-list')
								h3.list-heading Staff
								ul.media-list.list-items
									li.media
										.media-status
											span.badge.badge-success 8
										img.media-object(src='/assets/layouts/layout/img/avatar3.jpg', alt='...')
										.media-body
											h4.media-heading Bob Nilson
											.media-heading-sub  Project Manager 
									li.media
										img.media-object(src='/assets/layouts/layout/img/avatar1.jpg', alt='...')
										.media-body
											h4.media-heading Nick Larson
											.media-heading-sub  Art Director 
									li.media
										.media-status
											span.badge.badge-danger 3
										img.media-object(src='/assets/layouts/layout/img/avatar4.jpg', alt='...')
										.media-body
											h4.media-heading Deon Hubert
											.media-heading-sub  CTO 
									li.media
										img.media-object(src='/assets/layouts/layout/img/avatar2.jpg', alt='...')
										.media-body
											h4.media-heading Ella Wong
											.media-heading-sub  CEO 
								h3.list-heading Customers
								ul.media-list.list-items
									li.media
										.media-status
											span.badge.badge-warning 2
										img.media-object(src='/assets/layouts/layout/img/avatar6.jpg', alt='...')
										.media-body
											h4.media-heading Lara Kunis
											.media-heading-sub  CEO, Loop Inc 
											.media-heading-small  Last seen 03:10 AM 
									li.media
										.media-status
											span.label.label-sm.label-success new
										img.media-object(src='/assets/layouts/layout/img/avatar7.jpg', alt='...')
										.media-body
											h4.media-heading Ernie Kyllonen
											.media-heading-sub
												| Project Manager,
												br
												|  SmartBizz PTL
									li.media
										img.media-object(src='/assets/layouts/layout/img/avatar8.jpg', alt='...')
										.media-body
											h4.media-heading Lisa Stone
											.media-heading-sub  CTO, Keort Inc 
											.media-heading-small  Last seen 13:10 PM 
									li.media
										.media-status
											span.badge.badge-success 7
										img.media-object(src='/assets/layouts/layout/img/avatar9.jpg', alt='...')
										.media-body
											h4.media-heading Deon Portalatin
											.media-heading-sub  CFO, H&D LTD 
									li.media
										img.media-object(src='/assets/layouts/layout/img/avatar10.jpg', alt='...')
										.media-body
											h4.media-heading Irina Savikova
											.media-heading-sub  CEO, Tizda Motors Inc 
									li.media
										.media-status
											span.badge.badge-danger 4
										img.media-object(src='/assets/layouts/layout/img/avatar11.jpg', alt='...')
										.media-body
											h4.media-heading Maria Gomez
											.media-heading-sub  Manager, Infomatic Inc 
											.media-heading-small  Last seen 03:10 AM 
							.page-quick-sidebar-item
								.page-quick-sidebar-chat-user
									.page-quick-sidebar-nav
										a.page-quick-sidebar-back-to-list(href='javascript:;')
											i.icon-arrow-left
											| Back
									.page-quick-sidebar-chat-user-messages
										.post.out
											img.avatar(alt='', src='/assets/layouts/layout/img/avatar3.jpg')
											.message
												span.arrow
												a.name(href='javascript:;') Bob Nilson
												span.datetime 20:15
												span.body  When could you send me the report ? 
										.post.in
											img.avatar(alt='', src='/assets/layouts/layout/img/avatar2.jpg')
											.message
												span.arrow
												a.name(href='javascript:;') Ella Wong
												span.datetime 20:15
												span.body  Its almost done. I will be sending it shortly 
										.post.out
											img.avatar(alt='', src='/assets/layouts/layout/img/avatar3.jpg')
											.message
												span.arrow
												a.name(href='javascript:;') Bob Nilson
												span.datetime 20:15
												span.body  Alright. Thanks! :) 
										.post.in
											img.avatar(alt='', src='/assets/layouts/layout/img/avatar2.jpg')
											.message
												span.arrow
												a.name(href='javascript:;') Ella Wong
												span.datetime 20:16
												span.body  You are most welcome. Sorry for the delay. 
										.post.out
											img.avatar(alt='', src='/assets/layouts/layout/img/avatar3.jpg')
											.message
												span.arrow
												a.name(href='javascript:;') Bob Nilson
												span.datetime 20:17
												span.body  No probs. Just take your time :) 
										.post.in
											img.avatar(alt='', src='/assets/layouts/layout/img/avatar2.jpg')
											.message
												span.arrow
												a.name(href='javascript:;') Ella Wong
												span.datetime 20:40
												span.body  Alright. I just emailed it to you. 
										.post.out
											img.avatar(alt='', src='/assets/layouts/layout/img/avatar3.jpg')
											.message
												span.arrow
												a.name(href='javascript:;') Bob Nilson
												span.datetime 20:17
												span.body  Great! Thanks. Will check it right away. 
										.post.in
											img.avatar(alt='', src='/assets/layouts/layout/img/avatar2.jpg')
											.message
												span.arrow
												a.name(href='javascript:;') Ella Wong
												span.datetime 20:40
												span.body  Please let me know if you have any comment. 
										.post.out
											img.avatar(alt='', src='/assets/layouts/layout/img/avatar3.jpg')
											.message
												span.arrow
												a.name(href='javascript:;') Bob Nilson
												span.datetime 20:17
												span.body  Sure. I will check and buzz you if anything needs to be corrected. 
									.page-quick-sidebar-chat-user-form
										.input-group
											input.form-control(type='text', placeholder='Type a message here...')
											.input-group-btn
												button.btn.green(type='button')
													i.icon-paper-clip
						#quick_sidebar_tab_2.tab-pane.page-quick-sidebar-alerts
							.page-quick-sidebar-alerts-list
								h3.list-heading General
								ul.feeds.list-items
									li
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-info
														i.fa.fa-check
												.cont-col2
													.desc
														| You have 4 pending tasks.
														span.label.label-sm.label-warning
															| Take action
															i.fa.fa-share
										.col2
											.date  Just now 
									li
										a(href='javascript:;')
											.col1
												.cont
													.cont-col1
														.label.label-sm.label-success
															i.fa.fa-bar-chart-o
													.cont-col2
														.desc  Finance Report for year 2013 has been released. 
											.col2
												.date  20 mins 
									li
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-danger
														i.fa.fa-user
												.cont-col2
													.desc  You have 5 pending membership that requires a quick review. 
										.col2
											.date  24 mins 
									li
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-info
														i.fa.fa-shopping-cart
												.cont-col2
													.desc
														| New order received with
														span.label.label-sm.label-success  Reference Number: DR23923 
										.col2
											.date  30 mins 
									li
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-success
														i.fa.fa-user
												.cont-col2
													.desc  You have 5 pending membership that requires a quick review. 
										.col2
											.date  24 mins 
									li
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-info
														i.fa.fa-bell-o
												.cont-col2
													.desc
														| Web server hardware needs to be upgraded.
														span.label.label-sm.label-warning  Overdue 
										.col2
											.date  2 hours 
									li
										a(href='javascript:;')
											.col1
												.cont
													.cont-col1
														.label.label-sm.label-default
															i.fa.fa-briefcase
													.cont-col2
														.desc  IPO Report for year 2013 has been released. 
											.col2
												.date  20 mins 
								h3.list-heading System
								ul.feeds.list-items
									li
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-info
														i.fa.fa-check
												.cont-col2
													.desc
														| You have 4 pending tasks.
														span.label.label-sm.label-warning
															| Take action
															i.fa.fa-share
										.col2
											.date  Just now 
									li
										a(href='javascript:;')
											.col1
												.cont
													.cont-col1
														.label.label-sm.label-danger
															i.fa.fa-bar-chart-o
													.cont-col2
														.desc  Finance Report for year 2013 has been released. 
											.col2
												.date  20 mins 
									li
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-default
														i.fa.fa-user
												.cont-col2
													.desc  You have 5 pending membership that requires a quick review. 
										.col2
											.date  24 mins 
									li
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-info
														i.fa.fa-shopping-cart
												.cont-col2
													.desc
														| New order received with
														span.label.label-sm.label-success  Reference Number: DR23923 
										.col2
											.date  30 mins 
									li
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-success
														i.fa.fa-user
												.cont-col2
													.desc  You have 5 pending membership that requires a quick review. 
										.col2
											.date  24 mins 
									li
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-warning
														i.fa.fa-bell-o
												.cont-col2
													.desc
														| Web server hardware needs to be upgraded.
														span.label.label-sm.label-default  Overdue 
										.col2
											.date  2 hours 
									li
										a(href='javascript:;')
											.col1
												.cont
													.cont-col1
														.label.label-sm.label-info
															i.fa.fa-briefcase
													.cont-col2
														.desc  IPO Report for year 2013 has been released. 
											.col2
												.date  20 mins 
						#quick_sidebar_tab_3.tab-pane.page-quick-sidebar-settings
							.page-quick-sidebar-settings-list
								h3.list-heading General Settings
								ul.list-items.borderless
									li
										| Enable Notifications
										input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='success', data-on-text='ON', data-off-color='default', data-off-text='OFF')
									li
										| Allow Tracking
										input.make-switch(type='checkbox', data-size='small', data-on-color='info', data-on-text='ON', data-off-color='default', data-off-text='OFF')
									li
										| Log Errors
										input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='danger', data-on-text='ON', data-off-color='default', data-off-text='OFF')
									li
										| Auto Sumbit Issues
										input.make-switch(type='checkbox', data-size='small', data-on-color='warning', data-on-text='ON', data-off-color='default', data-off-text='OFF')
									li
										| Enable SMS Alerts
										input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='success', data-on-text='ON', data-off-color='default', data-off-text='OFF')
								h3.list-heading System Settings
								ul.list-items.borderless
									li
										| Security Level
										select.form-control.input-inline.input-sm.input-small
											option(value='1') Normal
											option(value='2', selected='') Medium
											option(value='e') High
									li
										| Failed Email Attempts
										input.form-control.input-inline.input-sm.input-small(value='5')
									li
										| Secondary SMTP Port
										input.form-control.input-inline.input-sm.input-small(value='3560')
									li
										| Notify On System Error
										input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='danger', data-on-text='ON', data-off-color='default', data-off-text='OFF')
									li
										| Notify On SMTP Error
										input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='warning', data-on-text='ON', data-off-color='default', data-off-text='OFF')
								.inner-content
									button.btn.btn-success
										i.icon-settings
										|  Save Changes
			// END QUICK SIDEBAR
		// END CONTAINER
		// BEGIN FOOTER
		.page-footer
			.page-footer-inner
				| 2020 © Re-Tinta
				|   
				//- .scroll-to-top
				//- 	i.icon-arrow-up
			// END FOOTER
			// END QUICK NAV

block scriptsMaster
	block scripts