doctype html
//
	Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
	Version: 4.7.5
	Author: KeenThemes
	Website: http://www.keenthemes.com/
	Contact: support@keenthemes.com
	Follow: www.twitter.com/keenthemes
	Dribbble: www.dribbble.com/keenthemes
	Like: www.facebook.com/keenthemes
	Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
	Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
	License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
html
	// BEGIN HEAD
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(content='width=device-width, initial-scale=1', name='viewport')
		meta(content='Preview page of Re-Tinta for ', name='description')
		meta(content='', name='author')
		// BEGIN GLOBAL MANDATORY STYLES
		link(href='/assets/global/plugins/googlefonts/pagefonts.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
		// END GLOBAL MANDATORY STYLES
		// BEGIN THEME GLOBAL STYLES
		link#style_components(href='/assets/global/css/components-rounded.css', rel='stylesheet', type='text/css')
		link(href='/assets/global/css/plugins.min.css', rel='stylesheet', type='text/css')
		// END THEME GLOBAL STYLES
		// BEGIN THEME LAYOUT STYLES
		link(href='/assets/layouts/layout2/css/layout.css', rel='stylesheet', type='text/css')
		link#style_color(href='/assets/layouts/layout2/css/themes/blue.css', rel='stylesheet', type='text/css')
		link(href='/assets/layouts/layout2/css/custom.css', rel='stylesheet', type='text/css')
		// END THEME LAYOUT STYLES
		link(rel='shortcut icon', href='/assets/global/img/favicon.ico')
		block headerMaster
	block contentMaster
	// BEGIN CORE PLUGINS
	script(src='/assets/global/plugins/jquery.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
	script(src='/assets/global/plugins/js.cookie.min.js', type='text/javascript')
	script(src='/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
	script(src='/assets/global/plugins/jquery.blockui.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript')
	// END CORE PLUGINS
	// BEGIN THEME GLOBAL SCRIPTS
	script(src='/assets/global/scripts/app.min.js', type='text/javascript')
	// END THEME GLOBAL SCRIPTS
	// BEGIN THEME LAYOUT SCRIPTS
	script(src='/assets/layouts/layout2/scripts/layout.js', type='text/javascript')
	script(src='/assets/layouts/layout2/scripts/demo.min.js', type='text/javascript')
	script(src='/assets/layouts/global/scripts/quick-sidebar.js', type='text/javascript')
	script(src='/assets/layouts/global/scripts/quick-nav.js', type='text/javascript')
	// END THEME LAYOUT SCRIPTS
	block scriptsMaster