extends master-empty.pug

block headerMaster
	title Re-Tinta | 404 Page Option 3
	// BEGIN PAGE LEVEL STYLES
	link(href='/assets/pages/css/error.min.css', rel='stylesheet', type='text/css')

block contentMaster
	body.page-404-3
		.page-inner
			img.img-responsive(src='/assets/pages/media/pages/earth.jpg', alt='')
		.container.error-404
			h1 404
			h2 Houston, Tenemos un problema.
			p=error 
			p
				a.btn.red.btn-outline(href='/')  Volver a casa 
				br
block scriptsMaster
	//if lt IE 9
		script(src='../assets/global/plugins/respond.min.js')
		script(src='../assets/global/plugins/excanvas.min.js')
		script(src='../assets/global/plugins/ie8.fix.min.js')
