extends master-empty.pug

block headerMaster
	title Re-Tinta | User Lock Screen 1
	// BEGIN PAGE LEVEL STYLES
	link(href='/assets/pages/css/lock.min.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL STYLES

block contentMaster
	body
		.page-lock
			.page-logo
				a(href='index.html')
					img.logo-default(src='/assets/layouts/layout2/img/logo-default.png', alt='logo')
			.page-body
				.lock-head  Wrong Pass 
				.lock-body
					.lock-cont
						.lock-item
							.pull-left.lock-avatar-block
								img.lock-avatar(src='/assets/pages/media/profile/jimmy.jpg')
						.lock-item.lock-item-full
							form.lock-form.pull-left(action='/login', method='POST')
								h4 #{userName}
								.form-group
									input.form-control.placeholder-no-fix(type='password', autocomplete='off', placeholder='Password', name='password')
								.form-actions
									button.btn.red.uppercase(type='submit') Login
				.lock-bottom
					a(href='') No eres #{userName}?
			.page-footer-custom  2014 © Metronic. Admin Dashboard Template. 

block scriptsMaster
	//if lt IE 9
		script(src='/assets/global/plugins/respond.min.js')
		script(src='/assets/global/plugins/excanvas.min.js')
		script(src='/assets/global/plugins/ie8.fix.min.js')
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/lock.min.js', type='text/javascript')
	// END PAGE LEVEL SCRIPTSc