extends master.pug

block header
	title Re-Tinta | Mis Clases
	// BEGIN PAGE LEVEL PLUGINS
	link(href='/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-toastr/toastr.min.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL STYLES
	link(href='/assets/pages/css/profile.min.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL STYLES

block content
	.page-content-wrapper
		// BEGIN CONTENT BODY
		.page-content
			// BEGIN PAGE HEADER
			// BEGIN THEME PANEL
			// Borrado
			// END THEME PANEL
			h1.page-title
				| Gestiona tus Clases
				small
			// END PAGE HEADER
			.row
				.col-md-12
					// BEGIN PROFILE SIDEBAR
					.profile-sidebar
						// PORTLET MAIN
						.portlet.light.profile-sidebar-portlet
							// SIDEBAR USERPIC
							.profile-userpic
								img.img-responsive(src=dataAnotherUser.userAvatar, alt='')
							// END SIDEBAR USERPIC
							// SIDEBAR USER TITLE
							.profile-usertitle
								
								.profile-usertitle-name  #{dataAnotherUser.userName} #{dataAnotherUser.userLastname} 
								if (dataAnotherUser.userProfesion)
									.profile-usertitle-job #{dataAnotherUser.userProfesion} 
							// END SIDEBAR USER TITLE
							// SIDEBAR BUTTONS
							//- .profile-userbuttons
								button.btn.btn-circle.green.btn-sm(type='button') Seguir
								button.btn.btn-circle.red.btn-sm(type='button') Escribir
							// END SIDEBAR BUTTONS
							// SIDEBAR MENU
							
							if permisos
								.profile-usermenu
									ul.nav
										li
											a(href=`/account:${url}`)
												i.icon-user
												|  Mis Datos
										li.active
											- var url=dataUser.userName
											a(href=`/myClasses`)
												i.icon-home
												|  Mis Clases
							else
								br
									
							// END MENU
						// END PORTLET MAIN
						// PORTLET MAIN
						if (dataAnotherUser.userAbout)
							.portlet.light
								// STAT
								//.row.list-separated.profile-stat
									.col-md-4.col-sm-4.col-xs-6
										.uppercase.profile-stat-title  85 
										.uppercase.profile-stat-text  Asistencias 
									.col-md-4.col-sm-4.col-xs-6
										.uppercase.profile-stat-title  51 
										.uppercase.profile-stat-text  Seguimientos 
									.col-md-4.col-sm-4.col-xs-6
										.uppercase.profile-stat-title  61 
										.uppercase.profile-stat-text  Clases dadas 
								// END STAT
								div
									h4.profile-desc-title Acerca de #{dataAnotherUser.userName}:
									span#myAbout.profile-desc-text  #{dataAnotherUser.userAbout} 
						// END PORTLET MAIN
					// END BEGIN PROFILE SIDEBAR
					// BEGIN PROFILE CONTENT
					.profile-content
						.row
							.col-md-12
								.portlet.light
									.portlet-title.tabbable-line
										//
											<div class="caption caption-md">
											<i class="icon-globe theme-font hide"></i>
											<span class="caption-subject font-blue-madison bold uppercase">Mis Clases</span>
											</div>
										ul.nav.nav-tabs(style='float:left;')
											if permisos
												li(class = (source == undefined || source == '')?'active':'')
													a(href='#tab_1_1', data-toggle='tab', aria-expanded= (source == '')?'true':'false') Creadas
												li(class = (source == 'claseFinalizada')?'active':'')
													a(href='#tab_1_2', data-toggle='tab', aria-expanded= (source == 'claseFinalizada')?'true':'false') Finalizadas
												li(class = (source == 'claseSubida')?'active':'')
													a(href='#tab_1_3', data-toggle='tab', aria-expanded= (source == 'claseSubida')?'true':'false') Subidas
											else
												li(class = 'active')
													a(href='#tab_1_1', data-toggle='tab', aria-expanded= (source == '')?'true':'false') Online
												li
													a(href='#tab_1_3', data-toggle='tab', aria-expanded= (source == 'claseSubida')?'true':'false') Subidas
									.portlet-body
										.tab-content
											if permisos
												// TIMELINE CREATED CLASS
												#tab_1_1.tab-pane(class = (source == undefined || source == '')?'active':'')
													.portlet.light.portlet-fit.bg-inverse.bordered
														.portlet-title
															.caption
																i.icon-pin.font-green
																span.caption-subject.bold.font-green.uppercase  Clases Creadas
																span.caption-helper
														.portlet-body
															if (dataClassesCreated.length == 0)
																h4.text-left
																	| No tienes clases creadas
															.timeline.white-bg.white-bg
																// TIMELINE ITEM
																each c in dataClassesCreated
																	.timeline-item
																		.timeline-badge
																			img.timeline-badge-userpic(src=c.classImg)
																		.timeline-body(style="word-wrap:break-word")
																			.timeline-body-arrow
																			.timeline-body-head
																				.timeline-body-head-caption(style="word-wrap:break-word; display:block")
																					span.timeline-body-title.font-green(style="word-wrap:break-word; display:block") #{c.classTitle}
																					span.timeline-body-time.font-grey-cascade(style="word-wrap:break-word;margin-left: 1px; display:block") #{c.createdAt}
																				.timeline-body-head-actions
																					.btn-group
																						.actions
																							div(style='display:inline')
																								form(role='form', action='/classOnline', method='POST', style='display:inline')
																									input(type='text', name='_id', value=''+c._id, id="input-id", style='display:none')
																									button#startButton.btn.btn-circle.btn-icon-only.btn-default.green-haze(type='submit', rel="popover", data-toggle="popover", data-trigger="hover", data-content="Iniciar", data-placement="left")
																										i.icon-login(aria-hidden='true') 
																									input(type='hidden', name='_method', value='PUT') 
																								form(role='form', action=`/editClass/${c._id}`, method='GET', style='display:inline')
																									button#editButton.btn.btn-circle.btn-icon-only.btn-default.grey-steel(type='submit', rel="popover", data-toggle="popover", data-trigger="hover", data-content="Editar", data-placement="left")
																										i.icon-note(aria-hidden='true')
																								form(role='form', action='/classDelete', method='POST', style='display:inline')
																									input(type='text', name='_id', value=''+c._id, id="input-id", style='display:none')
																									button#deleteButton.btn.btn-circle.btn-icon-only.btn-default.red(type='submit', data-toggle="confirmation",  data-placement="left", data-title='¿Desea eliminar esta clase?')
																										i.icon-trash(aria-hidden='true') 
																									input(type='hidden', name='_method', value='DELETE') 
																			.timeline-body-content
																				br
																				span.font-grey-cascade(style="word-wrap:break-word; display:block")
																					| #{c.classDescription}
																// END TIMELINE ITEM
												// END TIMELINE CREATED CLASSS
												// TIMELINE CLASSES FINALIZED
												#tab_1_2.tab-pane(class = (source == 'claseFinalizada')?'active':'')
													.portlet.light.portlet-fit.bg-inverse.bordered
														.portlet-title
															.caption
																i.icon-pin.font-green
																span.caption-subject.bold.font-green.uppercase  Clases Finalizadas
																span.caption-helper
														.portlet-body
															if (dataClassesFinalizated.length == 0)
																h4.text-left
																	| No tienes clases finalizadas
															.timeline.white-bg.white-bg
																// TIMELINE ITEM
																each cEnds in dataClassesFinalizated
																	.timeline-item
																		.timeline-badge
																			img.timeline-badge-userpic(src=cEnds.classImg)
																		.timeline-body
																			.timeline-body-arrow
																			.timeline-body-head
																				.timeline-body-head-caption(style="word-wrap:break-word; display:block")
																					span.timeline-body-title.font-green(style="word-wrap:break-word; display:block") #{cEnds.classTitle}
																					span.timeline-body-time.font-grey-cascade(style="word-wrap:break-word;margin-left: 1px; display:block") Creada el #{cEnds.createdAt}
																				.timeline-body-head-actions
																					.btn-group
																						.actions
																							form(role='form', action='/classUpload', method='POST',style='display:inline')
																								input(type='text', name='_id', value=''+cEnds._id, id="input-id", style='display:none')
																								button#storeButton.btn.btn-circle.btn-icon-only.btn-default.blue(type='submit', rel="popover", data-toggle="popover", data-trigger="hover", data-content="Almacenar/ Subir", data-placement="top")
																									i.icon-cloud-upload(aria-hidden='true') 
																								input(type='hidden', name='_method', value='PUT') 
																							
																								a#chartButton.btn.btn-circle.btn-icon-only.btn-default.green-haze(href=`/chart/${cEnds._id}`, rel="popover", data-toggle="popover", data-trigger="hover", data-content="Ver graficos", data-placement="top")
																									i.fa.fa-bar-chart(aria-hidden='true')
																								
																								a#chartButton.btn.btn-circle.btn-icon-only.btn-default.grey-steel(href=`/report/${cEnds._id}`, rel="popover", data-toggle="popover", data-trigger="hover", data-content="Ver reportes", data-placement="top")
																									i.fa.fa-file-text-o(aria-hidden='true')
																							
																							form(role='form', action='/classDelete', method='POST', style='display:inline')
																								input(type='text', name='_id', value=''+cEnds._id, id="input-id", style='display:none')
																								button#deleteButton.btn.btn-circle.btn-icon-only.btn-default.red(type='submit', data-toggle="confirmation",  data-placement="left", data-title='¿Desea eliminar esta clase?')
																									i.icon-trash(aria-hidden='true') 
																								input(type='hidden', name='_method', value='DELETE') 

																			.timeline-body-content
																				br
																				span.font-grey-cascade(style="word-wrap:break-word; display:block")
																					| #{cEnds.classDescription}
																// END TIMELINE ITEM
												// END TIMELINE CLASSES FINALIZED
												// TIMELINE CLASSES UPLOADs
												#tab_1_3.tab-pane(class = (source == 'claseSubida')?'active':'')
													.portlet.light.portlet-fit.bg-inverse.bordered
														.portlet-title
															.caption
																i.icon-pin.font-green
																span.caption-subject.bold.font-green.uppercase  Clases Subidas
																span.caption-helper
														.portlet-body
															if (dataClassesUploads.length == 0)
																h4.text-left
																	| No tienes clases subidas
															.timeline.white-bg.white-bg
																// TIMELINE ITEM
																each cUps in dataClassesUploads
																	.timeline-item
																		.timeline-badge
																			img.timeline-badge-userpic(src=cUps.classImg)
																		.timeline-body(style="word-wrap:break-word; display:block")
																			.timeline-body-arrow
																			.timeline-body-head
																				.timeline-body-head-caption(style="word-wrap:break-word; display:block")
																					span.timeline-body-title.font-green(style="word-wrap:break-word; display:block") #{cUps.classTitle}
																					span.timeline-body-time.font-grey-cascade(style="word-wrap:break-word;margin-left: 1px;display:block") Creada el #{cUps.createdAt}
																				.timeline-body-head-actions
																					.btn-group
																						.actions
																							a#storeButton.btn.btn-circle.btn-icon-only.btn-default.blue(href=`/classRec/${cUps._id}`, rel="popover", data-toggle="popover", data-trigger="hover", data-content="Reproducir", data-placement="top")
																								i.fa.fa-play(aria-hidden='true') 

																							a#chartButton.btn.btn-circle.btn-icon-only.btn-default.green-haze(href=`/chart/${cUps._id}`, rel="popover", data-toggle="popover", data-trigger="hover", data-content="Ver graficos", data-placement="top")
																								i.fa.fa-bar-chart(aria-hidden='true')

																							a#chartButton.btn.btn-circle.btn-icon-only.btn-default.grey-steel(href=`/report/${cUps._id}`, rel="popover", data-toggle="popover", data-trigger="hover", data-content="Ver reportes", data-placement="top")
																								i.fa.fa-file-text-o(aria-hidden='true')
																							form(role='form', action='/classDelete', method='POST', style='display:inline')
																								input(type='text', name='_id', value=''+cUps._id, id="input-id", style='display:none')
																								button#deleteButton.btn.btn-circle.btn-icon-only.btn-default.red(type='submit', data-toggle="confirmation",  data-placement="left", data-title='¿Desea eliminar esta clase?')
																									i.icon-trash(aria-hidden='true') 
																								input(type='hidden', name='_method', value='DELETE') 

																			.timeline-body-content
																				br
																				span.font-grey-cascade(style="word-wrap:break-word; display:block")
																					| #{cUps.classDescription}
											else
												// TIMELINE CREATED CLASS
												#tab_1_1.tab-pane(class = 'active')
													.portlet.light.portlet-fit.bg-inverse.bordered
														.portlet-title
															.caption
																i.icon-pin.font-green
																span.caption-subject.bold.font-green.uppercase  Clases Online
																span.caption-helper
														.portlet-body
															if (dataClassesOnline.length == 0)
																h4.text-left
																	| No tiene clases online
															.timeline.white-bg
																// TIMELINE ITEM
																each c in dataClassesOnline
																	.timeline-item
																		.timeline-badge
																			img.timeline-badge-userpic(src=c.classImg)
																		.timeline-body(style="word-wrap:break-word")
																			.timeline-body-arrow
																			.timeline-body-head
																				.timeline-body-head-caption(style="word-wrap:break-word; display:block")
																					span.timeline-body-title.font-green(style="word-wrap:break-word; display:block") #{c.classTitle}
																					span.timeline-body-time.font-grey-cascade(style="word-wrap:break-word;margin-left: 1px; display:block") #{c.createdAt}
																				.timeline-body-head-actions
																					.btn-group
																						.actions
																							form(role='form', action='/class/'+c._id, method='GET')
																								button#startButton.btn.btn-circle.btn-icon-only.btn-default.green-haze(type='submit', rel="popover", data-toggle="popover", data-trigger="hover", data-content="Iniciar", data-placement="left")
																									i.icon-login(aria-hidden='true')
																			.timeline-body-content
																				br
																				span.font-grey-cascade(style="word-wrap:break-word; display:block")
																					| #{c.classDescription}
																		// END TIMELINE ITEM
												// END TIMELINE CREATED CLASSS
												// TIMELINE CLASSES FINALIZED
												#tab_1_3.tab-pane
													.portlet.light.portlet-fit.bg-inverse.bordered
														.portlet-title
															.caption
																i.icon-pin.font-green
																span.caption-subject.bold.font-green.uppercase  Clases Subidas
																span.caption-helper
														.portlet-body
															if (dataClassesUploads.length == 0)
																h4.text-left
																	| No tiene clases subidas
															.timeline.white-bg.white-bg
																// TIMELINE ITEM
																each cUps in dataClassesUploads
																	.timeline-item
																		.timeline-badge
																			img.timeline-badge-userpic(src=cUps.classImg)
																		.timeline-body(style="word-wrap:break-word; display:block")
																			.timeline-body-arrow
																			.timeline-body-head
																				.timeline-body-head-caption(style="word-wrap:break-word; display:block")
																					span.timeline-body-title.font-green(style="word-wrap:break-word; display:block") #{cUps.classTitle}
																					span.timeline-body-time.font-grey-cascade(style="word-wrap:break-word;margin-left: 1px;display:block") Creada el #{cUps.createdAt}
																				.timeline-body-head-actions
																					.btn-group
																						.actions
																							a#storeButton.btn.btn-circle.btn-icon-only.btn-default.blue(href=`/classRec/${cUps._id}`, rel="popover", data-toggle="popover", data-trigger="hover", data-content="Reproducir", data-placement="top")
																								i.fa.fa-play(aria-hidden='true') 
																			.timeline-body-content
																				br
																				span.font-grey-cascade(style="word-wrap:break-word; display:block")
																					| #{cUps.classDescription}

			//Begin MESSAGE TRIGGER
	.row(style='display:none')
		.col-md-12
			.portlet.light
				input#title.form-control(type='text', value=''+dataMsj.title, placeholder='')
				textarea#message.form-control(rows='3', placeholder='') #{dataMsj.message}
				input#toastTypeGroup.form-control(type='text', value=''+dataMsj.type, placeholder='')
				// success info warning error
				.col-md-12
					button#showtoast.btn.green(type='button ') Show Toast

block scripts
	// BEGIN PAGE LEVEL PLUGINS
	script(src='/assets/global/plugins/bootstrap-toastr/toastr.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js', type='text/javascript')
	script(src='/assets/global/plugins/jquery.sparkline.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js', type='text/javascript')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/ui-toastr.js', type='text/javascript')
	script(src='/assets/pages/scripts/profile.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/my-classes-popover.js', type='text/javascript')
	script(src='/assets/pages/scripts/star-rating.js', type='text/javascript')
	script(src='/assets/pages/scripts/ui-confirmations.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/profileAccount.js', type='text/javascript')
	// END PAGE LEVEL SCRIPTS
