extends master.pug

block header
	title Re-Tinta | Perfil
	// BEGIN PAGE LEVEL PLUGINS
	link(href='/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/fullcalendar/fullcalendar.min.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-toastr/toastr.min.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL STYLES
	link(href='/assets/pages/css/profile.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL STYLES
	
block content
	.page-content-wrapper
		// BEGIN CONTENT BODY
		.page-content
			// BEGIN PAGE HEADER
			// BEGIN THEME PANEL
			// BORRADO
			// END THEME PANEL
			h1.page-title
				| Perfil de Usuario
			// END PAGE HEADER
			.row
				.col-md-12
					// BEGIN PROFILE SIDEBAR
					.profile-sidebar
						// PORTLET MAIN
						.portlet.light.profile-sidebar-portlet
							// SIDEBAR USERPIC
							.profile-userpic
								img.img-responsive(src=dataUser.userAvatar, alt='/avatarsProfile/avatarUnknown.jpg')
							// END SIDEBAR USERPIC
							// SIDEBAR USER TITLE
							.profile-usertitle
								.profile-usertitle-name  #{dataUser.userName} #{dataUser.userLastname} 
								.profile-usertitle-job  Developer 
							// END SIDEBAR USER TITLE
							// SIDEBAR BUTTONS
							//- .profile-userbuttons
								button.btn.btn-circle.green.btn-sm(type='button') Seguir
								button.btn.btn-circle.red.btn-sm(type='button') Escribir
							// END SIDEBAR BUTTONS
							// SIDEBAR MENU
							.profile-usermenu
								ul.nav
									li
										a(href=`/account:${url}`)
											i.icon-user
											|  Mis Datos
									li.active
										- var url=dataUser.userName
										a(href=`/myClasses`)
											i.icon-home
											|  Mis Clases
									
							// END MENU
						// END PORTLET MAIN
						// PORTLET MAIN
						//- .portlet.light
							// STAT
							.row.list-separated.profile-stat
								.col-md-4.col-sm-4.col-xs-6
									.uppercase.profile-stat-title  85 
									.uppercase.profile-stat-text  Asistencias 
								.col-md-4.col-sm-4.col-xs-6
									.uppercase.profile-stat-title  51 
									.uppercase.profile-stat-text  Seguimientos 
								.col-md-4.col-sm-4.col-xs-6
									.uppercase.profile-stat-title  61 
									.uppercase.profile-stat-text  Clases dadas 
							// END STAT
							div
								h4.profile-desc-title Acerca de #{dataUser.userName}
								span.profile-desc-text   #{dataUser.userAbout} 
								.margin-top-20.profile-desc-link
									i.fa.fa-globe
									a(href='https://www.facebook.com/ProyectoReTinta/') ProyectoReTinta
								.margin-top-20.profile-desc-link
									i.fa.fa-twitter
									a(href='https://www.twitter.com/retinta/') @retinta
								.margin-top-20.profile-desc-link
									i.fa.fa-facebook
									a(href='https://www.facebook.com/ProyectoReTinta/') ProyectoReTinta
						// END PORTLET MAIN
					// END BEGIN PROFILE SIDEBAR
					// BEGIN PROFILE CONTENT
					.profile-content
						.row
							.col-md-7
								.row
									// BEGIN PORTLET CALENDAR
									.portlet.light.calendar
										.portlet-title
											.caption
												i.icon-calendar.font-dark.hide
												span.caption-subject.font-dark.bold.uppercase Calendario
										.portlet-body
											#calendar  
									// END PORTLET
								.row
									// BEGIN PORTLET
									// END PORTLET
							.col-md-5
								// BEGIN PORTLET NOTIFICATION
								.portlet.light
									.portlet-title.tabbable-line
										.caption.caption-md
											i.icon-globe.theme-font.hide
											span.caption-subject.font-blue-madison.bold.uppercase Notificaciones
										ul.nav.nav-tabs
											li.active
												a(href='#tab_1_1', data-toggle='tab')  Sistema 
											li
												a(href='#tab_1_2', data-toggle='tab')  Actividades 
									.portlet-body
										// BEGIN TABS
										.tab-content
											#tab_1_1.tab-pane.active
												.scroller(style='height: 700px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
													ul.feeds
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-success
																			i.fa.fa-bell-o
																	.cont-col2
																		.desc
																			| Tienes 4 clases creadas sin iniciar.
																			span.label.label-sm.label-info
																				| Tomar acción
																				i.fa.fa-share
															.col2
																.date  Justo ahora 
														li
															a(href='javascript:;')
																.col1
																	.cont
																		.cont-col1
																			.label.label-sm.label-success
																				i.fa.fa-bell-o
																		.cont-col2
																			.desc  Una Nueva clase de "Lucas" recién comienza! 
																.col2
																	.date  20 mins 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-danger
																			i.fa.fa-bolt
																	.cont-col2
																		.desc  Completa mejor tu información personal 
															.col2
																.date  24 mins 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-info
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  Ahora recibirás un nuevo aviso cada vez que transmita Enrico. 
															.col2
																.date  30 mins 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-success
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  Ahora sabrás cuando las clases de tus categorias comiencen 
															.col2
																.date  40 mins 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-warning
																			i.fa.fa-plus
																	.cont-col2
																		.desc  Una clase lista para iniciar fuera de término 
															.col2
																.date  1,5 hs 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-success
																			i.fa.fa-bell-o
																	.cont-col2
																		.desc
																			| Web server hardware needs to be upgraded.
																			span.label.label-sm.label-default  Overdue 
															.col2
																.date  2 hours 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-default
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  Prod01 database server is overloaded 90%. 
															.col2
																.date  3 hours 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-warning
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  New group created. Pending manager review. 
															.col2
																.date  5 hours 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-info
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  Order payment failed. 
															.col2
																.date  18 hours 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-default
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  New application received. 
															.col2
																.date  21 hours 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-info
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  Dev90 web server restarted. Pending overall system check. 
															.col2
																.date  22 hours 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-default
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  New member registered. Pending approval 
															.col2
																.date  21 hours 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-info
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  L45 Network failure. Schedule maintenance. 
															.col2
																.date  22 hours 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-default
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  Order canceled with failed payment. 
															.col2
																.date  21 hours 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-info
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  Web-A2 clound instance created. Schedule full scan. 
															.col2
																.date  22 hours 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-default
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  Member canceled. Schedule account review. 
															.col2
																.date  21 hours 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-info
																			i.fa.fa-bullhorn
																	.cont-col2
																		.desc  New order received. Please take care of it. 
															.col2
																.date  22 hours 
											#tab_1_2.tab-pane
												.scroller(style='height: 337px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
													ul.feeds
														li
															a(href='javascript:;')
																.col1
																	.cont
																		.cont-col1
																			.label.label-sm.label-success
																				i.fa.fa-bell-o
																		.cont-col2
																			.desc  New user registered 
																.col2
																	.date  Just now 
														li
															a(href='javascript:;')
																.col1
																	.cont
																		.cont-col1
																			.label.label-sm.label-success
																				i.fa.fa-bell-o
																		.cont-col2
																			.desc  New order received 
																.col2
																	.date  10 mins 
														li
															.col1
																.cont
																	.cont-col1
																		.label.label-sm.label-danger
																			i.fa.fa-bolt
																	.cont-col2
																		.desc
																			| Order #24DOP4 has been rejected.
																			span.label.label-sm.label-danger
																				| Take action
																				i.fa.fa-share
															.col2
																.date  24 mins 
														li
															a(href='javascript:;')
																.col1
																	.cont
																		.cont-col1
																			.label.label-sm.label-success
																				i.fa.fa-bell-o
																		.cont-col2
																			.desc  New user registered 
																.col2
																	.date  Just now 
														li
															a(href='javascript:;')
																.col1
																	.cont
																		.cont-col1
																			.label.label-sm.label-success
																				i.fa.fa-bell-o
																		.cont-col2
																			.desc  New user registered 
																.col2
																	.date  Just now 
														li
															a(href='javascript:;')
																.col1
																	.cont
																		.cont-col1
																			.label.label-sm.label-success
																				i.fa.fa-bell-o
																		.cont-col2
																			.desc  New user registered 
																.col2
																	.date  Just now 
														li
															a(href='javascript:;')
																.col1
																	.cont
																		.cont-col1
																			.label.label-sm.label-success
																				i.fa.fa-bell-o
																		.cont-col2
																			.desc  New user registered 
																.col2
																	.date  Just now 
														li
															a(href='javascript:;')
																.col1
																	.cont
																		.cont-col1
																			.label.label-sm.label-success
																				i.fa.fa-bell-o
																		.cont-col2
																			.desc  New user registered 
																.col2
																	.date  Just now 
														li
															a(href='javascript:;')
																.col1
																	.cont
																		.cont-col1
																			.label.label-sm.label-success
																				i.fa.fa-bell-o
																		.cont-col2
																			.desc  New user registered 
																.col2
																	.date  Just now 
														li
															a(href='javascript:;')
																.col1
																	.cont
																		.cont-col1
																			.label.label-sm.label-success
																				i.fa.fa-bell-o
																		.cont-col2
																			.desc  New user registered 
																.col2
																	.date  Just now 
											//Begin MESSAGE TRIGGER
											.row(style='display:none')
												.col-md-12
													.portlet.light
														input#title.form-control(type='text', value=''+dataMsj.title, placeholder='')
														textarea#message.form-control(rows='3', placeholder='') #{dataMsj.message}
														input#toastTypeGroup.form-control(type='text', value=''+dataMsj.type, placeholder='')
														// success info warning error
														.col-md-12
															button#showtoast.btn.green(type='button ') Show Toast

block scripts
	// BEGIN PAGE LEVEL PLUGINS
	script(src='/assets/global/plugins/moment.min.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js', type='text/javascript')
	script(src='/assets/global/plugins/jquery.sparkline.min.js', type='text/javascript')
	script(src='/assets/global/plugins/fullcalendar/fullcalendar.js', type='text/javascript')
	script(src='/assets/global/plugins/fullcalendar/lang/es.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-toastr/toastr.min.js', type='text/javascript')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/profile.js', type='text/javascript')
	script(src='/assets/pages/scripts/profile-calendar.js', type='text/javascript')
	script(src='/assets/pages/scripts/ui-toastr.js', type='text/javascript')
	// END PAGE LEVEL SCRIPTS
