extends master.pug

block header
	title Re-Tinta | Mis Datos
	// BEGIN PAGE LEVEL PLUGINS
	link(href='/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL STYLES
	link(href='/assets/pages/css/profile.min.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL STYLES

block content
	.page-content-wrapper
		// BEGIN CONTENT BODY
		.page-content
			// BEGIN PAGE HEADER
			// BEGIN THEME PANEL
			// BORRADO
			// END THEME PANEL
			h1.page-title
				| Perfil de Usuario
			// END PAGE HEADER
			.row
				.col-md-12
					// BEGIN PROFILE SIDEBAR
					.profile-sidebar
						// PORTLET MAIN
						.portlet.light.profile-sidebar-portlet
							// SIDEBAR USERPIC
							.profile-userpic
								img.img-responsive(src=dataUser.userAvatar, alt='/avatarsProfile/avatarUnknown.jpg')
							// END SIDEBAR USERPIC
							// SIDEBAR USER TITLE
							.profile-usertitle
								.profile-usertitle-name  #{dataUser.userName} #{dataUser.userLastname} 
								if (dataUser.userProfesion)
									.profile-usertitle-job #{dataUser.userProfesion} 
							// END SIDEBAR USER TITLE
							// SIDEBAR BUTTONS
							//- .profile-userbuttons
							//- 	button.btn.btn-circle.green.btn-sm(type='button') Seguir
							//- 	button.btn.btn-circle.red.btn-sm(type='button') Escribir
							// END SIDEBAR BUTTONS
							// SIDEBAR MENU
							.profile-usermenu
								ul.nav
									li.active
										a(href=`/account:${url}`)
											i.icon-user
											|  Mis Datos
									li
										- var url=dataUser.userName
										a(href=`/myClasses`)
											i.icon-home
											|  Mis Clases
									
							// END MENU
						// END PORTLET MAIN
						// PORTLET MAIN	
						if (dataUser.userAbout)
							.portlet.light
								// STAT
								//.row.list-separated.profile-stat
									.col-md-4.col-sm-4.col-xs-6
										.uppercase.profile-stat-title  85 
										.uppercase.profile-stat-text  Asistencias 
									.col-md-4.col-sm-4.col-xs-6
										.uppercase.profile-stat-title  51 
										.uppercase.profile-stat-text  Seguimientos 
									.col-md-4.col-sm-4.col-xs-6
										.uppercase.profile-stat-title  61 
										.uppercase.profile-stat-text  Clases dadas 
								// END STAT
								div
									h4.profile-desc-title Acerca de #{dataUser.userName}:
									span#myAbout.profile-desc-text  #{dataUser.userAbout} 
								
						// END PORTLET MAIN
					// END BEGIN PROFILE SIDEBAR
					// BEGIN PROFILE CONTENT
					.profile-content
						.row
							.col-md-12
								.portlet.light
									.portlet-title.tabbable-line
										//.caption.caption-md
											i.icon-globe.theme-font.hide
											span.caption-subject.font-blue-madison.bold.uppercase Cuenta/Perfil
										ul.nav.nav-tabs(style='float:left;')
											li.active
												a(href='#tab_1_1', data-toggle='tab') Mis Datos
											li
												a(href='#tab_1_2', data-toggle='tab') Foto de Perfil
											li
												a(href='#tab_1_3', data-toggle='tab') Seguridad
											//li
												a(href='#tab_1_4', data-toggle='tab') Configuración de Privacidad
									.portlet-body
										.tab-content
											// PERSONAL INFO TAB
											#tab_1_1.tab-pane.active
												form(role='form', action='' method='POST')
													.form-group
														label.control-label Nombre
														input.form-control(type='text',required, placeholder='', name='name', value= dataUser.userName)
													.form-group
														label.control-label Apellido
														input.form-control(type='text', required,placeholder='', name='lastname', value= dataUser.userLastname)
													.form-group
														label.control-label Institución
														input.form-control(type='text', placeholder='Universidad, Instituto, Colegio,etc', name='college', value= dataUser.userCollege)
													.form-group
														label.control-label Ciudad/Pueblo
														input.form-control(type='text', placeholder='', name='city', value= dataUser.userCity)
													.form-group
														label.control-label País
														- var country =dataUser.userCountry	
														select.form-control(id='country', name='country', value=dataUser.userCountry)
															option(value='Afghanistan' selected=dataUser.userCountry=='Afghanistan') Afghanistan
															option(value='Albania' selected=dataUser.userCountry=='Albania') Albania
															option(value='Algeria' selected=dataUser.userCountry=='Algeria') Algeria
															option(value='American Samoa' selected=dataUser.userCountry=='American Samoa') American Samoa
															option(value='Andorra' selected=dataUser.userCountry=='Andorra') Andorra
															option(value='Angola' selected=dataUser.userCountry=='Angola') Angola
															option(value='Anguilla' selected=dataUser.userCountry=='Anguilla') Anguilla
															option(value='Argentina' selected=dataUser.userCountry=='Argentina') Argentina
															option(value='Armenia' selected=dataUser.userCountry=='Armenia') Armenia
															option(value='Aruba' selected=dataUser.userCountry=='Aruba') Aruba
															option(value='Australia' selected=dataUser.userCountry=='Australia') Australia
															option(value='Austria' selected=dataUser.userCountry=='Austria') Austria
															option(value='Azerbaijan' selected=dataUser.userCountry=='Azerbaijan') Azerbaijan
															option(value='Bahamas' selected=dataUser.userCountry=='Bahamas') Bahamas
															option(value='Bahrain' selected=dataUser.userCountry=='Bahrain') Bahrain
															option(value='Bangladesh' selected=dataUser.userCountry=='Bangladesh') Bangladesh
															option(value='Barbados' selected=dataUser.userCountry=='Barbados') Barbados
															option(value='Belarus' selected=dataUser.userCountry=='Belarus') Belarus
															option(value='Belgium' selected=dataUser.userCountry=='Belgium') Belgium
															option(value='Belize' selected=dataUser.userCountry=='Belize') Belize
															option(value='Benin' selected=dataUser.userCountry=='Benin') Benin
															option(value='Bermuda' selected=dataUser.userCountry=='Bermuda') Bermuda
															option(value='Bhutan' selected=dataUser.userCountry=='Bhutan') Bhutan
															option(value='Bolivia' selected=dataUser.userCountry=='Bolivia') Bolivia
															option(value='Bosnia and Herzegowina' selected=dataUser.userCountry=='Bosnia and Herzegowina') Bosnia and Herzegowina
															option(value='Botswana' selected=dataUser.userCountry=='Botswana') Botswana
															option(value='Bouvet Island' selected=dataUser.userCountry=='Bouvet Island') Bouvet Island
															option(value='Brazil' selected=dataUser.userCountry=='Brazil') Brazil
															option(value='British Indian Ocean Territory' selected=dataUser.userCountry=='British Indian Ocean Territory') British Indian Ocean Territory
															option(value='Brunei Darussalam' selected=dataUser.userCountry=='Brunei Darussalam') Brunei Darussalam
															option(value='Bulgaria' selected=dataUser.userCountry=='Bulgaria') Bulgaria
															option(value='Burkina Faso' selected=dataUser.userCountry=='Burkina Faso') Burkina Faso
															option(value='Burundi' selected=dataUser.userCountry=='Burundi') Burundi
															option(value='Cambodia' selected=dataUser.userCountry=='Cambodia') Cambodia
															option(value='Cameroon' selected=dataUser.userCountry=='Cameroon') Cameroon
															option(value='Canada' selected=dataUser.userCountry=='Canada') Canada
															option(value='Cape Verde' selected=dataUser.userCountry=='Cape Verde') Cape Verde
															option(value='Cayman Islands' selected=dataUser.userCountry=='Cayman Islands') Cayman Islands
															option(value='Central African Republic' selected=dataUser.userCountry=='Central African Republic') Central African Republic
															option(value='Chad' selected=dataUser.userCountry=='Chad') Chad
															option(value='Chile' selected=dataUser.userCountry=='Chile') Chile
															option(value='China' selected=dataUser.userCountry=='China') China
															option(value='Christmas Island' selected=dataUser.userCountry=='Christmas Island') Christmas Island
															option(value='Cocos (Keeling) Islands' selected=dataUser.userCountry=='Cocos (Keeling) Islands') Cocos (Keeling) Islands
															option(value='Colombia' selected=dataUser.userCountry=='Colombia') Colombia
															option(value='Comoros' selected=dataUser.userCountry=='Comoros') Comoros
															option(value='Congo' selected=dataUser.userCountry=='Congo') Congo
															option(value='The Democratic Republic of the Congo' selected=dataUser.userCountry=='The Democratic Republic of the Congo') The Democratic Republic of the Congo
															option(value='Cook Islands' selected=dataUser.userCountry=='Cook Islands') Cook Islands
															option(value='Costa Rica' selected=dataUser.userCountry=='Costa Rica') Costa Rica
															option(value="Cote d'Ivoire" selected=dataUser.userCountry=="Cote d'Ivoire") Cote d'Ivoire
															option(value='Croatia (Hrvatska)' selected=dataUser.userCountry=='Croatia (Hrvatska)') Croatia (Hrvatska)
															option(value='Cuba' selected=dataUser.userCountry=='Cuba') Cuba
															option(value='Cyprus' selected=dataUser.userCountry=='Cyprus') Cyprus
															option(value='Czech Republic' selected=dataUser.userCountry=='Czech Republic') Czech Republic
															option(value='Denmark' selected=dataUser.userCountry=='Denmark') Denmark
															option(value='Djibouti' selected=dataUser.userCountry=='Djibouti') Djibouti
															option(value='Dominica' selected=dataUser.userCountry=='Dominica') Dominica
															option(value='Dominican Republic' selected=dataUser.userCountry=='Dominican Republic') Dominican Republic
															option(value='Ecuador' selected=dataUser.userCountry=='Ecuador') Ecuador
															option(value='Egypt' selected=dataUser.userCountry=='Egypt') Egypt
															option(value='El Salvador' selected=dataUser.userCountry=='El Salvador') El Salvador
															option(value='Equatorial Guinea' selected=dataUser.userCountry=='Equatorial Guinea') Equatorial Guinea
															option(value='Eritrea' selected=dataUser.userCountry=='Eritrea') Eritrea
															option(value='Estonia' selected=dataUser.userCountry=='Estonia') Estonia
															option(value='Ethiopia' selected=dataUser.userCountry=='Ethiopia') Ethiopia
															option(value='Falkland Islands (Malvinas)' selected=dataUser.userCountry=='Falkland Islands (Malvinas)') Falkland Islands (Malvinas)
															option(value='Faroe Islands' selected=dataUser.userCountry=='Faroe Islands') Faroe Islands
															option(value='Fiji' selected=dataUser.userCountry=='Fiji') Fiji
															option(value='Finland' selected=dataUser.userCountry=='Finland') Finland
															option(value='France' selected=dataUser.userCountry=='France') France
															option(value='French Guiana' selected=dataUser.userCountry=='French Guiana') French Guiana
															option(value='French Polynesia' selected=dataUser.userCountry=='French Polynesia') French Polynesia
															option(value='French Southern Territories' selected=dataUser.userCountry=='French Southern Territories') French Southern Territories
															option(value='Gabon' selected=dataUser.userCountry=='Gabon') Gabon
															option(value='Gambia' selected=dataUser.userCountry=='Gambia') Gambia
															option(value='Georgia' selected=dataUser.userCountry=='Georgia') Georgia
															option(value='Germany' selected=dataUser.userCountry=='Germany') Germany
															option(value='Ghana' selected=dataUser.userCountry=='Ghana') Ghana
															option(value='Gibraltar' selected=dataUser.userCountry=='Gibraltar') Gibraltar
															option(value='Greece' selected=dataUser.userCountry=='Greece') Greece
															option(value='Greenland' selected=dataUser.userCountry=='Greenland') Greenland
															option(value='Grenada' selected=dataUser.userCountry=='Grenada') Grenada
															option(value='Guadeloupe' selected=dataUser.userCountry=='Guadeloupe') Guadeloupe
															option(value='Guam' selected=dataUser.userCountry=='Guam') Guam
															option(value='Guatemala' selected=dataUser.userCountry=='Guatemala') Guatemala
															option(value='Guinea' selected=dataUser.userCountry=='Guinea') Guinea
															option(value='Guinea-Bissau' selected=dataUser.userCountry=='Guinea-Bissau') Guinea-Bissau
															option(value='Guyana' selected=dataUser.userCountry=='Guyana') Guyana
															option(value='Haiti' selected=dataUser.userCountry=='Haiti') Haiti
															option(value='Heard and Mc Donald Islands' selected=dataUser.userCountry=='Heard and Mc Donald Islands') Heard and Mc Donald Islands
															option(value='Holy See (Vatican City State)' selected=dataUser.userCountry=='Holy See (Vatican City State)') Holy See (Vatican City State)
															option(value='Honduras' selected=dataUser.userCountry=='Honduras') Honduras
															option(value='Hong Kong' selected=dataUser.userCountry=='Hong Kong') Hong Kong
															option(value='Hungary' selected=dataUser.userCountry=='Hungary') Hungary
															option(value='Iceland' selected=dataUser.userCountry=='Iceland') Iceland
															option(value='India' selected=dataUser.userCountry=='India') India
															option(value='Indonesia' selected=dataUser.userCountry=='Indonesia') Indonesia
															option(value='Iran' selected=dataUser.userCountry=='Iran') Iran
															option(value='Iraq' selected=dataUser.userCountry=='Iraq') Iraq
															option(value='Ireland' selected=dataUser.userCountry=='Ireland') Ireland
															option(value='Israel' selected=dataUser.userCountry=='Israel') Israel
															option(value='Italy' selected=dataUser.userCountry=='Italy') Italy
															option(value='Jamaica' selected=dataUser.userCountry=='Jamaica') Jamaica
															option(value='Japan' selected=dataUser.userCountry=='Japan') Japan
															option(value='Jordan' selected=dataUser.userCountry=='Jordan') Jordan
															option(value='Kazakhstan' selected=dataUser.userCountry=='Kazakhstan') Kazakhstan
															option(value='Kenya' selected=dataUser.userCountry=='Kenya') Kenya
															option(value='Kiribati' selected=dataUser.userCountry=='Kiribati') Kiribati
															option(value="Democratic People's Republic of Korea" selected=dataUser.userCountry=="Democratic People's Republic of Korea") Democratic People's Republic of Korea
															option(value='Republic of Korea' selected=dataUser.userCountry=='Republic of Korea') Republic of Korea
															option(value='Kuwait' selected=dataUser.userCountry=='Kuwait') Kuwait
															option(value='Kyrgyzstan' selected=dataUser.userCountry=='Kyrgyzstan') Kyrgyzstan
															option(value="Lao People's Democratic Republic" selected=dataUser.userCountry=="Lao People's Democratic Republic") Lao People's Democratic Republic
															option(value='Latvia' selected=dataUser.userCountry=='Latvia') Latvia
															option(value='Lebanon' selected=dataUser.userCountry=='Lebanon') Lebanon
															option(value='Lesotho' selected=dataUser.userCountry=='Lesotho') Lesotho
															option(value='Liberia' selected=dataUser.userCountry=='Liberia') Liberia
															option(value='Libyan Arab Jamahiriya' selected=dataUser.userCountry=='Libyan Arab Jamahiriya') Libyan Arab Jamahiriya
															option(value='Liechtenstein' selected=dataUser.userCountry=='Liechtenstein') Liechtenstein
															option(value='Lithuania' selected=dataUser.userCountry=='Lithuania') Lithuania
															option(value='Luxembourg' selected=dataUser.userCountry=='Luxembourg') Luxembourg
															option(value='Macau' selected=dataUser.userCountry=='Macau') Macau
															option(value='Macedonia' selected=dataUser.userCountry=='Macedonia') Macedonia
															option(value='Madagascar' selected=dataUser.userCountry=='Madagascar') Madagascar
															option(value='Malawi' selected=dataUser.userCountry=='Malawi') Malawi
															option(value='Malaysia' selected=dataUser.userCountry=='Malaysia') Malaysia
															option(value='Maldives' selected=dataUser.userCountry=='Maldives') Maldives
															option(value='Mali' selected=dataUser.userCountry=='Mali') Mali
															option(value='Malta' selected=dataUser.userCountry=='Malta') Malta
															option(value='Marshall Islands' selected=dataUser.userCountry=='Marshall Islands') Marshall Islands
															option(value='Martinique' selected=dataUser.userCountry=='Martinique') Martinique
															option(value='Mauritania' selected=dataUser.userCountry=='Mauritania') Mauritania
															option(value='Mauritius' selected=dataUser.userCountry=='Mauritius') Mauritius
															option(value='Mayotte' selected=dataUser.userCountry=='Mayotte') Mayotte
															option(value='Mexico' selected=dataUser.userCountry=='Mexico') Mexico
															option(value='Micronesia' selected=dataUser.userCountry=='Micronesia') Micronesia
															option(value='Moldova' selected=dataUser.userCountry=='Moldova') Moldova
															option(value='Monaco' selected=dataUser.userCountry=='Monaco') Monaco
															option(value='Mongolia' selected=dataUser.userCountry=='Mongolia') Mongolia
															option(value='Montserrat' selected=dataUser.userCountry=='Montserrat') Montserrat
															option(value='Morocco' selected=dataUser.userCountry=='Morocco') Morocco
															option(value='Mozambique' selected=dataUser.userCountry=='Mozambique') Mozambique
															option(value='Myanmar' selected=dataUser.userCountry=='Myanmar') Myanmar
															option(value='Namibia' selected=dataUser.userCountry=='Namibia') Namibia
															option(value='Nauru' selected=dataUser.userCountry=='Nauru') Nauru
															option(value='Nepal' selected=dataUser.userCountry=='Nepal') Nepal
															option(value='Netherlands' selected=dataUser.userCountry=='Netherlands') Netherlands
															option(value='Netherlands Antilles' selected=dataUser.userCountry=='Netherlands Antilles') Netherlands Antilles
															option(value='New Caledonia' selected=dataUser.userCountry=='New Caledonia') New Caledonia
															option(value='New Zealand' selected=dataUser.userCountry=='New Zealand') New Zealand
															option(value='Nicaragua' selected=dataUser.userCountry=='Nicaragua') Nicaragua
															option(value='Niger' selected=dataUser.userCountry=='Niger') Niger
															option(value='Nigeria' selected=dataUser.userCountry=='Nigeria') Nigeria
															option(value='Niue' selected=dataUser.userCountry=='Niue') Niue
															option(value='Norfolk Island' selected=dataUser.userCountry=='Norfolk Island') Norfolk Island
															option(value='Northern Mariana Islands' selected=dataUser.userCountry=='Northern Mariana Islands') Northern Mariana Islands
															option(value='Norway' selected=dataUser.userCountry=='Norway') Norway
															option(value='Oman' selected=dataUser.userCountry=='Oman') Oman
															option(value='Pakistan' selected=dataUser.userCountry=='Pakistan') Pakistan
															option(value='Palau' selected=dataUser.userCountry=='Palau') Palau
															option(value='Panama' selected=dataUser.userCountry=='Panama') Panama
															option(value='Papua New Guinea' selected=dataUser.userCountry=='Papua New Guinea') Papua New Guinea
															option(value='Paraguay' selected=dataUser.userCountry=='Paraguay') Paraguay
															option(value='Peru' selected=dataUser.userCountry=='Peru') Peru
															option(value='Philippines' selected=dataUser.userCountry=='Philippines') Philippines
															option(value='Pitcairn' selected=dataUser.userCountry=='Pitcairn') Pitcairn
															option(value='Poland' selected=dataUser.userCountry=='Poland') Poland
															option(value='Portugal' selected=dataUser.userCountry=='Portugal') Portugal
															option(value='Puerto Rico' selected=dataUser.userCountry=='Puerto') Puerto Rico
															option(value='Qatar' selected=dataUser.userCountry=='Qatar') Qatar
															option(value='Reunion' selected=dataUser.userCountry=='Reunion') Reunion
															option(value='Romania' selected=dataUser.userCountry=='Romania') Romania
															option(value='Russian Federation' selected=dataUser.userCountry=='Russian Federation') Russian Federation
															option(value='Rwanda' selected=dataUser.userCountry=='Rwanda') Rwanda
															option(value='Saint Kitts and Nevis' selected=dataUser.userCountry=='Saint Kitts and Nevis') Saint Kitts and Nevis
															option(value='Saint Lucy' selected=dataUser.userCountry=='Saint Lucy') Saint Lucy
															option(value='Saint Vincent and the Grenadines' selected=dataUser.userCountry=='Saint Vincent and the Grenadines') Saint Vincent and the Grenadines
															option(value='Samoa' selected=dataUser.userCountry=='Samoa') Samoa
															option(value='San Marino' selected=dataUser.userCountry=='San Marino') San Marino
															option(value='Sao Tome and Principe' selected=dataUser.userCountry=='Sao Tome and Principe') Sao Tome and Principe
															option(value='Saudi Arabia' selected=dataUser.userCountry=='Saudi Arabia') Saudi Arabia
															option(value='Senegal' selected=dataUser.userCountry=='Senegal') Senegal
															option(value='Seychelles' selected=dataUser.userCountry=='Seychelles') Seychelles
															option(value='Sierra Leone' selected=dataUser.userCountry=='Sierra Leone') Sierra Leone
															option(value='Singapore' selected=dataUser.userCountry=='Singapore') Singapore
															option(value='Slovakia (Slovak Republic)' selected=dataUser.userCountry=='Slovakia (Slovak Republic)') Slovakia (Slovak Republic)
															option(value='Slovenia' selected=dataUser.userCountry=='Slovenia') Slovenia
															option(value='Solomon Islands' selected=dataUser.userCountry=='Solomon Islands') Solomon Islands
															option(value='Somalia' selected=dataUser.userCountry=='Somalia') Somalia
															option(value='South Africa' selected=dataUser.userCountry=='South Africa') South Africa
															option(value='South Georgia and the South Sandwich Islands' selected=dataUser.userCountry=='South Georgia and the South Sandwich Islands') South Georgia and the South Sandwich Islands
															option(value='Spain' selected=dataUser.userCountry=='Spain') Spain
															option(value='Sri Lanka' selected=dataUser.userCountry=='Sri Lanka') Sri Lanka
															option(value='St. Helena' selected=dataUser.userCountry=='St. Helena') St. Helena
															option(value='St. Pierre and Miquelon' selected=dataUser.userCountry=='St. Pierre and Miquelon') St. Pierre and Miquelon
															option(value='Sudan' selected=dataUser.userCountry=='Sudan') Sudan
															option(value='Suriname' selected=dataUser.userCountry=='Suriname') Suriname
															option(value='Svalbard and Jan Mayen Islands' selected=dataUser.userCountry=='Svalbard and Jan Mayen Islands') Svalbard and Jan Mayen Islands
															option(value='Swaziland' selected=dataUser.userCountry=='Swaziland') Swaziland
															option(value='Sweden' selected=dataUser.userCountry=='Sweden') Sweden
															option(value='Switzerland' selected=dataUser.userCountry=='Switzerland') Switzerland
															option(value='Syrian Arab Republic' selected=dataUser.userCountry=='Syrian Arab Republic') Syrian Arab Republic
															option(value='Taiwan' selected=dataUser.userCountry=='Taiwan') Taiwan
															option(value='Tajikistan' selected=dataUser.userCountry=='Tajikistan') Tajikistan
															option(value='Tanzania' selected=dataUser.userCountry=='Tanzania') Tanzania
															option(value='Thailand' selected=dataUser.userCountry=='Thailand') Thailand
															option(value='Togo' selected=dataUser.userCountry=='Togo') Togo
															option(value='Tokelau' selected=dataUser.userCountry=='Tokelau') Tokelau
															option(value='Tonga' selected=dataUser.userCountry=='Tonga') Tonga
															option(value='Trinidad and Tobago' selected=dataUser.userCountry=='Trinidad and Tobago') Trinidad and Tobago
															option(value='Tunisia' selected=dataUser.userCountry=='Tunisia') Tunisia
															option(value='Turkey' selected=dataUser.userCountry=='Turkey') Turkey
															option(value='Turkmenistan' selected=dataUser.userCountry=='Turkmenistan') Turkmenistan
															option(value='Turks and Caicos Islands' selected=dataUser.userCountry=='Turks and Caicos Islands') Turks and Caicos Islands
															option(value='Tuvalu' selected=dataUser.userCountry=='Tuvalu') Tuvalu
															option(value='Uganda' selected=dataUser.userCountry=='Uganda') Uganda
															option(value='Ukraine' selected=dataUser.userCountry=='Ukraine') Ukraine
															option(value='United Arab Emirates' selected=dataUser.userCountry=='United Arab Emirates') United Arab Emirates
															option(value='United Kingdom' selected=dataUser.userCountry=='United Kingdom') United Kingdom
															option(value='United States' selected=dataUser.userCountry=='United States') United States
															option(value='United States Minor Outlying Islands' selected=dataUser.userCountry=='United States Minor Outlying Islands') United States Minor Outlying Islands
															option(value='Uruguay' selected=dataUser.userCountry=='Uruguay') Uruguay
															option(value='Uzbekistan' selected=dataUser.userCountry=='Uzbekistan') Uzbekistan
															option(value='Vanuatu' selected=dataUser.userCountry=='Vanuatu') Vanuatu
															option(value='Venezuela' selected=dataUser.userCountry=='Venezuela') Venezuela
															option(value='Vietnam' selected=dataUser.userCountry=='Vietnam') Vietnam
															option(value='Virgin Islands (British)' selected=dataUser.userCountry=='Virgin Islands (British)') Virgin Islands (British)
															option(value='Virgin Islands (U.S.)' selected=dataUser.userCountry=='Virgin Islands (U.S.)') Virgin Islands (U.S.)
															option(value='Wallis and Futuna Islands' selected=dataUser.userCountry=='Wallis and Futuna Islands') Wallis and Futuna Islands
															option(value='Western Sahara' selected=dataUser.userCountry=='Western Sahara') Western Sahara
															option(value='Yemen' selected=dataUser.userCountry=='Yemen') Yemen
															option(value='Zambia' selected=dataUser.userCountry=='Zambia') Zambia
															option(value='Zimbabwe' selected=dataUser.userCountry=='Zimbabwe') Zimbabwe
															option(value='Otro País' selected=dataUser.userCountry=='Otro País') Otro País
													.form-group
														label.control-label Sobre mí
														textarea.form-control(rows='3', placeholder='', name='about') #{dataUser.userAbout}
													.form-group
														label.control-label Profesión
														input.form-control(type='text', name='profesion', placeholder='Profesor/Estudiante', value=(dataUser.userProfesion)?dataUser.userProfesion:'')
													.margiv-top-10
														input(type='hidden', name='_method', value='PUT')
														button.btn.blue(type='submit') Guardar
														a.btn.default(href='javascript:;')  Cancelar
											// END PERSONAL INFO TAB
											// CHANGE AVATAR TAB
											#tab_1_2.tab-pane
												p
													| Selecciona una imagen desde tus archivos para cambiar tu foto de perfil
												form(action='/cambiarAvatar', role='form', method='POST', enctype='multipart/form-data')
													.form-group
														.fileinput.fileinput-new(data-provides='fileinput')
															.fileinput-new.thumbnail(style='width: 200px; height: 150px;')
																img(alt='https://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image', src=dataUser.userAvatar)
															.fileinput-preview.fileinput-exists.thumbnail(style='max-width: 200px; max-height: 150px;')  
															div
																span.btn.default.btn-file
																	span.fileinput-new  Selecciona una imagen
																	span.fileinput-exists  Cambiar
																	input(type='file', name='avatar')
																a.btn.default.fileinput-exists(href='javascript:;', data-dismiss='fileinput')  Remover 
													.margin-top-10
														button.btn.blue(type='submit') Guardar
														a.btn.default(href='javascript:;')  Cancelar
											// END CHANGE AVATAR TAB
											// CHANGE PASSWORD TAB
											#tab_1_3.tab-pane
												form(action='/cambiarPassword' method='POST')
													.form-group
														label.control-label Contraseña actual
														input.form-control(type='password', name='oldPassword')
													.form-group
														label.control-label Nueva Contraseña
														input.form-control(type='password', name='newPassword')
													.form-group
														label.control-label Escribe de nuevo la contraseña
														input.form-control(type='password', name='reNewPassword')
													.margin-top-10
														input(type='hidden', name='_method', value='PUT')
														button.btn.blue(type='submit') Aceptar
														a.btn.default(href='javascript:;')  Cancelar

											// END CHANGE PASSWORD TAB
											// PRIVACY SETTINGS TAB
											//#tab_1_4.tab-pane
												form(action='#')
													table.table.table-light.table-hover
														tr
															td  Deseas recibir notificaciones de esta página por E-mail 
															td
																.mt-radio-inline
																	label.mt-radio
																		input(type='radio', name='optionsRadios1', value='option1')
																		|  Si
																		span
																	label.mt-radio
																		input(type='radio', name='optionsRadios1', value='option2', checked='')
																		|  No
																		span
														tr
															td  Deseas Compartir toda su Información 
															td
																.mt-radio-inline
																	label.mt-radio
																		input(type='radio', name='optionsRadios11', value='option1')
																		|  Si
																		span
																	label.mt-radio
																		input(type='radio', name='optionsRadios11', value='option2', checked='')
																		|  No
																		span
														tr
															td  Deseas mostrar tu avatar a todos 
															td
																.mt-radio-inline
																	label.mt-radio
																		input(type='radio', name='optionsRadios21', value='option1')
																		|  Si
																		span
																	label.mt-radio
																		input(type='radio', name='optionsRadios21', value='option2', checked='')
																		|  No
																		span
														tr
															td  Deseas enviar notificaciones de eventos importantes a quienes te siguen 
															td
																.mt-radio-inline
																	label.mt-radio
																		input(type='radio', name='optionsRadios31', value='option1')
																		|  Si
																		span
																	label.mt-radio
																		input(type='radio', name='optionsRadios31', value='option2', checked='')
																		|  No
																		span
													// end profile-settings
													.margin-top-10
														a.btn.blue(href='javascript:;')  Guardar 
														a.btn.default(href='javascript:;')  Cancelar 
											// END PRIVACY SETTINGS TAB
					// END PROFILE CONTENT
		// END CONTENT BODY

block scripts
	// BEGIN PAGE LEVEL PLUGINS
	script(src='/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js', type='text/javascript')
	script(src='/assets/global/plugins/jquery.sparkline.min.js', type='text/javascript')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/profile.min.js', type='text/javascript')
	script(src='/assets/pages/scripts/profileAccount.js', type='text/javascript')
	// END PAGE LEVEL SCRIPTS

