extends master.pug

block header
	title Re-Tinta | Asistencia
	// BEGIN PAGE LEVEL PLUGINS
	link(href='/assets/global/plugins/datatables/datatables.min.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css', rel='stylesheet', type='text/css')
	link(href='/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css', rel='stylesheet', type='text/css')
	// END PAGE LEVEL PLUGINS

block content
	.page-content-wrapper
			// BEGIN CONTENT BODY
			.page-content
				// BEGIN PAGE HEADER
				// BEGIN THEME PANEL
				// END THEME PANEL
				h1.page-title
					//| Informe Asistencia
					| Reporte de Asistencias de Clase: "#{className}"
					//small Asistencia Clase 
				// END PAGE HEADER
				.row
					.col-md-12
						// BEGIN EXAMPLE TABLE PORTLET BEGIN CONTENT
						.portlet.light
							.portlet-title
								//.caption.font-dark
									i.icon-settings.font-dark
									span.caption-subject.bold.uppercase Informe Asistencia
								.tools  
							.portlet-body
								table#sample_1.table.table-striped.table-bordered.table-hover
									thead
										tr
											th Nombre
											th Apellido
											th E-mail
											th Pais
											th Permanencia
											th Valoro la clase?
											th Entro a clase online?
											th Cumplio la asistencia?
									tbody
										each u in dataUsers
											tr
												td #{u.userName}
												td #{u.userLastname}
												td #{u.userMail}
												td #{u.userCountry}
												td #{u.hourOutClass}
												td #{u.voted}
												td #{u.isClassOnline}
												td #{u.wasToEnd}
						// END EXAMPLE TABLE PORTLET
				// End: life time stats

block scripts
	// BEGIN PAGE LEVEL PLUGINS
	script(src='/assets/global/scripts/datatable.js', type='text/javascript')
	script(src='/assets/global/plugins/datatables/datatables.min.js', type='text/javascript')
	script(src='/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js', type='text/javascript')
	script(src='/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js', type='text/javascript')
	// END PAGE LEVEL PLUGINS
	// BEGIN PAGE LEVEL SCRIPTS
	script(src='/assets/pages/scripts/table-datatables-buttons.js', type='text/javascript')
	// END PAGE LEVEL SCRIPTS
